<%= simple_form_for scorecard, url: edit_url, html: { autocomplete: 'off' } do |f| %>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
	      <th width="20%">Flight</th>
	      <th width="20%">Gross Score</th>
	      <th width="20%">Net Score</th>
	      <th width="20%">Par</th>
	      <th width="20%">Course Handicap</th>
			</tr>
		</thead>
		<tbody>
			<tr>
	      <td><%= (tournament_day.flight_for_player(scorecard.golf_outing.user)&.flight_number) %></td>
	      <td><%= scorecard.gross_score %></td>
	      <td><%= scorecard.net_score %></td>
	      <td><%= tournament_day.scorecard_base_scoring_rule.course_holes.map { |hole| hole.par }.sum %></td>
	      <td>
	        <%= f.simple_fields_for :golf_outing, scorecard.golf_outing do |g| %>
	          <%= g.input :course_handicap, label: false %>
	          <small>The handicap may be updated by GHIN or manual re-calculation unless it is locked from editing.</small>

            <%= g.input :handicap_lock, label: "Lock This Handicap" %>
	        <% end %>
	      </td>
			</tr>
		</tbody>
	</table>

	<% split_holes.each_with_index do |split, j| %>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
	      <th>Hole</th>
	      <% split.each do |hole| -%>
	      <th><%= hole.hole_number %></th>
	      <% end -%>
	      <th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
	      <td><%= scorecard.golf_outing.user.complete_name %></td>
	      <% split_scores[j].each do |score| %>
	        <%= f.simple_fields_for :scores, score do |s| %>
	        <td><%= s.input :strokes, label: false, as: :string %></td>
	        <% end %>
	      <% end %>
	      <td><%= split_scores[j].map {|score| score.strokes }.sum %></td>
			</tr>
		</tbody>
	</table>
	<% end -%>

	<%= f.button :submit, class: 'btn btn-default' %>

	<%= link_to 'Toggle Disqualify', league_tournament_tournament_day_scorecard_disqualify_path(@tournament.league, @tournament, @tournament_day, scorecard), class: "btn btn-warning", method: :patch, role: "button" %>

	<%= link_to 'Next Golfer >>', edit_league_tournament_tournament_day_scorecard_path(@tournament.league, @tournament, @tournament_day, @next_scorecard), class: 'btn btn-success' unless @next_scorecard.blank? %>
<% end %>
