<table class="table table-striped table-bordered">
	<thead>
		<tr>
      <th width="25%">Score</th>
      <th width="25%">Par</th>
      <th width="25%">Men's Handicap</th>
      <th width="25%">Women's Handicap</th>
		</tr>
	</thead>
	<tbody>
		<tr>
      <td><%= scorecard.scores.map {|score| score.strokes }.sum %></td>
      <td><%= tournament.course_holes.map {|hole| hole.par }.sum %></td>
      <td><%= tournament.course_holes.map {|hole| hole.mens_handicap }.sum %></td>
      <td><%= tournament.course_holes.map {|hole| hole.womens_handicap }.sum %></td>
		</tr>
	</tbody>
</table>

<% split_holes.each_with_index do |split, j| %>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
      <th width="20%">Hole</th>
      <% split.each do |hole| -%>
      <th width="<%= 70 / split.count %>%"><%= hole.hole_number %></th>
      <% end -%>
      <th width="10%">Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
      <td><%= scorecard.golf_outing.user.complete_name %></td>
      <% split_scores[j].each do |score| -%>
      <td><%= score.strokes %></td>
      <% end -%>
      <td><%= split_scores[j].map {|score| score.strokes }.sum %></td>
		</tr>
	</tbody>
  <tfoot>
		<tr>
			<th>Par</th>
      <% split.each do |hole| -%>
      <th><%= hole.par %></th>
      <% end -%>
      <th><%= split.map {|hole| hole.par }.sum %></th>
		</tr>
		<tr>
			<th>Men's Handicap</th>
      <% split.each do |hole| -%>
      <th><%= hole.mens_handicap %></th>
      <% end -%>
      <th><%= split.map {|hole| hole.mens_handicap }.sum %></th>
		</tr>
		<tr>
			<th>Women's Handicap</th>
      <% split.each do |hole| -%>
      <th><%= hole.womens_handicap %></th>
      <% end -%>
      <th><%= split.map {|hole| hole.womens_handicap }.sum %></th>
		</tr>
  </tfoot>
</table>
<% end -%>