<p><strong>Tee-Time: <%= p.tee_time.to_s(:date_and_time) %> | Tees: <%= p.tee_names %> | <%= p.scoring_rule_name %></strong></p>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
      <th width="3%"><%= flight_or_group(p.tournament) %></th>
      <th width="5%">Hole<br/>Yards</th>
      <% p.sliced_scores.each_with_index do |split, j| %>
        <% split.each do |score| -%>
        <th width="<%= 70 / p.score_count %>%"><%= score.course_hole.hole_number %><br/><%= score.course_hole.yards_for_flight(p.flight) %></th>
        <% end -%>
        <th width="6%">
          <% if j == 0 -%>
            Out
          <% else -%>
            Out / In
          <% end -%>
        </th>
      <% end -%>

      <th width="3%">HDCP</th>

      <% if p.includes_extra_scoring_column? -%>
        <th width="5%">&nbsp;</th>
      <% end -%>

      <th width="7%">Gross</th>
		</tr>
	</thead>
	<tbody>
    <% p.all_scorecards.each do |scorecard| -%>
      <tr data-scorecard-id="<%= scorecard.id %>" data-scorecard-scores-count="<%= scorecard.scores.count %>">
        <td>
          <%= scorecard.flight_number %>
          <% if scorecard.matchup_position_indicator.present? %>
            <span class="label label-info"><%= scorecard.matchup_position_indicator %></span>
          <% end %>
        </td>
        <% if scorecard.should_highlight? -%>
          <td><em><%= scorecard.name %></em></td>
        <% else -%>
          <td><%= scorecard.name %></td>
        <% end -%>
        <% scorecard.scores.each_slice(p.number_of_holes / 2).to_a.each_with_index do |split, j| %>
          <% split.each do |score| -%>
            <td data-score-id="<%= score.id %>">
              <%= link_to_unless !p.user_can_edit_scorecard?(scorecard), "#{scorecard_score_helper(score, print_mode)}", "#", {"data-toggle" => "modal", "data-target" => "#Group#{score.course_hole.id}"} %>

              <% if handicap_allowance_strokes_for_hole(handicap_allowance_for_scorecard(scorecard), score.course_hole).present? -%>
                  </br><span class="label label-success"><%= handicap_allowance_strokes_for_hole(handicap_allowance_for_scorecard(scorecard), score.course_hole) * -1 %></span>
              <% end -%>

              <% unless score.associated_text.blank? -%>
                </br><em><%= score.associated_text %></em>
              <% end -%>

              <% p.scorecard_score_cell_partials.each do |partial| %>
                </br>
                <%= render partial: partial[:partial], locals: {scoring_rule: partial[:rule], score: score, scorecards: p.all_scorecards} %>
              <% end %>
            </td>
          <% end -%>
          <td>
            <% if scorecard.should_subtotal? -%>
              <strong name="subtotal-<%= j %>">
                <% if j.zero? -%>
                  <%= score_print_helper(scorecard.front_nine_score, print_mode) %> <%= front_nine_handicap_for_scorecard(scorecard, print_mode) %>
                <% else -%>
                  <%= score_print_helper(scorecard.front_nine_score, print_mode) %> <%= front_nine_handicap_for_scorecard(scorecard, print_mode) %>
                  <br/>
                  <%= score_print_helper(scorecard.back_nine_score, print_mode) %> <%= back_nine_handicap_for_scorecard(scorecard, print_mode) %>
                <% end -%>
              </strong>
            <% else -%>
              &nbsp;
            <% end -%>
          </td>
        <% end -%>

        <td><%= scorecard.course_handicap %></td>

        <% if p.includes_extra_scoring_column? -%>
          <td><strong><%= scorecard.extra_scoring_column_data %></strong></td>
        <% end -%>

        <td>
          <% if scorecard.should_total? -%>
            <strong><%= score_print_helper(scorecard.scores.map {|score| score.strokes }.sum, print_mode) %></strong>
            <% if scorecard.net_score > 0 -%>
            <span class="label label-success">
              <%= score_print_helper(scorecard.net_score, print_mode) %>
            </span>
            <% end -%>
          <% else -%>
            &nbsp;
          <% end -%>
        </td>
      </tr>
    <% end -%>
	</tbody>
  <tfoot>
		<tr>
      <th>&nbsp;</th>
			<th>Par</th>
      <% p.sliced_scores.each_with_index do |split, j| %>
        <% split.each do |score| -%>
          <th><%= score.course_hole.par %></th>
        <% end -%>
        <th>&nbsp;</th>
      <% end -%>

      <th>&nbsp;</th>

      <% if p.includes_extra_scoring_column? -%>
        <th>&nbsp;</th>
      <% end -%>

      <th><%= p.scorecard_total_par %></th>
		</tr>
		<tr>
      <th>HDCP</th>
			<th>Men</th>
      <% p.sliced_scores.each_with_index do |split, j| %>
        <% split.each do |score| -%>
          <th><%= score.course_hole.mens_handicap %></th>
        <% end -%>
        <th>&nbsp;</th>
      <% end -%>

      <th>&nbsp;</th>

      <% if p.includes_extra_scoring_column? -%>
        <th>&nbsp;</th>
      <% end -%>
      <th>&nbsp;</th>
		</tr>
		<tr>
      <th>&nbsp;</th>
			<th>Women</th>
      <% p.sliced_scores.each_with_index do |split, j| %>
        <% split.each do |score| -%>
          <th><%= score.course_hole.womens_handicap %></th>
        <% end -%>
        <th>&nbsp;</th>
      <% end -%>

      <th>&nbsp;</th>

      <% if p.includes_extra_scoring_column? -%>
        <th>&nbsp;</th>
      <% end -%>

      <th>&nbsp;</th>
		</tr>
  </tfoot>
</table>

<!-- Game Type Support -->
<% p.scorecard_post_embed_partials.each do |partial| %>
  <%= render partial: partial[:partial], locals: {scoring_rule: partial[:rule], scorecards: p.all_scorecards, course_holes: p.course_holes} %>
<% end %>

<!-- Finalize Buttons -->
<% if p.show_finalization? -%>
  <p><%= link_to 'Finalize Scorecard', play_scorecard_finalize_scorecard_path(p.primary_scorecard), class: 'btn btn-danger', method: :patch, data: { confirm: 'Are you sure you want to finalize your scorecard? This indicates to the league administrator that you are ready to be ranked for this tournament.' } %></p>
<% end -%>

<!-- Modals -->
<% if p.user_can_edit_any_scorecard?-%>
  <% cache(cache_key_for_scorecard(p.primary_scorecard.id)) do %>
    <% p.course_holes.each do |course_hole| %>
      <%= render partial: '/shared/scorecards/standard_edit_modal', locals: {primary_scorecard: p.primary_scorecard, course_hole: course_hole, scores: scores_for_scorecards_for_course_hole(p.all_scorecards, course_hole), edit_url: play_scorecard_path(p.primary_scorecard, original_scorecard_id: p.primary_scorecard.id) } %>
    <% end -%>
  <% end %>
<% end -%>
