<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="33%">Flight</th>
      <th width="33%">Tee-Time</th>
      <th width="33%">Course Handicap</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= primary_scorecard.tournament.flight_for_player(primary_scorecard.golf_outing.user).flight_number %></td>
      <td><%= primary_scorecard.golf_outing.team.tournament_group.tee_time_at.to_s(:date_and_time) %></td>
      <td><%= primary_scorecard.golf_outing.course_handicap %></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
      <th width="5%">Hole</th>
      <% primary_scorecard.scores.each_slice(primary_scorecard.tournament.course_holes.count / 2).to_a.each_with_index do |split, j| %>
        <% split.each do |score| -%>
        <th width="<%= 70 / primary_scorecard.scores.count %>%"><%= score.course_hole.hole_number %></th>
        <% end -%>
        <th width="5%">&nbsp;</th>
      <% end -%>
      
      <% if primary_scorecard.includes_extra_scoring_column? -%>
        <th width="5%">&nbsp;</th>
      <% end -%>
      
      <th width="5%">Totals</th>
		</tr>
	</thead>
	<tbody>
    <% other_scorecards.insert(0, primary_scorecard).each do |scorecard| -%>
      <tr>
        <% if scorecard.should_highlight? -%>
          <td><em><%= scorecard.name %></em></td>
        <% else -%>
          <td><%= scorecard.name %></td>
        <% end -%>
        <% scorecard.scores.each_slice(primary_scorecard.tournament.course_holes.count / 2).to_a.each_with_index do |split, j| %>
          <% split.each do |score| -%>
            <td>
              <%= link_to_unless !primary_scorecard.tournament.user_can_edit_scorecard(current_user, scorecard), "#{score.strokes}", "#", {"data-toggle" => "modal", "data-target" => "#Group#{scorecard.id}"} %>
              <% if handicap_allowance_strokes_for_hole(handicap_allowance_for_scorecard(scorecard), score.course_hole) > 0 -%>
                </br><span class="label label-success">-<%= handicap_allowance_strokes_for_hole(handicap_allowance_for_scorecard(scorecard), score.course_hole) %></span>
              <% end -%>
              <% unless score.associated_text.blank? -%>
              </br><em><%= score.associated_text %></em>
              <% end -%>
            </td>
          <% end -%>
          <td>
            <% if scorecard.should_subtotal? -%>
              <strong><%= split.map {|score| score.strokes }.sum %></strong>
            <% else -%>
              &nbsp;
            <% end -%>
          </td>
        <% end -%>
        
        <% if primary_scorecard.includes_extra_scoring_column? -%>
          <td><strong><%= scorecard.extra_scoring_column_data %></strong></td>
        <% end -%>
        
        <td>
          <% if scorecard.should_total? -%>
            <strong><%= scorecard.scores.map {|score| score.strokes }.sum %> (<%= scorecard.net_score %>)</strong>
          <% else -%>
            &nbsp;
          <% end -%>
        </td> 
      </tr>
    <% end -%>
	</tbody>
  <tfoot>
		<tr>
			<th>Par</th>
      <% primary_scorecard.scores.each_slice(primary_scorecard.tournament.course_holes.count / 2).to_a.each_with_index do |split, j| %>
        <% split.each do |score| -%>
          <th><%= score.course_hole.par %></th>
        <% end -%>
        <th>&nbsp;</th>
      <% end -%>
      
      <% if primary_scorecard.includes_extra_scoring_column? -%>
        <th>&nbsp;</th>
      <% end -%>
      
      <th><%= primary_scorecard.tournament.course_holes.map {|hole| hole.par }.sum %></th>
		</tr>
		<tr>
			<th>Men's Handicap</th>
      <% primary_scorecard.scores.each_slice(primary_scorecard.tournament.course_holes.count / 2).to_a.each_with_index do |split, j| %>
        <% split.each do |score| -%>      
          <th><%= score.course_hole.mens_handicap %></th>
        <% end -%>
        <th>&nbsp;</th>
      <% end -%>
      
      <% if primary_scorecard.includes_extra_scoring_column? -%>
        <th>&nbsp;</th>
      <% end -%>
      
      <th>&nbsp;</th>
		</tr>
		<tr>
			<th>Women's Handicap</th>
      <% primary_scorecard.scores.each_slice(primary_scorecard.tournament.course_holes.count / 2).to_a.each_with_index do |split, j| %>
        <% split.each do |score| -%>      
          <th><%= score.course_hole.mens_handicap %></th>
        <% end -%>
        <th>&nbsp;</th>
      <% end -%>
      
      <% if primary_scorecard.includes_extra_scoring_column? -%>
        <th>&nbsp;</th>
      <% end -%>
      
      <th>&nbsp;</th>
		</tr>
  </tfoot>
</table>

<% unless primary_scorecard.tournament.game_type.scorecard_footer_partial.blank? -%>
  <%= render partial: primary_scorecard.tournament.game_type.scorecard_footer_partial, locals: {scorecards: other_scorecards} %>
<% end -%>

<% if primary_scorecard.tournament.user_can_edit_scorecard(current_user, primary_scorecard) == true && primary_scorecard.tournament.is_finalized == false -%>
  <p><%= link_to 'Finalize Your Scorecard', play_scorecard_finalize_scorecard_path(primary_scorecard), :class => 'btn btn-danger', :method => :patch, :data => { :confirm => 'Are you sure you want to finalize your scorecard? This indicates to the league administrator that you are ready to be ranked for this tournament.' } %></p>
<% end -%>

<% other_scorecards.each do |scorecard| %>
  <% if scorecard.is_potentially_editable? == true && primary_scorecard.tournament.user_can_edit_scorecard(current_user, scorecard) -%>
    <% cache(cache_key_for_scorecard_forms) do %>
      <%= render partial: '/shared/scorecards/standard_edit_modal', locals: {scorecard: scorecard, edit_url: play_scorecard_path(scorecard, original_scorecard_id: primary_scorecard.id) } %>
    <% end %>
  <% end -%>
<% end -%>