<%= simple_form_for [@tournament.league, @tournament, @tournament_group] do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <legend>Tee Time Details</legend>
  
  <h3>Basic Details</h3>
  <div class="well">  
	  <%= f.input :tee_time_at, :label => 'Date & Time', :as => :datetime_picker, required: true %>
    
    <%= f.input :max_number_of_players, :label => "Max Players for Tee Time" %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Create Tee Time", :class => 'btn btn-default' %>
  </div>
<% end %>