<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Manage Tee-Times <%= @tournament_day.pretty_day(true) %></li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<h4><%= @page_title %></h4>

<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for :tournament_group, url: batch_create_league_tournament_tournament_day_tournament_groups_path(@tournament.league, @tournament, @tournament_day) do |f| %>
      <% if notification = f.error_notification %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
      <% end %>

      <h3>Create a Batch of Tee Times at Once</h3>
      <div class="well">
        <%= f.input :starting_time, label: 'First Tee Time', required: true, :as => :datetime_picker, input_html: { value: @starting_tee_time.to_s(:date_and_time) } %>

        <%= f.input :separation_interval, label: 'Minutes Between Tee Times', required: true, :as => :integer %>

        <%= f.input :max_number_of_players, label: "Max Players for Each Tee Time", :as => :integer %>

        <%= f.input :number_of_tee_times_to_create, label: "Number of Tee Times", :as => :integer %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Save Tee Time Batch", class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>

<h4>OR</h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Time</th>
      <th>Max Players</th>
      <th>Currently Signed Up</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Create Individual Tee Time', new_league_tournament_tournament_day_tournament_group_path(@tournament.league, @tournament, @tournament_day), class: 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
	</thead>
	<tbody>
	<% @tournament_groups.each do |tournament_group| %>
		<tr>
			<td><%= link_to tournament_group.tee_time_at.to_s(:date_and_time), edit_league_tournament_tournament_day_tournament_group_path(@tournament.league, @tournament, @tournament_day, tournament_group) %></td>
			<td><%= tournament_group.max_number_of_players %></td>
      <td><%= tournament_group.players_signed_up.count %></td>
      <% if user_is_league_admin(current_user, @tournament.league) %>
      <td><%= link_to "Edit", edit_league_tournament_tournament_day_tournament_group_path(@tournament.league, @tournament, @tournament_day, tournament_group) %><% if tournament_group.can_be_deleted? %> | <%= link_to 'Delete', league_tournament_tournament_day_tournament_group_path(@tournament.league, @tournament, @tournament_day, tournament_group), data: { confirm: 'Are you sure you want to delete this tee time?' }, method: :delete %><% end %></td>
      <% else -%>
      <td>&nbsp;</td>
      <% end -%>
		</tr>
	<% end %>
	</tbody>
  <tfoot>
		<tr>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
			<th>&nbsp;</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Create Individual Tee Time', new_league_tournament_tournament_day_tournament_group_path(@tournament.league, @tournament, @tournament_day), class: 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
  </tfoot>
</table>

<%= paginate @tournament_groups %>
