<h4><%= @page_title %></h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Time</th>
      <th>Max Players</th>
      <th>Currently Signed Up</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Create Tee Time', new_league_tournament_tournament_group_path(@tournament.league, @tournament), :class => 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
	</thead>
	<tbody>
	<% @tournament_groups.each do |tournament_group| %>
		<tr>
			<td><%= link_to tournament_group.tee_time_at.to_s(:date_and_time), edit_league_tournament_tournament_group_path(@tournament.league, @tournament, tournament_group) %></td>
			<td><%= tournament_group.max_number_of_players %></td>
      <td><%= tournament_group.players_signed_up.count %></td>
      <% if user_is_league_admin(current_user, @tournament.league) %>
      <td><%= link_to "Edit", edit_league_tournament_tournament_group_path(@tournament.league, @tournament, tournament_group) %> | <%= link_to 'Delete', league_tournament_tournament_group_path(@tournament.league, @tournament, tournament_group), :data => { :confirm => 'Are you sure you want to delete this tee time?' }, :method => :delete %></td>
      <% else -%>
      <td>&nbsp;</td>
      <% end -%>
		</tr>
	<% end %>
	</tbody>
  <tfoot>
		<tr>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
			<th>&nbsp;</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Create Tee Time', new_league_tournament_tournament_group_path(@tournament.league, @tournament), :class => 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
  </tfoot>
</table>

<%= paginate @tournament_groups %>