<div class="col-md-8">
    <div class="view-tournament-card h-100">
        <div class="upcoming-tournaments-body text-center">
            <h2>You have no upcoming tournaments.</h2>
            <%= link_to "Create Tournament", new_league_tournament_path(current_user.selected_league), class: "btn btn-primary" %>
        </div><!-- /.upcoming-tournaments-body -->
        <% if tournament.present? %>
          <div class="upcoming-tournaments-med">
            <div class="row">
              <div class="col-md-6">
                  <p>previous tournament</p>
              </div><!-- /.col-md-6 -->
              <div class="col-md-6 text-right">
                  <p><%= link_to "view all", league_tournaments_path(current_user.selected_league) %></p>
              </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
          </div><!-- /.upcoming-tournaments-med -->
          <div class="upcoming-tournaments-footer">
              <div class="row">
                <div class="col-md-8">
                  <h2><%= tournament.name %></h2>
                  <p class="text-uppercase"><%= tournament.first_day.tournament_at.to_s(:long) %> <span class="pl-1" style="color:#00c185;">TOURNAMENT COMPLETED</span></p>
                </div><!-- /.col-md-6 -->
                <div class="col-md-4 text-right">
                  <%= link_to "View Tournament", league_tournament_path(tournament.league, tournament), class: "btn btn-outline-dark" %>
                </div><!-- /.col-md-6 -->
              </div><!-- /.row -->
          </div><!-- /.upcoming-tournaments-footer -->
        <% end %>
    </div><!-- /.view-tournament-card -->
</div><!-- /.col-md-8 -->