<div class="banner-img"></div><!-- /.banner-img -->
<div class="container pt-130">
  <div class="dashboard-header">
    <div class="row">
      <div class="col-md-6">
        <h2>Dashboard</h2>
      </div><!-- /.col-md-6 --> 
      <div class="col-md-6 text-uppercase text-right">
        <p><%= current_league_name %></p>
      </div><!-- /.col-md-6 --> 
    </div><!-- /.row -->         
  </div><!-- /.dashboard-header --> 
  <div class="dashboard-content">
        <div class="row equal">
            <div class="col-lg-4">
              <div class="view-league-card h-100">
                  <div class="vlc-header">
                      <h2><%= current_season_name %></h2>
                      <p class="text-uppercase"><%= current_league_name %></p>
                  </div><!-- /.vlc-header -->
                  <div class="gt-number">
                    <div class="row no-gutters">
                      <div class="col-6 border-right">
                        <div class="gt-content text-center">
                          <p class="text-uppercase">golfers</p>
                          <h2><%= current_league_golfers %></h2>
                        </div>                            
                      </div>
                      <div class="col-6">
                        <div class="gt-content text-center">
                          <p class="text-uppercase">tourneys</p>
                          <h2><%= current_league_season_tournaments %></h2>
                        </div>
                      </div>
                    </div>
                  </div><!-- /.gt-number -->
                  <div class="ppp-header">
                    <div class="row">
                      <div class="col-2">
                          <p class="text-uppercase">pos</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p class="text-uppercase">player</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p class="text-uppercase">pts</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                  </div><!-- /.ppp-header -->
                  <div class="ppp-content">
                    <div class="ppp-content-rows">
                      <% @ranking_groups.each do |group| %>
                        <%= render partial: 'ranking_group', collection: group.displayable_league_season_rankings %>
                      <% end %>
                    </div>
                    <div class="row mt-5">
                      <div class="col-md-12">
                        <%= link_to "Manage Golfers", league_league_memberships_path(current_user.selected_league), class: "btn-primary add-golfers" %>
                        <%= link_to "View League", league_path(current_user.selected_league), class: "view-league-btn mt-3" %>
                      </div>
                    </div>
                  </div><!-- /.ppp-content -->
              </div><!-- /.view-league-card -->
            </div><!-- /.col-md-4 -->
            <% if @next_tournament.present? %>
              <% if @next_tournament.tournament_state == TournamentState::REGISTRATION %>
                <%= render partial: 'registration_tournament', locals: { tournament: @next_tournament } %>
              <% elsif @next_tournament.tournament_state == TournamentState::REVIEW_SCORES %>
                <%= render partial: 'review_scores_tournament', locals: { tournament: @next_tournament, results: @day_flights_with_rankings } %>
              <% elsif @next_tournament.tournament_state == TournamentState::POST_SCORES %>
                <%= render partial: 'post_scores_tournament', locals: { tournament: @next_tournament } %>
              <% end %>
            <% else %>
              <%= render partial: 'no_tournament', locals: { tournament: @previous_tournament } %>
            <% end %>
        </div><!-- /.row -->
    </div><!-- /.dashboard-content -->
  </div>

  <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body welcome p-5">
        <div class="p-3">
          <h2>Welcome to EZ Golf League</h2>
          <p>Steps to start golfing:</p>
        </div>

        <div class="p-4">
          <h5 class="pb-2">1. Learn about EZGL</h5>
          <%= link_to "Watch Videos", "#", class: 'btn btn-primary' %>
        </div>

        <div class="p-5">
          <h5 class="pb-2">2. Create your first Tournament</h5>
          <%= link_to "Create a Tournament", new_league_tournament_path(current_user.selected_league), class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="modal-footer welcome">
        <div class="input-container pr-4">
          <input type="checkbox" class="form-check-input" id="welcome-modal"></input>
          <label class="form-check-label welcome" for="welcome-modal">Don't show this again.</label>
        </div>
        <button type="button" class="btn__ezgl-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  if (document.cookie.indexOf("welcomeModal=") >= 0) {
    // They've been here before.
  } else {
    $('#welcomeModal').modal('show');
    $('#welcomeModal').on('hidden.bs.modal', function () {
      if ($('#welcome-modal').is(':checked')) {
        document.cookie = "welcomeModal=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
      };
    });
  }
</script>