<div class="banner-img"></div><!-- /.banner-img -->
<div class="container">
  <div class="dashboard-header">
    <div class="row">
      <div class="col-md-6">
        <h2>Dashboard</h2>
      </div><!-- /.col-md-6 --> 
      <div class="col-md-6 text-uppercase text-right">
        <p><%= current_league_name %></p>
      </div><!-- /.col-md-6 --> 
    </div><!-- /.row -->         
  </div><!-- /.dashboard-header --> 
  <div class="dashboard-content">
        <div class="row equal">
            <div class="col-lg-4">
              <div class="view-league-card h-100">
                  <div class="vlc-header">
                      <h2><%= current_season_name %></h2>
                      <p class="text-uppercase"><%= current_league_name %></p>
                  </div><!-- /.vlc-header -->
                  <div class="gt-number">
                    <div class="row no-gutters">
                      <div class="col-6 border-right">
                        <div class="gt-content text-center">
                          <p class="text-uppercase">golfers</p>
                          <h2><%= current_league_golfers %></h2>
                        </div>                            
                      </div>
                      <div class="col-6">
                        <div class="gt-content text-center">
                          <p class="text-uppercase">tourneys</p>
                          <h2><%= current_league_season_tournaments %></h2>
                        </div>
                      </div>
                    </div>
                  </div><!-- /.gt-number -->
                  <div class="ppp-header">
                    <div class="row">
                      <div class="col-2">
                          <p class="text-uppercase">pos</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p class="text-uppercase">player</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p class="text-uppercase">pts</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                  </div><!-- /.ppp-header -->
                  <div class="ppp-content">
                    <% @ranking_groups.each do |group| %>
                      <%= render partial: 'ranking_group', collection: group.displayable_league_season_rankings %>
                    <% end %>
                    <div class="row">
                      <div class="col-md-12">
                        <%= link_to "View League", league_path(current_user.selected_league), class: "view-league-btn" %>
                      </div>
                    </div>
                  </div><!-- /.ppp-content -->
              </div><!-- /.view-league-card -->
            </div><!-- /.col-md-4 -->
            <% if @next_tournament.present? %>
              <%= render partial: 'tournament', locals: { tournament: @next_tournament } %>
            <% else %>
              <%= render partial: 'no_tournament', locals: { tournament: @previous_tournament } %>
            <% end %>
        </div><!-- /.row -->
    </div><!-- /.dashboard-content -->
  </div>