<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li><%= link_to @tournament.name, play_tournament_path(@tournament) %></li>
  <li class="active">Scorecard</li>
</ol>

<h3><%= @scorecard.golf_outing.user.complete_name %></h3>

<%= render partial: '/shared/scorecards/standard', locals: {primary_scorecard: @scorecard, other_scorecards: @other_scorecards} %>

<% if @scorecard.golf_outing.team.tournament_group.teams.count > 1 -%>
  <% if @tournament.user_can_become_designated_scorer(current_user, @scorecard) -%>
    <p><%= link_to "Become Designated Scorer", play_scorecard_become_designated_scorer_path(@scorecard), class: "btn btn-warning", method: :patch, role: "button" %></p>
  <% elsif !@scorecard.designated_editor.blank? -%>
    <p>Designated Scorer: <%= @scorecard.designated_editor.complete_name %></p>
  <% end -%>
<% end -%>