<script>
  mixpanel.track("Display Player Scorecard");
  amplitude.getInstance().logEvent("Display Player Scorecard");
</script>

<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li><%= link_to @tournament.name, play_tournament_path(@tournament) %></li>
  <li class="active"><%= @tournament_day.game_type.display_name %> Scorecard</li>
</ol>

<p>
  <%= link_to "View Leaderboard", play_tournament_leaderboard_path(@tournament, day: @tournament_day), class: "btn btn-primary btn-xs", role: "button" %>
</p>

<% cache(cache_key_for_scorecard(@scorecard.id)) do %>
  <%= render partial: '/shared/scorecards/standard', locals: {p: @scorecard_presenter, print_mode: false} %>
<% end -%>

<% if @scorecard_presenter.user_can_become_designated_scorer?(current_user) -%>
  <p><%= link_to "Become Designated Scorer", play_scorecard_become_designated_scorer_path(@scorecard_presenter.primary_scorecard), class: "btn btn-warning", method: :patch, role: "button" %></p>
<% elsif !@scorecard_presenter.designated_scorer.blank? -%>
  <p>Designated Scorer: <%= @scorecard_presenter.designated_scorer.complete_name %></p>
<% end -%>
