<div class="registration-form-container">
	<div class="panel-heading">
		<h3 class="panel-title pb-4">Edit Password</h3>
	</div>

	<%= simple_form_for @user_account, url: @user_account.new_record? ? user_accounts_path : user_account_path(@user_account), multipart: true, :defaults => { :input_html => { :class => "onboarding__input", :label => false }} do |f| %>
		<% if notification = f.error_notification %>
			<div class="alert alert-error fade in">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<%= notification %>
			</div>
		<% end %>

		<div class="form-flex-group">
			<div class="form-side-label">
				<p>Password</p>
			</div>

			<%= f.input :password, placeholder: 'Enter your new password...' %>
		</div>

		<div class="form-flex-group">
			<div class="form-side-label">
				<p>Confirm Password</p>
			</div>

			<%= f.input :password_confirmation, placeholder: 'Enter your new password again...' %>
		</div>

		<div class="form-actions form-flex-group"> 
			<div class="form-flex-right">
				<%= f.button :submit, "Save", class: 'btn__ezgl-secondary' %>
			</div>
		</div>
	<% end %>
</div>