<%= simple_form_for @user_account, url: @user_account.new_record? ? user_accounts_path : user_account_path(@user_account), multipart: true do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>User Account Details</legend>

  <h3>Basic Details</h3>
  <div class="well">
    <%= f.input :email, label: 'Email Address', placeholder: 'i.e. user@domain.com', required: true %>

	  <%= f.input :first_name, label: 'First Name', required: true %>

	  <%= f.input :last_name, label: 'Last Name', required: true %>

    <%= f.input :time_zone, label: 'Time Zone', required: true, collection: ActiveSupport::TimeZone.us_zones, value_method: :name %>

    <% if @user_account.new_record? -%>
      <%= f.input :should_invite, label: 'Send Invitation via Email', as: :boolean %>
    <% end -%>

    <% if current_user.is_super_user %>
      <%= f.association :leagues, collection: @leagues, label: 'Leagues', :label_method => :name, as: :check_boxes, required: true %>
    <% end %>
  </div>

  <% if current_user.is_super_user && @user_account.new_record? == false %>
  <div class="well">
    <p>Block User</p>

    <%= f.input :is_blocked, as: :boolean %>
  </div>
  <% end %>

  <h3>Avatar</h3>
  <div class="well">
    <% unless @user_account.avatar.blank? -%>
    <p><%= image_tag @user_account.avatar.url(:medium) %></p>
    <% end -%>
    <%= f.input :avatar, label: 'Avatar Photo' %>
  </div>

  <% if @user_account.new_record? -%>
  <h3>Password</h3>
  <div class="well">
    <%= f.input :password, label: 'Password' %>

    <%= f.input :password_confirmation, label: 'Password Confirmation' %>
  </div>
  <% end -%>

  <% if !@user_account.new_record? -%>
  <h3>Notifications</h3>
  <div class="well">
    <%= f.input :wants_email_notifications, label: 'Send Notifications via Email', as: :boolean %>
    <%= f.input :wants_push_notifications, label: 'Send Notifications via Mobile App', as: :boolean %>
  </div>
  <% end -%>

  <h3>Handicap Indexes</h3>
  <div class="well">
    <p>We offer several options for handicapping: pulling from GHIN, automatic based on past performance or manual handicap index. You can also override the handicap index with a manual course handicap - you can enter that below.</p>

    <%= f.input :ghin_number, label: 'GHIN System Number' %>

    <% if current_user.is_super_user && @user_account.new_record? == false && @user_account.ghin_number.blank? == false %>
    <p>View their GHIN page, useful for debugging. Saving a user will submit a request to update from GHIN.</p>
    <p>GHIN URL: <%= link_to @user_account.ghin_url, @user_account.ghin_url %></p>
    <p>GHIN Last Updated: <%= @user_account.ghin_updated_at %></p>
    <% end %>

    <%= f.input :handicap_index, label: '18-Hole Handicap Index' %>
    <p>Handicaps will automatically be converted for 9-hole tournaments.</p>
  </div>

  <h3>Contact Information</h3>
  <div class="well">
    <%= f.input :street_address_1, label: 'Street Address 1', placeholder: 'i.e. 123 Main Street' %>

    <%= f.input :street_address_2, label: 'Street Address 2', placeholder: 'i.e. Suite 200' %>

    <%= f.input :city, label: 'City' %>

	  <%= f.input :us_state, label: 'State', collection: @us_states %>

	  <%= f.input :postal_code, label: 'Zip Code' %>

    <%= f.input :phone_number, label: 'Phone Number' %>
  </div>

  <% if @user_account.new_record? == false && @editing_current_user != true -%>
    <% @user_account.league_memberships.each do |league_membership| %>
      <h3><%= league_membership.league.name %> League Settings</h3>
      <div class="well">
        <%= f.simple_fields_for :league_memberships, league_membership do |l| %>
          <%= l.input :is_admin, label: "League Admin?" %>
          <%= l.input :league_dues_discount, label: "Discount on League Dues" %>
          <%= l.input :course_handicap, label: "Course Handicap Override" %>
        <% end %>
      </div>
    <% end -%>
  <% end -%>

  <% if current_user.is_super_user %>
  <h3>Parent User</h3>
  <div class="well">
    <%= f.input :parent_id, collection: User.all.order("last_name"), label: false, :label_method => :complete_name, include_blank: true, input_html: { class: 'chosen-select' } %>
  </div>

  <h3>Merge Into Account</h3>
  <div class="well">
    <p>This will take the currently selected user and move all of their data to the user selected. This cannot be undone. The current user will not be deleted, that needs to be done manually as a second step.</p>

    <p>The currently viewed user has participated in <%= @user_account.golf_outings.count %> tournaments.</p>

    <%= f.input :account_to_merge_to, collection: User.all.order("last_name").where("id != ?", @user_account.id), label: false, :label_method => :complete_name_with_email, include_blank: true, input_html: { class: 'chosen-select' } %>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>

    <% if @user_account.new_record? == false -%>
      <%= link_to "Re-Send Invite", user_account_resend_league_invite_path(@user_account), :method => :patch, :role => "button", class: "btn btn-info" %>

      <% if current_user.is_super_user? %>
        <%= link_to "Impersonate User", user_account_impersonate_path(@user_account), :role => "button", class: "btn btn-info" %>
      <% end -%>
    <% end -%>
  </div>

  <h3>Tournaments</h3>
  <div class="well">
    <ul>
      <% @user_account.tournaments.each do |tournament| %>
      <li><%= link_to_unless !is_editable?(tournament), tournament.name, edit_league_tournament_path(tournament.league, tournament) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
