<%= simple_form_for @user_account, url: @user_account.new_record? ? user_accounts_path : user_account_path(@user_account), multipart: true do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <legend>User Account Details</legend>
  
  <h3>Basic Details</h3>
  <div class="well">
    <%= f.input :email, :label => 'Email Address', placeholder: 'user@domain.com', required: true %>
  
	  <%= f.input :first_name, :label => 'First Name', required: true %>

	  <%= f.input :last_name, :label => 'Last Name', required: true %>
    
    <% if @user_account.new_record? -%>
      <%= f.input :should_invite, :label => 'Send Invitation via Email', as: :boolean %>
    <% end -%>
  </div>
  
  <% if @user_account.new_record? -%>
  <h3>Password</h3>
  <div class="well">  
	  <%= f.input :password, :label => 'Password' %>

	  <%= f.input :password_confirmation, :label => 'Password Confirmation' %>
  </div>
  <% end -%>
  
  <h3>Avatar</h3>
  <div class="well">
    <% unless @user_account.avatar.blank? -%>
    <p><%= image_tag @user_account.avatar.url(:medium) %></p>
    <% end -%>
    <%= f.input :avatar, :label => 'Avatar Photo' %>
  </div>

  <h3>Contact Information</h3>
  <div class="well">
    <%= f.input :street_address_1, :label => 'Street Address 1', placeholder: '123 Main Street' %>
  
    <%= f.input :street_address_2, :label => 'Street Address 2', placeholder: 'Suite 200' %>
  
    <%= f.input :city, :label => 'City' %>
    
	  <%= f.input :us_state, :label => 'State', collection: @us_states %>

	  <%= f.input :postal_code, :label => 'Zip Code' %>
    
    <%= f.input :phone_number, :label => 'Phone Number' %>
  </div>
  
  <% if @user_account.new_record? == false && @editing_current_user != true -%>
  <h3>Leagues</h3>

  <table class="table table-striped">
  	<thead>
  		<tr>
  			<th>Name</th>
        <th>Status</th>
  		</tr>
  	</thead>
  	<tbody>
  	<% @user_account.leagues.each do |league| %>
  		<tr>
  			<td><%= link_to league.name, edit_league_path(league) %></td>
        <td><%= league.state_for_user(@user_account) %></td>
  		</tr>
  	<% end %>
  	</tbody>
    <tfoot>
  		<tr>
  			<th>&nbsp;</th>
        <th>&nbsp;</th>
  		</tr>
    </tfoot>
  </table>
  <% end -%>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-default' %>
  </div>
<% end %>