<div class="col-md-12">
  <div class="input-group">
  <%= simple_form_for :user_search, url: user_accounts_path, method: :get do |f| %>
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
  <% end %>
  </div>
  <div>&nbsp;</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Accounts</h3>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Name</th>
          <th>Joined</th>
          <th>GHIN Updated</th>
          <th><%= link_to 'Create User', new_user_account_path, :class => 'btn btn-primary' %></th>
    		</tr>
    	</thead>
    	<tbody>
    	<% @user_accounts.each do |user_account| %>
    		<tr>
    			<td><%= link_to user_account.complete_name, edit_user_account_path(user_account) %></td>
          <td><%= user_account.created_at.to_s(:date_and_time) %></td>
          <td><%= user_account.ghin_updated_at.to_s(:date_and_time) unless user_account.ghin_updated_at.blank? %></td>
          <% if current_user.is_super_user? %>
          <td><%= link_to "Edit", edit_user_account_path(user_account) %> | <%= link_to 'Delete', user_account_path(user_account), :data => { :confirm => 'Are you sure you want to delete this user? This will impact any history for previously played tournaments. Instead of deleting a user, alternatively remove them from their leagues to make them disappear.' }, :method => :delete %></td>
          <% else -%>
          <td>&nbsp;</td>
          <% end -%>
    		</tr>
    	<% end %>
    	</tbody>
      <tfoot>
    		<tr>
          <th>&nbsp;</th>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
          <th><%= link_to 'Create User', new_user_account_path, :class => 'btn btn-primary' %></th>
    		</tr>
      </tfoot>
    </table>
  </div>
</div>

<%= paginate @user_accounts %>
