<div class="tornament-info-popup-header-top">
  <div class="row">
    <div class="col-md-4 first">
      <p><%= p.tee_time.to_s(:date_and_time) %></p>
    </div>

    <div class="col-md-4 center">
      <p><%= p.tournament.name %></p>
    </div>

    <div class="col-md-4 last">
      <%= link_to "Edit", "#edit", class: 'btn btn__ezgl-secondary edit-button mr-2' %>
      <%= link_to "Save", "#save", class: 'btn btn-primary mr-2' %>
    </div>
  </div>          
</div><!-- /.tornament-info-popup-header-top -->

<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Flight</th>
        <th scope="col">Hole <br>Yards</th>
        <% p.sliced_scores.each_with_index do |split, j| %>
          <% split.each do |score| %>
            <th scope="col"><%= score.course_hole.hole_number %> <br><%= score.course_hole.yards_for_flight(p.flight) %></th>
          <% end %>
          <% if j.zero? %>
            <th scope="col">Out</th>
          <% else %>
            <th scope="col">Out <br>In</th>
          <% end %>
        <% end %>
        <th scope="col">HDCP</th>
        <th scope="col">Gross <br>Net</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>Par</td>
        <% p.sliced_scores.each_with_index do |split, j| %>
          <% split.each do |score| %>
            <td><%= score.course_hole.par %></td>
          <% end %>
        <% end %>
      </tr>

      <!-- Scorecards -->
      <% p.all_scorecards.each do |scorecard| %>
        <tr class="score" data-scorecard-id="<%= scorecard.id %>" data-scorecard-scores-count="<%= scorecard.scores.count %>">
          <td><%= p.flight.display_name %></td>
          <td><%= scorecard.user.short_name %> <br><%= link_to "Disqualify", "#disqualify", class: 'btn btn-primary edit' %></td>
          <% scorecard.scores.each_slice(p.number_of_holes / 2).to_a.each_with_index do |split, j| %>
            <% split.each do |score| %>
              <td>
                4
                <% if handicap_allowance_strokes_for_hole(handicap_allowance_for_scorecard(scorecard), score.course_hole).positive? -%>
                  <br>
                  <span class="dot">
                    -<%= handicap_allowance_strokes_for_hole(handicap_allowance_for_scorecard(scorecard), score.course_hole) %>  
                  </span>
                <% end %>
              </td>
            <% end %>
            <% if scorecard.should_subtotal? %>
              <% if j.zero? %>
                <td name="inner-subtotal-<%= j %>">
                  <%= front_nine_handicap_for_scorecard(scorecard, false) %>
                </td>
              <% else %>
                <td name="outer-subtotal-<%= j %>">
                  <%= front_nine_handicap_for_scorecard(scorecard, false) %>
                  <br>
                  <%= back_nine_handicap_for_scorecard(scorecard, false) %>
                </td>
              <% end %>
            <% else %>
              <td>&nbsp;</td>
            <% end %>
          <% end %>
          <td>
            <%= scorecard.course_handicap %>
            <br><i class="fas fa-unlock edit">
          </td>
          <% if scorecard.should_total? %>
            <td name="total">
              <%= score_print_helper(scorecard.scores.map {|score| score.strokes }.sum, false) %><br>
              <% if scorecard.net_score.positive? -%>
                <%= score_print_helper(scorecard.net_score, false) %>
              <% end -%>
            </td>
          <% else %>
            <td>&nbsp;</td>
          <% end %>
        </tr>
      <% end %>

      <!-- NOTE the other game types not showing properly -->

<!--       <tr class="net">
        <td>Game Types</td>
        <td>Best Ball Net</td> -->

      <!-- Handicaps -->
      <tr class="m-hcp">
        <td>M HCP</td>
        <td>&nbsp;</td>
        <% p.sliced_scores.each_with_index do |split, j| %>
          <% split.each do |score| %>
            <td><%= score.course_hole.mens_handicap %></td>
          <% end %>
          <td>&nbsp;</td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>