<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li><%= link_to "Scorecards", scorecards_path(tournament_id: @tournament) %></li>
  <li class="active"><%= @player.complete_name %></li>
</ol>

<div class="col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
              <%= @player.complete_name %><% if !@tournament_day.primary_scorecard_for_user(@player).is_confirmed? -%> (Unconfirmed By Player)<% end -%>
              <%- if @tournament_day.primary_scorecard_for_user(@player).golf_outing.disqualified %>DISQUALIFIED<%- end %>
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body">
            <%= render partial: '/shared/scorecards/edit', locals: {edit_url: scorecard_path, scorecard: @tournament_day.primary_scorecard_for_user(@player), split_holes: split_holes_for_course_tournament(@tournament_day), split_scores: split_scores_for_scorecard(@tournament_day.primary_scorecard_for_user(@player), @tournament_day.course_holes.count), tournament_day: @tournament_day, handicap_allowance: @handicap_allowance} %>
          </div>
        </div>
      </div>
    </div>
</div>
