<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Scorecards</li>
</ol>

<h4><%= @page_title %></h4>

<% if @tournament.tournament_days.count > 1 -%>
  <p>
  <% @tournament.tournament_days.each do |day| -%>
    <%= link_to_unless day == @tournament_day, day.pretty_day, league_tournament_tournament_day_scorecards_path(@tournament.league, @tournament, day) %>
    <% if day != @tournament.tournament_days.last -%>
      |
    <% end -%>
  <% end -%>
  </p>
<% end -%>

<div class="row">
  <div class="col-md-10">&nbsp;</div>
  <div class="col-md-2">
    <p><%= link_to "Print Scorecards", print_scorecards_prints_path(:tournament_id => @tournament, tournament_day: @tournament_day), class: "btn btn-info", role: "button" %></p>
  </div>
</div>

<div class="col-md-12">
  <table class="table table-striped">
  	<thead>
  		<tr>
  			<th>Tee-Group</th>
        <th>Players</th>
        <th>&nbsp;</th>
  		</tr>
  	</thead>
  	<tbody>
      <% @eager_groups.each_with_index do |group, index| -%>
        <% if group.players_signed_up.count > 0 -%>
      		<tr>
            <td><%= index + 1 %></td>
      			<td>
      			  <% group.players_signed_up.each do |player| -%>
                <%= player.complete_name %> <%- if @tournament_day.primary_scorecard_for_user(player).golf_outing.disqualified %>(Disqualified)<%- end %> <% if @tournament_day.primary_scorecard_for_user(player).is_confirmed == true -%>(Confirmed)<% else -%>(Unconfirmed)<% end -%></br>
              <% end -%>
      			</td>
            <td>
      			  <% group.players_signed_up.each do |player| -%>
                <% scorecard = @tournament_day.primary_scorecard_for_user(player) %>
                <%= link_to "View", league_tournament_tournament_day_scorecard_path(@tournament.league, @tournament, @tournament_day, scorecard) %> | <%= link_to "Edit", edit_league_tournament_tournament_day_scorecard_path(@tournament.league, @tournament, @tournament_day, scorecard) %></br>
              <% end -%>
            </td>
      		</tr>
        <% end -%>
      <% end -%>
  	</tbody>
  </table>
</div>
