<div class="col-md-12">
  <div class="input-group">
  <%= simple_form_for :league_search, url: leagues_path, method: :get do |f| %>
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
  <% end %>
  </div>
  <div>&nbsp;</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @page_title %></h3>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Name</th>
          <th>Date Added</th>
          <th>Members</th>
          <th>Active</th>
          <th>Actions</th>
          <% if current_user.is_super_user? -%>
          <th><%= link_to 'Create League', new_league_path, class: 'btn btn-primary' %></th>
          <% else -%>
          <th>&nbsp;</th>
          <% end -%>
    		</tr>
    	</thead>
    	<tbody>
    	<% @leagues.each do |league| %>
    		<tr>
    			<td><%= link_to league.name, edit_league_path(league) %></td>
    			<td><%= league.created_at.to_s(:date_and_time) %></td>
          <td><%= league.league_memberships.count %></td>
          <td><%= league.league_memberships.active.count %></td>
          <% if user_is_league_admin(current_user, league) -%>
          <td>
          <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              Details <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Manage Golfers", league_league_memberships_path(league) %></li>
              <li><%= link_to "Manage Seasons", league_league_seasons_path(league) %></li>
              <li><%= link_to "Update Handicaps from GHIN", league_update_from_ghin_path(league), method: :patch %></li>
              <li><%= link_to "Re-Calculate League Standings", league_update_league_standings_path(league), method: :patch %></li>
            </ul>
          </div>
          </td>
          <% else -%>
          <td>&nbsp;</td>
          <% end -%>
          <% if current_user.is_super_user? %>
            <td><%= link_to "Edit", edit_league_path(league) %> | <%= link_to 'Delete', league_path(league), :data => { :confirm => 'USE CAUTION. Are you sure you want to delete this league?' }, :method => :delete %></td>
          <% else -%>
          <td>&nbsp;</td>
          <% end -%>
    		</tr>
    	<% end %>
    	</tbody>
      <tfoot>
    		<tr>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
    			<th>&nbsp;</th>
          <% if current_user.is_super_user? -%>
          <th><%= link_to 'Create League', new_league_path, class: 'btn btn-primary' %></th>
          <% else -%>
          <th>&nbsp;</th>
          <% end -%>
    		</tr>
      </tfoot>
    </table>
  </div>
</div>

<%= paginate @leagues %>
