<h4><%= @page_title %></h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
      <th>Date Added</th>
      <th>Members</th>
      <% if current_user.is_super_user? -%>
      <th><%= link_to 'Create League', new_league_path, :class => 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
	</thead>
	<tbody>
	<% @leagues.each do |league| %>
		<tr>
			<td><%= link_to league.name, edit_league_path(league) %></td>
			<td><%= league.created_at.to_s(:date_and_time) %></td>
      <% if user_is_league_admin(current_user, league) -%>
      <td><%= link_to "Manage Memberships", league_league_memberships_path(league) %> (<%= league.league_memberships.count %>)</td>
      <% else -%>
      <td>&nbsp;</td>
      <% end -%>
      <% if current_user.is_super_user? %>
      <td><%= link_to "Edit", edit_league_path(league) %> | <%= link_to 'Delete', league_path(league), :data => { :confirm => 'Are you sure you want to delete this league?' }, :method => :delete %></td>
      <% else -%>
      <td>&nbsp;</td>
      <% end -%>
		</tr>
	<% end %>
	</tbody>
  <tfoot>
		<tr>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
			<th>&nbsp;</th>
      <% if current_user.is_super_user? -%>
      <th><%= link_to 'Create League', new_user_account_path, :class => 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
  </tfoot>
</table>

<%= paginate @leagues %>