<div class="banner-img fall-classic-img"></div>
<!-- /.banner-img -->
<div class="container pt-100">
  <div class="dashboard-header ttt-header fall-classic-header">
    <div class="row">
      <div class="col-md-6">
        <h2><%= @league.name %></h2>           
      </div>
      <!-- /.col-md-8 --> 
    </div>
    <!-- /.row -->         
  </div>
  <!-- /.dashboard-header --> 
  <div class="container p-0">
    <div class="row">
        <div class="col-md-3">   
          <div class="scorpion-golf-league-green">
              <div class="scorpion-golf-league-green-header">
                  <div class="dropdown">
                    <select class="selectpicker dropup" data-header="">
                      <% current_user.selected_league.league_seasons.each do |season| -%>
                        <option><%= link_to season.name, league_switch_seasons_path(current_user.selected_league, season_id: season.id), method: :put %></option>
                      <% end %>
                    </select>
                  </div>
              </div>
              <div class="scorpion-golf-league-gree-list">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <p>starts</p>
                    <h2><%= @league_season.starts_at.to_s(:short) %></h2>
                  </div>
                  <div class="col-md-6">
                    <p>ends</p>
                    <h2><%= @league_season.ends_at.to_s(:short) %></h2>
                  </div>
                </div>
              </div>
              <div class="scorpion-golf-league-gree-btn text-center">
                <%= link_to "View Tournaments", league_tournaments_path(@league), class: 'btn btn-primary' %>
                <%= link_to "Manage Golfers", league_league_memberships_path(current_user.selected_league), class: 'btn btn-success' %>
              </div>
          </div><!-- /.scorpion-golf-league-green -->            
          <div class="list-group sidebar-list-group">
            <%= link_to image_tag('settings.png') + "Season Settings", edit_league_league_season_path(@league.id), class: "list-group-item list-group-item-action" %>
            <%= link_to image_tag('settings.png') + "League Settings", edit_league_path(@league.id), class: "list-group-item list-group-item-action" %>
          </div><!-- /.sidebar-list-group -->
        </div><!-- /.col-md-3 -->   
        <div class="col-md-9">
            <div class="season-ranking-card">
                <div class="season-ranking-card-header">
                    <div class="row clearfix">
                      <div class="col-md-4">
                        <h2>Season Rankings</h2>
                      </div>
                      <div class="col-md-8">
                        <ul class="list-inline float-right">
                          <li class="list-inline-item"><span><%= @league.league_memberships.count %></span>golfers</li>
                          <li class="list-inline-item"><span><%= @league_season.tournaments.count %></span>tournaments</li>                              
                        </ul>
                      </div>
                    </div>
                </div><!-- /.season-ranking-card-header -->
                <%= render partial: 'individual_rankings', locals: {league_season: @league_season, rankings: @rankings} %>
                <%
=begin%>
 <div class="season-ranking-content">
                  <h2>You have no scoring groups yet.</h2>
                  <button class="btn btn-primary">Create Scoring Groups</button> 
                </div><!-- /.season-ranking-content --> 
<%
=end%>
            </div>
        </div><!-- /.col-md-8 -->                    
    </div><!-- /.row -->         
  </div>
  <!-- /.container -->
</div>
<!-- /.container --> 