<%= simple_form_for :league_send_member_email, url: league_send_member_email_path(@league), :method => :post do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <legend>Send a Message to All Members of '<%= @league.name %>'</legend>

  <div class="well">  
    <%= f.input :subject, :label => 'Subject', required: true, as: :string %>
    
	  <%= f.input :contents, :label => 'Message', required: true, as: :text, :input_html => { :rows => 10 } %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Send Message", :class => 'btn btn-default' %>
  </div>
<% end %>