<%= simple_form_for ([@league, @league_membership]) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>Membership Details</legend>

  <h3>Basic Details</h3>
  <div class="well">
    <% if @league_membership.new_record? -%>
      <p><strong>Select a user:</strong></p>
      <%= f.association :user, collection: @users, label: false, :label_method => :complete_name, input_html: { class: 'chosen-select' } %>
    <% else -%>
      <p><strong><%= @league_membership.user.complete_name %></strong></p>
    <% end -%>

    <%= f.input :league_dues_discount, :label => "User discount on dues" %>

	  <%= f.input :is_admin, :label => "Is this user an admin for #{@league.name}?" %>
  </div>

  <% if !@league.exempt_from_subscription %>
  <h3>Billing</h3>
  <div class="well">
    <%= f.input :toggle_active, :label => "Is this golfer active for billing?", as: :boolean %>

    <p>Golfers that are active are counted when billing your league for tournament play. Inactive golfers will not be able to sign up for a tournament or score.</p>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, "Update Membership", :class => 'btn btn-default' %>
  </div>
<% end %>
