<%= simple_form_for ([@league, @league_membership]) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <legend>Membership Details</legend>
    
  <h3>Basic Details</h3>
  <div class="well">
    <% if @league_membership.new_record? -%>
      <%= f.association :user, collection: @users, :label => 'User', :label_method => :complete_name %>
    <% else -%>
      <p><strong><%= @league_membership.user.complete_name %></strong></p>
    <% end -%>
    
    <%= f.input :league_dues_discount, :label => "User discount on dues" %>
    
	  <%= f.input :is_admin, :label => "Is this user an admin for #{@league.name}?" %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Update Membership", :class => 'btn btn-default' %>
  </div>
<% end %>