<div class="banner-img tournaments-banner-img"></div>
<!-- /.banner-img -->
<div class="container pt-110">
  <div class="dashboard-header ttt-header">
    <div class="row">
      <div class="col-md-8">
        <h2 class="pr-5">Golfers</h2>
        <p class="mid-ttt-para text-uppercase"><strong><%= @league_memberships.count %></strong>league golfers</p>
        <p class="text-uppercase"><strong><%= @league_memberships.where(:state => MembershipStates::ACTIVE_FOR_BILLING).count %></strong>active golfers</p>
      </div>
      <!-- /.col-md-8 --> 
      <div class="col-md-4 text-right">
        <%= link_to "Edit Handicaps", "", data: { toggle:"modal", target:"#editHandicapsModal" }, class: 'btn btn__ezgl-secondary mr-3' %>
        <%= link_to "Create Golfers", "", data: { toggle:"modal", target:"#addGolfersModal" }, class: 'btn btn-primary' %>
      </div>
      <!-- /.col-md-6 --> 
    </div>
    <!-- /.row -->         
  </div>
  <!-- /.dashboard-header --> 
  <div class="container">
    <div class="golfers mt-5">
      <table class="table teatime-content-card-table">
        <thead>
          <tr class="text-uppercase">
            <th scope="col" class="pl-5 pr-0">golfer</th>
            <th scope="col">handicap index</th>
            <th scope="col">season points</th>
            <th scope="col">active</th>
          </tr>
        </thead>
        <tbody>
          <% @league_memberships.each do |membership| %>
            <tr>
              <td class="pl-5 pr-0">
                <div class="media">
                  <%= image_tag membership.user.avatar.url(:thumb), class: 'img-circle' %>
                  <div class="media-body">
                    <h2><%= link_to membership.user.complete_name, edit_league_league_membership_path(@league, membership) %></h2>
                  </div>
                </div>
              </td>
              <td class="int-ctr"><%= membership.user.handicap_index %></td>
              <td class="int-ctr paid-td"></span>200</td>
              <td class="int-ctr pl-3"><%= check_box_tag "active" , 1, membership.state == MembershipStates::ACTIVE_FOR_BILLING %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Edit Handicaps Modal --> 
<div class="modal fade" id="editHandicapsModal" tabindex="-1" role="dialog" aria-labelledby="editHandicapsModalLabel">
  <%= render partial: 'edit_handicaps', locals: { league_memberships: @league_memberships } %>
</div>

<!-- Add Golfers Modal --> 
<div class="modal fade" id="addGolfersModal" tabindex="-1" role="dialog" aria-labelledby="addGolfersModalCenterTitle" aria-hidden="true">
  <%= render partial: 'add_golfers' %>
</div>

<script>
  mixpanel.identify();
  amplitude.getInstance().setUserId('<%= current_user.id %>');

  ezglTrackAnalyticsEvent("Viewed the list of golferss");

  _dcq.push(["identify", {
    email: "<%= current_user.email %>",
    first_name: "<%= current_user.first_name %>",
    last_name: "<%= current_user.last_name %>",
    tags: <%= current_user.drip_tags.to_json.html_safe %>,
    success: function(response) {
    // Call a method with the response object
    // Success callback is optional
    }
  }]);
</script>

