<div class="banner-img tournaments-banner-img"></div>
<!-- /.banner-img -->
<div class="container pt-110">
  <div class="dashboard-header ttt-header">
    <div class="row">
      <div class="col-md-8">
        <h2>Golfers</h2>
        <p class="mid-ttt-para text-uppercase"><strong><%= @league_memberships.count %></strong>league golfers</p>
        <p class="text-uppercase"><strong><%= @league_memberships.count %></strong>active golfers</p>
      </div>
      <!-- /.col-md-8 --> 
      <div class="col-md-4 text-right">
        <%= link_to "Update Handicaps", new_league_tournament_path(current_user.selected_league), class: 'btn btn-success mr-3' %>
        <%= link_to "Add Golfers", new_league_tournament_path(current_user.selected_league), class: 'btn btn-primary' %>
      </div>
      <!-- /.col-md-6 --> 
    </div>
    <!-- /.row -->         
  </div>
  <!-- /.dashboard-header --> 
  <div class="container">
    <div class="golfers mt-5">
      <table class="table teatime-content-card-table">
        <thead>
          <tr class="text-uppercase">
            <th scope="col" class="pl-5 pr-0">golfer</th>
            <th scope="col">handicap index</th>
            <th scope="col">season points</th>
            <th scope="col">season tournaments</th>
          </tr>
        </thead>
        <tbody>
          <% @league_memberships.each do |membership| %>
            <tr>
              <td class="pl-5 pr-0">
                <div class="media">
                  <%= image_tag membership.user.avatar.url(:thumb), class: 'img-circle' %>
                  <div class="media-body">
                    <h2><%= link_to membership.user.complete_name, edit_league_league_membership_path(@league, membership) %></h2>
                  </div>
                </div>
              </td>
              <td><%= membership.user.handicap_index %></td>
              <td class="paid-td"></span>200</td>
              <td class="paid-td">9</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  mixpanel.identify();
  amplitude.getInstance().setUserId('<%= current_user.id %>');

  ezglTrackAnalyticsEvent("Viewed the list of golferss");

  _dcq.push(["identify", {
    email: "<%= current_user.email %>",
    first_name: "<%= current_user.first_name %>",
    last_name: "<%= current_user.last_name %>",
    tags: <%= current_user.drip_tags.to_json.html_safe %>,
    success: function(response) {
    // Call a method with the response object
    // Success callback is optional
    }
  }]);
</script>

