<% course_holes.each do |hole| -%>
  <%= simple_form_for :metadata, url: play_scorecard_update_game_type_metadata_path(scorecards.first), method: :patch do |f| %>
  <div class="modal fade" id="ScrambleGroup<%= hole.id %>" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Select Golfer for Tee Shot for Hole <%= hole.hole_number %></h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <% all_scorecards = scoring_rule.individual_team_scorecards_for_scorecard(scorecard: scorecards.first) %>
              <% editable_scorecards = all_scorecards.select{|i| (i.is_potentially_editable?) } %>
              
              <%= f.input :scorecard_id, collection: editable_scorecards, label_method: :individual_name, value_method: :id %>
              <%= f.input :course_hole_id, :as => :hidden, :input_html => { :value => hole.id } %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.button :submit, "Update", class: 'btn btn-default' %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <% end -%>
<% end -%>