<%= simple_form_for ([@league, @league_season]) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>Season Details</legend>

  <h3>Basic Details</h3>
  <div class="well">
    <%= f.input :name, required: true %>

    <% if current_user.is_super_user %>
      <%= f.input :starts_at, label: 'Start Date', required: true, as: :date_picker %>

      <%= f.input :ends_at, label: 'End Date', required: true, as: :date_picker %>
    <% else %>
      <%= f.hidden_field :starts_at %>
      <%= f.hidden_field :ends_at %>
    <% end %>

    <%= f.input :dues_amount, label: 'Dues Amount ($)' %>

    <% if @league_season.new_record? -%>
    	<p>Activating team play allows you to create season-long teams who earn points and payouts over the course of the season.</p>
    	<%= f.input :season_type_raw, label: 'Team Play for Season', as: :boolean %>
    <% elsif @league_season.season_type_raw == 1 %>
    	<p>
    		<strong>This season is configured for team play.</strong>
    	</p>
    <% end %>

    <%= f.hidden_field :league_id, :value => @league.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Season", class: 'btn btn-default' %>
  </div>
<% end %>
