<%= simple_form_for ([@league, @league_season]) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <legend>Season Details</legend>
    
  <h3>Basic Details</h3>
  <div class="well">
    <%= f.input :starts_at, :label => 'Start Date', required: true, :as => :date_picker %>
    
    <%= f.input :ends_at, :label => 'End Date', required: true, :as => :date_picker %>
    
    <%= f.hidden_field :league_id, :value => @league.id %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Update Season", :class => 'btn btn-default' %>
  </div>
<% end %>