<ol class="breadcrumb">
  <li><%= link_to "Leagues", leagues_path %></li>
  <li class="active"><%= @league.name %> League Seasons</li>
</ol>

<h4>League Seasons for <%= @league.name %></h4>

<table class="table table-striped">
	<thead>
		<tr>
      <th>Name</th>
			<th>Start Date</th>
      <th>End Date</th>
      <th>&nbsp;</th>
      <th><%= link_to 'Create Season', new_league_league_season_path(@league), class: 'btn btn-primary' %></th>
		</tr>
	</thead>
	<tbody>
	<% @league_seasons.each do |season| %>
		<tr>
      <td><%= link_to season.name, edit_league_league_season_path(@league, season) %></td>
			<td><%= season.starts_at.to_s(:short) %></td>
			<td><%= season.ends_at.to_s(:short) %></td>
			<td>
				<% if @league.allow_scoring_groups %>
					<%= link_to "Scoring Group Setup", league_league_season_league_season_scoring_groups_path(@league, season) %>
				<% elsif season.season_type_raw == LeagueSeasonType::TEAM %>
					<%= link_to "Team Setup", league_league_season_league_season_teams_path(@league, season) %>
				<% else %>
					&nbsp;
				<% end %>
			</td>

			<% if current_user.is_super_user? %>
      	<td><%= link_to "Edit", edit_league_league_season_path(@league, season) %> | <%= link_to 'Delete', league_league_season_path(@league, season), data: { confirm: 'Are you sure you want to delete this season?' }, method: :delete %></td>
    	<% else %>
    		<td>&nbsp;</td>
    	<% end %>
		</tr>
	<% end %>
	</tbody>
  <tfoot>
		<tr>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th><%= link_to 'Create Season', new_league_league_season_path(@league), class: 'btn btn-primary' %></th>
		</tr>
  </tfoot>
</table>