<%= simple_form_for [@tournament.league, @tournament, @tournament_day, @flight] do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend><%= @tournament_day.pretty_day(true) %>Flight Details</legend>

  <h3>Basic Details</h3>
  <div class="well">
	  <%= f.input :flight_number, label: 'Flight Number', required: true %>

    <%= f.input :lower_bound, label: 'Handicap Lower Bound', required: true %>

    <%= f.input :upper_bound, label: 'Handicap Upper Bound', required: true %>

    <%= f.input :course_tee_box_id, collection: @tournament_day.course.course_tee_boxes, label: "Tee Box", label_method: :name, required: true %>
  </div>

  <div class="form-actions">
    <% if @flight.new_record? -%>
      <%= f.button :submit, "Save & Create Another Flight", class: 'btn btn-default' %>
      <%= f.button :submit, "Save & Continue", class: 'btn btn-primary' %>
    <% else -%>
      <%= f.button :submit, "Save", class: 'btn btn-default' %>
    <% end -%>
  </div>
<% end %>
