<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active"><%= @tournament_day.pretty_day(true) %>Edit Flight</li>
</ol>

<% if @tournament.league.allow_scoring_groups %>
  <%= render 'scoring_group_form' %>
<% else %>
  <%= render 'form' %>
<% end %>


