<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Flights</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Flights</h3>
    </div>
    <div class="panel-body">
      By specifying handicap ranges when creating flights, players can automatically be placed based on their current course handicap. <strong>It's important to create enough flights that all players will be flighted.</strong>
      <p>
        <%= link_to 'Re-Flight Players', reflight_players_league_tournament_flights_path(@tournament.league, @tournament, tournament_day: @tournament_day), :class => 'btn btn-primary' %>
      </p>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Number</th>
          <th>Handicap Lower Bound</th>
          <th>Handicap Upper Bound</th>
          <th>Tee Box</th>
          <th>Payouts</th>
          <th><%= link_to 'Create Flight', new_league_tournament_flight_path(tournament_day: @tournament_day), :class => 'btn btn-primary' %></th>
    		</tr>
    	</thead>
    	<tbody>
    	<% @flights.each do |flight| %>
    		<tr>
    			<td><%= link_to flight.flight_number, edit_league_tournament_flight_path(@tournament.league, @tournament, flight, tournament_day: @tournament_day) %></td>
    			<td><%= flight.lower_bound %></td>
          <td><%= flight.upper_bound %></td>
          <td><%= flight.course_tee_box.name %></td>
          <td><%= link_to "Setup (#{flight.payouts.count})", league_tournament_flight_payouts_path(@tournament.league, @tournament, flight, tournament_day: @tournament_day) %></td>
          <td><%= link_to "Edit", edit_league_tournament_flight_path(@tournament.league, @tournament, flight, tournament_day: @tournament_day) %> | <%= link_to 'Delete', league_tournament_flight_path(@tournament.league, @tournament, flight, tournament_day: @tournament_day), :data => { :confirm => 'Are you sure you want to delete this flight? It will remove all associated payout information.' }, :method => :delete %></td>
    		</tr>
    	<% end %>
    	</tbody>
      <tfoot>
    		<tr>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th><%= link_to 'Create Flight', new_league_tournament_flight_path(tournament_day: @tournament_day), :class => 'btn btn-primary' %></th>
    		</tr>
      </tfoot>
    </table>
  </div>
</div>