<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active"><%= @tournament_day.pretty_day(true) %>Flights</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<% if @tournament.league.allow_scoring_groups %>
  <%= render partial: 'scoring_groups', locals: {tournament: @tournament, tournament_day: @tournament_day, flights: @flights} %>
<% else %>
  <%= render partial: 'scoring_groups', locals: {tournament: @tournament, tournament_day: @tournament_day, flights: @flights} %>
<% end %>