<%= simple_form_for [@tournament.league, @tournament, @contest] do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <legend>Contest Details</legend>
  
  <h3>Basic Details</h3>
  <div class="well">  
	  <%= f.input :name, :label => 'Name', hint: 'i.e. Closest to the Pin', required: true %>
    
    <% if @contest.new_record? -%>
      <%= f.input :contest_type, :label => 'Contest Type', collection: @contest_types, as: :radio_buttons, label_method: :name, value_method: :value %>
    <% end -%>
  </div>
  
  <% if @contest.new_record? == false && @contest.contest_type == 1 -%>
    <% if @contest.course_holes.count == 0 -%>
    <h3>Please Select Course Holes</h3>
    <div class="well">  
        <%= f.association :course_holes, collection: @tournament.course.course_holes, :label => 'Which holes are included?', :label_method => :name, as: :check_boxes %>
    </div>
    <% end -%>
  <% end -%>
  
  <div class="form-actions">
    <%= f.button :submit, "Save Contest", :class => 'btn btn-default' %>
  </div>
<% end %>