<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Manage Contests</li>
</ol>

<h4><%= @page_title %></h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
      <th>Type</th>
      <th>Winner(s)</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Create Contest', new_league_tournament_contest_path(@tournament.league, @tournament), :class => 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
	</thead>
	<tbody>
	<% @contests.each do |contest| %>
		<tr>
			<td><%= link_to contest.name, edit_league_tournament_contest_path(@tournament.league, @tournament, contest) %></td>
			<td><%= contest.human_type %></td>
      <td><%= contest.winners %></td>
      <td><%= link_to "Edit", edit_league_tournament_contest_path(@tournament.league, @tournament, contest) %> | <%= link_to 'Delete', league_tournament_contest_path(@tournament.league, @tournament, contest), :data => { :confirm => 'Are you sure you want to delete this contest?' }, :method => :delete %></td>
		</tr>
	<% end %>
	</tbody>
  <tfoot>
		<tr>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
			<th>&nbsp;</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Create Contest', new_league_tournament_contest_path(@tournament.league, @tournament), :class => 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
  </tfoot>
</table>