<script>
  mixpanel.track("Display Tournament Contests");
  amplitude.getInstance().logEvent("Display Tournament Contests");
</script>

<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li><%= link_to @tournament.name, play_tournament_path(@tournament) %></li>
  <li class="active"><%= @tournament_day.pretty_day(true) %>Tournament Contests</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @tournament_day.pretty_day(true) %>Tournament Contests</h3>
      </div>
      <table class="table table-striped">
      	<thead>
      		<tr>
            <th>Contest</th>
            <th>Number of Players</th>
      			<th>Dues</th>
            <th></th>
      		</tr>
      	</thead>
        <tbody>
          <% @contests.each do |contest| -%>
            <tr>
              <td><%= contest.name %></td>
              <td><%= contest.users.count %></td>
              <td><%= number_to_currency(contest.dues_amount) %></td>
              <% if !(contest.users.include? current_user) -%>
              <td><%= link_to "Sign Up & Pay Dues", new_play_payment_path(:payment_type => "contest_dues", :contest_id => contest.id), class: 'btn btn-primary' %></td>
              <% else -%>
              <td>Signed Up</td>
              <% end -%>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>
