<%= simple_form_for @user_account, url: play_registrations_path do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <h3>Your Basic Details</h3>
  <div class="well">
    <%= f.input :email, label: 'Email Address', placeholder: 'i.e. user@domain.com', required: true %>

	  <%= f.input :first_name, label: 'First Name', required: true %>

	  <%= f.input :last_name, label: 'Last Name', required: true %>

    <%= f.input :phone_number, label: 'Phone Number' %>

    <%= f.input :time_zone, label: 'Time Zone', required: true, collection: ActiveSupport::TimeZone.us_zones, value_method: :name %>
  </div>

  <% if @user_account.new_record? -%>
  <h3>Password</h3>
  <div class="well">
	  <%= f.input :password, label: 'Password (8 character minimum)' %>

	  <%= f.input :password_confirmation, label: 'Password Confirmation' %>
  </div>
  <% end -%>

  <h3>Terms and Conditions</h3>
  <div class="well">
    <p>By creating this account, you agree to our <a href='/terms_of_service.html' target="_new">terms of service.</a></p>
    <%= f.input :agreed_to_terms, label: 'I agree to the terms of service.', as: :boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
  </div>
<% end %>
