<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.9.0/load-image.all.min.js"></script>

<%= simple_form_for @user_account, url: play_registrations_path, :defaults => { :input_html => { :class => "onboarding__input", :label => false }} do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <div class="registration-form-container">
    <div class="registration-full-name form-flex-group">
      <div class="form-side-label">
        <p>Your Name</p>
      </div>

      <div class="form-flex-group">
        <%= f.input :first_name, placeholder: 'Enter your first name...', autofocus: true, required: true %>

        <%= f.input :last_name, placeholder: 'Enter your last name...', required: true %>
      </div>
    </div>

    <div class="form-flex-group">
      <div class="form-side-label">
        <p>Email</p>
      </div>

      <%= f.input :email, placeholder: 'Enter your email address...', required: true %>
    </div>

    <% if @user_account.new_record? -%>

    <div class="form-flex-group">
      <div class="form-side-label">
        <p>Password</p>
      </div>

      <div class="form-flex-group">
        <%= f.input :password, placeholder: 'Enter your password...' %>

        <%= f.input :password_confirmation, placeholder: 'Enter your password again...' %>
      </div>
    </div>

    <div class="form-flex-group">
      <div class="form-side-label">
        <p>Photo</p>
      </div>
 
      <div class="upload-photo-container">
        <div class="onboarding__input upload-photo" onclick="document.getElementById('user_avatar').click()">Upload Photo +</div>
        <%= f.input :avatar %>
        <div id="upload-photo-img">
          <img id="upload-photo-img-default" src="http://placehold.it/40" >
        </div>
      </div>
    </div>
    <% end %>

    <div class="form-actions form-flex-group">
      <p>By creating an account, I agree to the <a href='/terms_of_service.html' target="_new">Terms of Service.</a></p>
      <%= f.hidden_field :agreed_to_terms, checked: true, as: :boolean %>  
      <div class="form-flex-right">
        <%= f.button :submit, "Sign Up", class: 'btn__ezgl-secondary' %>
      </div>
    </div>
  </div>
<% end %>

<script>
document.getElementById('user_avatar').onchange = function (e) {
  loadImage(
    e.target.files[0],
    function (img) {
      console.log(img);
      document.getElementById('upload-photo-img').appendChild(img);
      document.getElementById('upload-photo-img-default').remove();
    },
    {
      width: 40,
      height: 40,
      cover: true
    }
  );
};
</script>