<script>
  mixpanel.track("Display Create League");
  amplitude.getInstance().logEvent("Display Create League");
</script>

<script>
fbq('track', 'CompleteRegistration', {
  value: 0.00,
  currency: 'USD',
  content_name: 'Create League'
});
</script>

<ol class="breadcrumb">
  <li>Create Your Free User Account</li>
  <li>Join or Create a League</li>
  <li class="active">Create a New League</li>
</ol>

<div id="container">
  <div class="row">
      <div class="col-md-8">
        <%= simple_form_for @league, url: create_league_play_registrations_path do |f| %>
          <% if notification = f.error_notification %>
            <div class="alert alert-error fade in">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              <%= notification %>
            </div>
          <% end %>

          <h3>Basic Details</h3>
          <div class="well">
            <%= f.input :name, :label => 'League Name', required: true %>
          </div>

          <div class="well">
            <%= f.input :league_description, :label => 'Description', :hint => 'Some basic information about your league that helps others when they join.' %>
            <%= f.input :location, :label => 'Where Do You Play?', :hint => 'i.e. Los Angeles, Southern California, or your normal course', required: true %>
            <%= f.input :contact_name, :label => 'Contact Name', required: true %>
            <%= f.input :contact_phone, :label => 'Contact Phone', required: true %>
            <%= f.input :contact_email, :label => 'Contact Email', required: true %>
            <%= f.input :show_in_search, :label => 'Appears in League Search (Other Players Can Join Your League)?' %>
          </div>

          <div class="well">
            <p>Please provide some additional information about your league:</p>

            <%= f.input :start_date, :label => 'When Does Your Season Start?', :as => :date_picker %>

            <%= f.input :league_type, collection: ["Individual Play", "Team Play", "Other"] %>

            <%= f.input :more_comments, as: :text, :input_html => {:cols => 5, :rows => 10 } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, :class => 'btn btn-default' %>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Create a League</h3>
          </div>
          <div class="panel-body">
            <p>Create a new league that you can administer and have your friends join.</p>
          </div>
        </div>
      </div>
  </div>
</div>
