<script>
  ezglTrackAnalyticsEvent('viewed a page', { name: 'League Creation Form' });
</script>

<script>
fbq('track', 'CompleteRegistration', {
  value: 0.00,
  currency: 'USD',
  content_name: 'Create League'
});
</script>

<div id="container">
	<div class="row">
    <div class="onboarding__panel registration">
      <div class="onboarding__panel-side">
        <%= link_to image_tag("ezgl-icon-white.png", class: 'ezgl-icon'), user_session_path %>
				<div class="panel-side-text">
					<h3 class="panel-title pb-1">Add Your League</h3>
					<p class="panel-subtitle pb-4">Your first two tournaments are<br>free. <a href="https://ezgolfleague.com/plans/" target="_blank">Learn More</a></p>
				</div>
      </div>
      <div class="panel panel-default p-5">
        <div class="panel-heading">
          <h3 class="panel-title pb-4">Add Your League</h3>
        </div>
        <div class="panel-body registration">
          <%= simple_form_for @league, url: create_league_play_registrations_path, :defaults => { :input_html => { :class => "onboarding__input", :label => false }} do |f| %>
            <% if notification = f.error_notification %>
              <div class="alert alert-error fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <%= notification %>
              </div>
            <% end %>

            <div class="registration-form-container">
              <div class="registration-full-name form-flex-group">
                <div class="form-side-label">
                  <p>League</p>
                </div>

                <%= f.input :name, placeholder: 'Enter your league name...', required: true %>
              </div>

              <div class="form-flex-group">
                <div class="form-side-label">
                  <p>Location</p>
                </div>

                <%= f.input :location, placeholder: 'Los Angeles, Southern California, etc.', required: true %>
              </div>

              <div class="form-flex-group">
                <div class="form-side-label">
                  <p>Admin Name</p>
                </div>

                <%= f.input :contact_name, placeholder: 'Full Name of League Admin', required: true %>
              </div>

              <div class="form-flex-group">
                <div class="form-side-label">
                  <p>Email</p>
                </div>

                <div class="form-flex-group">
                  <%= f.input :contact_email, placeholder: 'Admin Email' %>

                  <div class="form-side-label pl-4">
                    <p>Phone</p>
                  </div>

                  <%= f.input :contact_phone, placeholder: 'Admin Phone' %>
                </div>
              </div>

              <div class="form-actions form-flex-group">
                <p>Joining an existing league? <%= link_to  "Click here", leagues_play_registrations_path %></p>
                <div class="form-flex-right">
                  <%= f.button :submit, "Next", class: 'btn__ezgl-secondary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
	</div>
</div>