<script>
  mixpanel.track("Admin: Display Current Subscription");
</script>

<script>
  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('submit_button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });

    $("#activation_text").hide();

    $('#active-form :checkbox').change(function() {
        var activeGolfers = $(":checkbox:checked").length;

        var baselineGolfers = <%= @golfer_count %>;
        var costPerGolfer = costPerGolferForTournamentCount(<%= @tournament_count %>);

        var newGolfers = activeGolfers - baselineGolfers;
        var proposedCost = costPerGolfer * newGolfers;

        $("#active_golfer_number").html(newGolfers);

        if (activeGolfers > baselineGolfers) {
          $("#save_and_charge_button").val("Save and Charge Credit Card");

          $("#golfer_change_cost").html("$" + proposedCost);

          $("#activation_text").fadeIn();
        } else {
          $("#save_and_charge_button").val("Save");

          $("#activation_text").fadeOut();
        }
    });
  });

  function costPerGolferForTournamentCount(tournamentCount) {
    var cost = 0;
    var costPerGolfer = 0;

    // if (tournamentCount > 15) {
    //   costPerGolfer = 10;
    // } else {
    //   costPerGolfer = 5;
    // }
    //REMOVE?

    costPerGolfer = 5;

    return costPerGolfer;
  }

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('submit_button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };
</script>

<style>
  .table > tbody > tr:first-child > td {
    border: none;
  }
</style>

<% unless params[:details_amount].blank? %>
<script>
  ga('ec:addProduct', {               // Provide product details in an productFieldObject.
  'id': 'EZGL001',                   // Product ID (string).
  'name': 'Tournament Credits', // Product name (string).
  'category': 'Subscriptions',            // Product category (string).
  'quantity': <%= params[:details_golfers] %>                     // Product quantity (number).
  });

  ga('ec:setAction', 'purchase', {          // Transaction details are provided in an actionFieldObject.
  'id': '<%= params[:details_id] %>',                         // (Required) Transaction id (string).
  'revenue': '<%= params[:details_amount] %>',                     // Revenue (currency).
  'tax': '0.0',                          // Tax (currency).
  'shipping': '0.0'                     // Shipping (currency).
  });

  fbq('track', 'Purchase', {
  value: <%= params[:details_amount] %>,
  currency: 'USD'
  });

  mixpanel.track("Admin: Subscription Purchase Completed");
</script>
<% end %>

<div class="col-md-12">
  <div class="row">
    <h1>Your Subscription for <%= @league.name %></h1>

    <% if current_user.leagues_where_admin.select {|l| l != @league && !l.exempt_from_subscription}.count > 0 %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Switch Leagues <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% current_user.leagues_where_admin.select {|l| !l.exempt_from_subscription}.each do |l| %>
          <li><%= link_to l.name, current_league_subscription_credits_path(l) %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<div class="col-md-12">&nbsp;</div>

<div class="col-md-12">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Current Plan</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Credits Remaining</strong></td>
              <td class="text-right">
                <% unless @active_subscription.blank? %>
                  <p><%= @tournament_credits_remaining %> tournaments with <%= @active_subscription.golfer_count %> active golfers</p>
                <% else %>
                  <p>No active subscription</p>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Last Payment</strong></td>
              <td class="text-right">
                <% unless @active_subscription.blank? %>
                  <p>Your last payment was <%= number_to_currency(@active_subscription.amount) %> on <%= @active_subscription.created_at.to_s(:short) %> for <%= @active_subscription.tournament_count %> tournaments with <%= @active_subscription.golfer_count %> active golfers</p>
                <% else %>
                  <p>No active subscription</p>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Active Golfers</strong></td>
              <td class="text-right">
                <p>You have <%= @league.league_memberships.active.count %> active golfers in your league</p>
                <p><a href="#" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Update Active Golfers</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <% if @league.free_tournaments_remaining > 0 %>
          <h3>You have <%= @league.free_tournaments_remaining %> free tournaments left.</h3>
        <% else %>
          <h3>You have <%= @tournament_credits_remaining %> tournaments left on your current subscription.</h3>
          <p><a href="#" class="btn btn-default btn-primary" role="button" data-toggle="modal" data-target="#addCreditsModal">Add Tournament Credits Now</a></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Details</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Your Credit Card</strong></td>
              <td class="text-right">
                <% unless @league.cc_last_four.blank? %>
                  <p>xxxx-xxxx-xxxx-<%= @league.cc_last_four %></p>
                  <p>Exp <%= @league.cc_expire_month %>/<%= @league.cc_expire_year %></p>
                <% end %>
                <p><a href="#" class="btn btn-default" role="button" data-toggle="modal" data-target="#creditCardModal">Change Credit Card</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Past Payments</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Payment Amount</th>
              <th>Notes</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @past_subscriptions.each do |p| %>
            <tr>
              <td><%= p.created_at.to_s(:short) %></td>
              <td><%= number_to_currency(p.amount) %></td>
              <td><%= p.tournament_count %> Tournaments w/ <%= p.golfer_count %> Active Golfers</td>
              <!-- <td><a href="#">Print Receipt</a></td> -->
              <td>&nbsp;</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer"><em>Thank you for using EZ Golf League</em></div>
    </div>
  </div>

  <div class="row">
    <p>Need support or have a question? Contact us at <a href='mailto:support@ezgolfleague.com?subject=Subscription%20Question%20for%20<%= @league.name %>'>support@ezgolfleague.com</a> for help.</p>
  </div>
</div>

<!-- Active Golfers Modal -->
<%= simple_form_for :update_active_league_subscription_credits, url: update_active_league_subscription_credits_path(@league), method: :put, :html => {id: "active-form"} do |f| %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Active Golfers</h4>
      </div>
      <div class="modal-body">
        <p>You currently have <%= @league.league_memberships.active.count %> active golfers.</p>
        <p>Your most recent subscription plan includes <%= @golfer_count %> golfers.</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Active</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @league.league_memberships.each do |m| %>
            <tr>
              <td><%= check_box_tag "is_active[#{m.id}]", true, m.state == MembershipStates::ACTIVE_FOR_BILLING %></td>
              <td><%= m.user.complete_name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <p id="activation_text">Activating <span id="active_golfer_number">&nbsp;</span> golfer(s) will result in a charge of <mark id="golfer_change_cost">&nbsp;</mark>.</p>

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.button :submit, "Save", :class => 'btn btn-primary', :id => "save_and_charge_button" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- Credit Card Modal -->
<div class="modal fade" id="creditCardModal" tabindex="-1" role="dialog" aria-labelledby="creditCardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Credit Card</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :payment, url: update_credit_card_league_subscription_credits_path(@league), method: :post, :html => {id: "payment-form"} do |f| %>
        <div class="panel-body">
          <span class="payment-errors"></span>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Card Number</td>
              <td><input type="text" size="20" data-stripe="number"/></td>
            </tr>
            <tr>
              <td>Expiration (MM/YYYY)</td>
              <td><input type="text" size="2" data-stripe="exp-month"/> <input type="text" size="4" data-stripe="exp-year"/></td>
            </tr>
            <tr>
              <td>CVC</td>
              <td><input type="text" size="4" data-stripe="cvc"/></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>&nbsp;</th>
              <th><%= f.button :button, "Update Credit Card", :class => "btn btn-primary", :id => "submit_button" %></th>
            </tr>
          </tfoot>
        </table>
        <% end %>
        <div class="panel-footer">
          <p>All transactions are covered under our <a href='/terms_of_service.html' target="_new">terms of service.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Re-Up Modal -->
<%= simple_form_for :charge_credits_league_subscription_credits, url: charge_credits_league_subscription_credits_path(@league), method: :post do |f| %>
<div class="modal fade" id="addCreditsModal" tabindex="-1" role="dialog" aria-labelledby="creditCardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Purchase Tournament Credits</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td>How many active golfers do you have in your league?</td>
              <td class="text-right"><input type="number" name="active_golfers" value="<%= @golfer_count %>" id="active_golfers"></td>
            </tr>
<!--             <tr>
              <td>How many tournaments do you want to play?</td>
              <td class="text-right"><input type="number" name="tournaments_per_season" value="<%= @tournament_count %>" id="tournaments_per_season"></td>
            </tr> -->
            <tr>
              <td><strong>Total Cost</strong> <span id="cost_details"></span></td>
              <td class="text-right" id="total_cost">XX</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <%= f.button :button, "Purchase Credits", :class => "btn btn-primary", :id => "purchase_credits_button" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $("#active_golfers").keyup(function() {
    updateCalculatedCost();
  });

  $("#tournaments_per_season").keyup(function() {
    updateCalculatedCost();
  });

  $("#active_golfers").change(function() {
    updateCalculatedCost();
  });

  $("#tournaments_per_season").change(function() {
    updateCalculatedCost();
  });

  function updateCalculatedCost() {
    var golfers = $("#active_golfers").val();
    // var tournaments = $("#tournaments_per_season").val();

    // if (golfers < 13) {
    //   $("#total_cost").html("FREE");
    //   $("#cost_details").html("");
    //   $("#purchase_credits_button").prop('disabled', true);
    // } else {
      $("#purchase_credits_button").prop('disabled', false);

      var cost = 0;
      var costPerGolfer = 0;

      // if (tournaments > 15) {
      //   costPerGolfer = 10;
      // } else {
      //   costPerGolfer = 5;
      // }

      costPerGolfer = 5;

      cost = golfers * costPerGolfer;

      $("#total_cost").html("$" + cost);
      $("#cost_details").html("($"+ costPerGolfer +" per golfer)");
      $("#payment_button_text").html("Submit &amp; Pay $" + cost);
    // }
  }

  updateCalculatedCost();
</script>
