<div id="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 onboarding__panel">
      <div class="onboarding__panel-header">
        <%= link_to "< Back", user_session_path, class: 'onboarding__backlink' %>
        <%= link_to image_tag("ezgl-icon-white.png", height: 25), "https://ezgolfleague.com/" %>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
		  <%= f.hidden_field :reset_password_token %>
      <div class="panel p-5">
        <div class="panel-heading">
          <h3 class="panel-title pb-1">Update Your Password</h3>
        </div>
        <div class="panel-body">
          <div class="field pb-3">
            <%= f.password_field :password, placeholder: "New Password", autofocus: true, autocomplete: "off", class: 'onboarding__input' %>
          </div>
          <div class="field pb-2">
            <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", autofocus: true, autocomplete: "off", class: 'onboarding__input' %>
          </div>
          <div class="actions">
            <%= f.submit "Send", class: 'btn__ezgl-secondary' %>
          </div>
        </div>
      </div>
      <% end %>
      <div class="onboarding__bottom-text">
        <%= devise_error_messages! %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
