<div class="edit-tee-times-header">
  <div class="row">
    <div class="col-md-8">
      <h2>Add Players</h2>
    </div>
  </div>
</div>
<div class="edit-tee-times-content">
    <div class="row no-gutters">
        <div class="col-md-4">
          <div class="edit-tee-times-left-content mCustomScrollbar" data-mcs-theme="dark">
            <div class="edit-tee-times-left-content-style sortable">
              <% @non_registered_players.each do |player| %>
                <div class="media">
                  <%= image_tag player.avatar.url(:thumb), class: 'img-circle' %>
                  <div class="media-body">
                    <h2><%= player.complete_name %></h2>
                  </div>
                </div>
              <% end %>
            </div>
          </div><!-- /.edit-tee-times-left-content -->
        </div>

        <div class="col-md-8">
          <div class="edit-tee-times-right-content mCustomScrollbar" data-mcs-theme="dark" id="sortable-groups">

            <div class="addTeeTimeGreyBtn mt-2">
              <p>Add Previous Tee Time</p>
            </div>

            <% tournament_day.tournament_groups.each_with_index do |group, i| %>
              <div class="heading-style">
                <h2 class="text-uppercase">
                  <div class='input-group date editTeeTimeText' id="<%= group.id %>">
                    <input type='text' class="form-control editTeeTimeInput noBorder <%= group.id %>" value="<%= group.tee_time_at.to_s(:time_only) %>" /> 
                  </div>
                </h2>
                <span class="input-group-addon">
                  <i class="fas fa-pencil-alt editTeeTimeIcon" id="<%= group.id %>"></i>
                </span>
                <i class="fas fa-trash"></i>
              </div>

              <% slices = group.golf_outings.each_slice(2) %>
              <% slices.each do |slice| %>
                <div class="row <%= 'row-last' if slice == slice.last %> sortable">
                  <% slice.each do |outing| %>
                    <div class="media">
                      <%= image_tag outing.user.avatar.url(:thumb), class: 'img-circle' %>
                      <div class="media-body">
                        <h2><%= outing.user.complete_name %></h2>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <% if slices = 0 %>
                <div class="row drag-player-row">
                  <div class="drag-player">
                    <p>Drag Player Here</p>
                  </div>
                  <div class="drag-player">
                    <p>Drag Player Here</p>
                  </div>
                </div>
              <% end %>
            <% end %>

            <div class="addTeeTimeGreyBtn">
              <p>Add Next Tee Time</p>
            </div>
          </div><!-- /.tee-times-panel-content -->
        </div>
    </div>
</div>  

<script>
 $(function () {
  $('.editTeeTimeInput').datetimepicker({
      format: 'LT'
  });
});

  $( ".editTeeTimeIcon" ).click(function() {
    $('.editTeeTimeInput.' + this.id).toggleClass("noBorder");
    $(this).toggleClass('fa-pencil-alt fa-save');
  });
</script>