<div class="edit-tee-times">
  <div class="edit-tee-times-header">
    <div class="row">
      <div class="col-md-8">
        <h2>Add Players</h2>
      </div>
    </div>
  </div>
  <div class="edit-tee-times-content">
      <div class="row no-gutters">
          <div class="col-md-4">
            <div class="edit-tee-times-left-content mCustomScrollbar" data-mcs-theme="dark">
              <div class="edit-tee-times-left-content-style sortable">
                <% @non_registered_players.each do |player| %>
                  <div class="media tee-time-widget">
                    <%= user_avatar(player) %>
                    <div class="media-body">
                      <h2><%= player.complete_name %></h2>
                    </div>
                  </div>
                <% end %>
              </div>
            </div><!-- /.edit-tee-times-left-content -->
          </div>

          <div class="col-md-8">

            <nav id="autoScroll" class="navbar hidden">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link" id="listScrollLink" href="#"></a>
                </li>
              </ul>
            </nav>

            <div class="edit-tee-times-right-content mCustomScrollbar" data-spy="scroll" data-target="#autoScroll" data-offset="50" data-mcs-theme="dark" id="sortable-groups">

              <div class="addTeeTimeGreyBtn mt-2">
                <p>Add Previous Tee Time</p>
              </div>


              <% tournament_day.tournament_groups.each_with_index do |group, i| %>
                <div class="heading-style tee-time-popup" id="grp-<%= group.id %>">
                  <h2 class="text-uppercase">
                    <div class='input-group date editTeeTimeText' >
                      <input type='text' class="form-control editTeeTimeInput noBorder <%= group.id %>" value="<%= group.tee_time_at.to_s(:time_only) %>" /> 
                    </div>
                  </h2>
                  <span class="input-group-addon">
                    <i class="fas fa-pencil-alt editTeeTimeIcon" id="a"></i>
                  </span>
                  <i class="fas fa-trash"></i>
                </div>

                <% slices = group.golf_outings.each_slice(2) %>
                <% outings_count = 0 %>

                <% slices.each do |slice| %>
                  
                  <div class="row sortable drag-player-row <%= 'row-last' if slice == slice.last %>">
                    <% slice.each do |outing| %>
                      <% outings_count += 1 %>
                      <div class="col-md-6 tee-time-widget">
                        <div class="media">
                          <%= user_avatar(outing.user) %>
                          <div class="media-body">
                            <h2><%= outing.user.complete_name %></h2>
                          </div>
                        </div>
                      </div>
                    <% end %>

                    <% if outings_count == 3 || outings_count == 1 %>
                      <div class="drag-player-box">
                        <div class="drag-player">
                          <p>Drag Player Here</p>
                        </div>
                      </div>
                    <% end %> 
                    
                  </div>
                <% end %>

                <% if outings_count == 1 || outings_count == 2 %>
                  <div class="row sortable drag-player-row">
                    <div class="drag-player-box">
                      <div class="drag-player">
                        <p>Drag Player Here</p>
                      </div>
                    </div>

                    <div class="drag-player-box">
                      <div class="drag-player">
                        <p>Drag Player Here</p>
                      </div>
                    </div>
                  </div>
                <% end %>

                <% if outings_count == 0 %>
                  <div class="row sortable drag-player-row">
                    <div class="drag-player-box">
                      <div class="drag-player">
                        <p>Drag Player Here</p>
                      </div>
                    </div>

                    <div class="drag-player-box">
                      <div class="drag-player">
                        <p>Drag Player Here</p>
                      </div>
                    </div>
                  </div>

                  <div class="row sortable drag-player-row">
                    <div class="drag-player-box">
                      <div class="drag-player">
                        <p>Drag Player Here</p>
                      </div>
                    </div>

                    <div class="drag-player-box">
                      <div class="drag-player">
                        <p>Drag Player Here</p>
                      </div>
                    </div>
                  </div>
                <% end %>

                <% outings_count = 0 %>
              <% end %>
              
              <div class="addTeeTimeGreyBtn">
                <p>Add Next Tee Time</p>
              </div>

            </div><!-- /.tee-times-panel-content -->
          </div>
      </div>
  </div> 
</div> 

<script>
  $(function () {
    $('.editTeeTimeInput').datetimepicker({
        format: 'LT'
    });
  });

  $( ".editTeeTimeIcon" ).click(function() {
    $('.editTeeTimeInput.' + this.id).toggleClass("noBorder");
    $(this).toggleClass('fa-pencil-alt fa-save');
  });
</script>