<div class="tab-pane tab-pane-2 fade" id="contests-tab">
  <table class="table">
    <thead>
      <tr class="text-uppercase">
        <th scope="col" class="pl-5 pr-0">player</th>
        <th scope="col">payout</th>
        <th scope="col">point</th>
        <th scope="col">details</th>
        <th scope="col"></th>
      </tr>
    </thead>                        
    <tbody>
      <div class="tee-times-panel-content">
        <% tournament_day.displayable_scoring_rules.each do |rule| %>
            <tr>
              <td colspan="4" class="pl-5 pr-0 border-0">
                <div class="heading-style">
                  <h2 class="text-uppercase"><%= rule.name %></h2>
                </div>
              </td>                            
            </tr>

            <% rule.payout_results.each do |payout_result| %>
              <tr>
                <td class="pl-5 pr-0 border-top-0">
                  <div class="media">
                    <%= user_avatar(payout_result.user) %>
                    <div class="media-body">
                      <h2><%= payout_result.name %></h2>
                    </div>
                  </div>
                </td>
                <td class="border-top-0">
                  <%= number_to_currency(payout_result.amount) %>
                </td>
                <td class="border-top-0"><%= payout_result.points.to_i %></td>
                <td class="border-top-0"><%= payout_result.detail %></td>
              </tr>
            <% end %>
        <% end %>
      </div>
    </tbody>
  </table>
</div>
