<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<% if @tournament.new_record? || is_editable?(@tournament) -%>
  <%= simple_form_for [current_user.selected_league, @tournament] do |f| %>
    <% if notification = f.error_notification %>
      <div class="alert alert-error fade in">
        <%= notification %>
      </div>
    <% end %>

    <legend>Tournament Details</legend>

    <h3>Basic Details</h3>
    <div class="well">
      <p><strong>League</strong></p>
      <%= f.input :league_id, collection: @leagues, label: false, label_method: :name, include_blank: true, input_html: { class: 'chosen-select' } %>

  	  <%= f.input :name, label: 'Name', required: true %>
      
      <%= f.input :allow_credit_card_payment, label: 'Users Can Pay w/ a Credit Card?' %>
    </div>

    <h3>Sign Up Info</h3>
    <div class="well">
      <%= f.input :signup_opens_at, label: 'Signup Opening Date', as: :datetime_picker, required: true %>

      <%= f.input :signup_closes_at, label: 'Signup Closing Date', as: :datetime_picker, required: true %>

      <%= f.input :max_players, label: 'Maximum Number of Players', required: true %>

      <%= f.input :show_players_tee_times, label: 'Players Should See Tee-Times' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Save & Continue", class: 'btn btn-default' %>
    </div>

  <% end %>
<% else -%>
  <div class="well">
    This tournament's basic details cannot be edited because it is underway.
  </div>
<% end %>
