<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<% if @tournament.new_record? || is_editable?(@tournament) -%>
  <%= simple_form_for [current_user.selected_league, @tournament] do |f| %>
    <% if notification = f.error_notification %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notification %>
      </div>
    <% end %>
  
    <legend>Tournament Details</legend>

    <h3>Basic Details</h3>
    <div class="well">  
      <%= f.input :league_id, collection: @leagues, :label => 'League', :label_method => :name %>
        
      <%= f.input :course_id, collection: @courses, :label => 'Course', :label_method => :name %>
    
  	  <%= f.input :name, :label => 'Name', required: true %>
    
      <%= f.input :dues_amount, :label => 'Dues Amount ($)' %>
    
      <%= f.input :tournament_at, :label => 'Tournament Date', required: true, :as => :datetime_picker, :input_html => {:onchange => "$('#tournament_signup_closes_at').val(this.val());"} %>
    </div>

    <h3>Sign Up Info</h3>
    <div class="well">
      <%= f.input :signup_opens_at, :label => 'Signup Opening Date', :as => :datetime_picker, required: true %>
  
      <%= f.input :signup_closes_at, :label => 'Signup Closing Date', :as => :datetime_picker, required: true %>
  
      <%= f.input :max_players, :label => 'Maximum Number of Players', required: true %>
      
      <%= f.input :show_players_tee_times, :label => 'Players Should See Tee-Times at Signup' %>
    </div>
    
    <div class="form-actions">
      <%= f.button :submit, "Save", :class => 'btn btn-default' %>
    </div>
  
  <% end %>
<% else -%>
  <div class="well">
    This tournament's basic details cannot be edited because it is underway.
  </div>
<% end %>