<div class="tab-pane" id="players-tab">
  <table class="table teatime-content-card-table">
    <thead>
      <tr class="text-uppercase">
        <th scope="col" class="pl-5 pr-0">player</th>
        <th scope="col">tee time</th>
        <th scope="col">game types</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% tournament_day.tournament.players_for_day(tournament_day).each do |player| %>
        <tr>
          <td class="pl-5 pr-0">
            <div class="media">
              <%= user_avatar(player) %>
              <div class="media-body">
                <h2><%= player.complete_name %></h2>
              </div>
            </div>
          </td>
          <td><%= tournament_day.tournament_group_for_player(player).tee_time_at.to_s(:time_only) %></td>
          <td class="paid-td">XXXX</td>
          <td class="pl-0">
            <div class="dropdown players-edit-drop-down">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a href='#' v-on:click="showGolferDetails" data-golfer-id="<%= player.id %>"><%= image_tag('edit.png') %></a>
              </button>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>