<div class="tab-pane active" id="rankings-tab">
  <table class="table">
    <thead>
      <tr class="text-uppercase">
        <th scope="col" class="pl-5 pr-0">Flight</th>
        <th scope="col">pos</th>
        <th scope="col">player</th>
        <th scope="col">net</th>
        <th scope="col">gross</th>
        <th scope="col">points</th>
        <th scope="col">payout</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% tournament_day.scorecard_base_scoring_rule.tournament_day_results.each do |result| %>
        <tr>
          <th class="pl-5 pr-0"><%= result.flight.display_name %></th>
          <td><%= result.rank %></td>
          <td>
            <div class="media">
              <%= user_avatar(result.user) %>
              <div class="media-body">
                <h2><%= result.user.complete_name %></h2>
              </div>
            </div>
          </td>
          <td><%= result.net_score %></td>
          <td><%= result.gross_score %></td>
          <td><%= result.points.to_i %></td>
          <td><%= number_to_currency(result.payouts) %></td>
          <td class="edit-link">
            <% scorecard = result.primary_scorecard %>
            <a href='#' data-scorecard-id='<%= scorecard.id %>' v-on:click="displayScorecard"><%= image_tag('edit.png') %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="editScorecardModal">
  <scorecard/>
</div>

<vue-modal name="scorecard-loading-modal" height="20%" width="20%">
  <div class="d-flex justify-content-center mb-3">
    <b-spinner label="Loading..."></b-spinner>
  </div>
</vue-modal>