<div class="tab-pane active" id="rankings-tab">
  <table class="table">
    <thead>
      <tr class="text-uppercase">
        <th scope="col" class="pl-5 pr-0">Flight</th>
        <th scope="col">pos</th>
        <th scope="col">player</th>
        <th scope="col">net</th>
        <th scope="col">gross</th>
        <th scope="col">points</th>
        <th scope="col">payout</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% tournament_day.tournament.players_for_day(tournament_day).each do |player| %>
        <tr>
          <th class="pl-5 pr-0">1</th>
          <td>#1</td>
          <td>
            <div class="media">
              <%= image_tag player.avatar.url(:thumb), class: 'img-circle' %>
              <div class="media-body">
                <h2><%= player.complete_name %></h2>
              </div>
            </div>
          </td>
          <td>
            64
          </td>
          <td>71</td>
          <td>10</td>
          <td>$20</td>
          <td class="edit-link">
            <%= link_to image_tag('edit.png'), "", data: { toggle:"modal", target:"#editScorecardModal" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="view-scorecard-contents"></div>


<div class="modal fade" id="editScorecardModal" tabindex="-1" role="dialog" aria-labelledby="ditScorecardModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="tornament-info-popup-header-top">
          <div class="row">
            <div class="col-md-4 first">
              <p>DATE: 9/9/19, TEE TIME: 8:00AM</p>
            </div>

            <div class="col-md-4 center">
              <p>FALL INVITATIONAL TOURNAMENT - ROUND 1</p>
            </div>

            <div class="col-md-4 last">
              <%= link_to "Edit", "#edit", class: 'btn btn__ezgl-secondary edit-button mr-2' %>
              <%= link_to "Save", "#save", class: 'btn btn-primary mr-2' %>
            </div>
          </div>          
        </div><!-- /.tornament-info-popup-header-top -->
        <div>
          <table>
            <thead>
              <tr>
                <th scope="col">Flight</th>
                <th scope="col">Hole <br>Yards</th>
                <th scope="col">1 <br>250</th>
                <th scope="col">2 <br>250</th>
                <th scope="col">3 <br>250</th>
                <th scope="col">4 <br>250</th>
                <th scope="col">5 <br>250</th>
                <th scope="col">6 <br>250</th>
                <th scope="col">7 <br>250</th>
                <th scope="col">8 <br>250</th>
                <th scope="col">9 <br>250</th>
                <th scope="col">Out</th>
                <th scope="col">10 <br>250</th>
                <th scope="col">11 <br>250</th>
                <th scope="col">12 <br>250</th>
                <th scope="col">13 <br>250</th>
                <th scope="col">14 <br>250</th>
                <th scope="col">15 <br>250</th>
                <th scope="col">16 <br>250</th>
                <th scope="col">17 <br>250</th>
                <th scope="col">18 <br>250</th>
                <th scope="col">Out/In</th>
                <th scope="col">HDCP</th>
                <th scope="col">Gross</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>Par</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>64</td>
                <td>64</td>
              </tr>

              <tr class="score">
                <td>1</td>
                <td>John D. <br><%= link_to "Disqualify", "#disqualify", class: 'btn btn-primary edit' %></td>
                <td>4</td>
                <td>4 <br><span class="dot">-1</span></td>
                <td>4 <br><span class="dot">-2</span></td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4 <br><span class="dot">-2</span></td>
                <td>4</td>
                <td>34</td>
                <td>4</td>
                <td>4</td>
                <td>4 <br><span class="dot">-2</span></td>
                <td>4</td>
                <td>4 <br><span class="dot">-2</span></td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>64 <br><i class="fas fa-unlock edit"></td>
                <td>64</td>
              </tr>

              <tr class="score">
                <td></td>
                <td>Sam D. <br><span class="dot">DQ</span><%= link_to "Disqualify", "#disqualify", class: 'btn btn-primary edit' %></td>
                <td>4</td>
                <td>4</td>
                <td>4 <br><span class="dot">-2</span></td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4 <br><span class="dot">-2</span></td>
                <td>4</td>
                <td>34</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4 <br><span class="dot">-2</span></td>
                <td>4 <br><span class="dot">-2</span></td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>64 <br><i class="fas fa-lock edit"></i></td>
                <td>64</td>
              </tr>

              <tr class="net">
                <td>Game Types</td>
                <td>Best Ball Net</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>64</td>
                <td>64</td>
              </tr>

              <tr class="net">
                <td></td>
                <td>Best Ball Gross</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>64</td>
                <td>64</td>
              </tr>

              <tr class="m-hcp">
                <td>HDCP</td>
                <td>MEN</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>64</td>
                <td>64</td>
              </tr>

              <tr class="m-hcp">
                <td></td>
                <td>WOMEN</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>34</td>
                <td>64</td>
                <td>64</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
$( ".edit-button" ).click(function() {
  $( ".edit" ).toggle( "slow", function() {
    // Animation complete.
  });
});
</script>