<div class="edit-tee-times-header">
  <div class="row">
    <div class="col-md-8">
      <h2>Tee Time Editor</h2>
    </div>
    <div class="col-md-4 text-right">
      <button type="button" class="btn btn__ezgl-secondary add-team ml-3">Add Tee Time</button>
      <button type="button" class="btn btn__ezgl-primary">Save</button>
    </div>
  </div>
</div>
<div class="edit-tee-times-content">
    <div class="row no-gutters">
        <div class="col-md-12">
          <div class="edit-tee-times-right-content mCustomScrollbar" data-mcs-theme="dark" id="sortable-groups">
            <% tournament_day.tournament_groups.each_with_index do |group, i| %>
              <div class="heading-style">
                <h2 class="text-uppercase">group <%= i + 1 %>: <%= group.tee_time_at.to_s(:time_only) %></h2>
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-trash"></i>
              </div>

              <% slices = group.golf_outings.each_slice(2) %>
              <% slices.each do |slice| %>
                <div class="row <%= 'row-last' if slice == slice.last %> sortable">
                  <% slice.each do |outing| %>
                    <div class="media">
                      <%= user_avatar(outing.user) %>
                      <div class="media-body">
                        <h2><%= outing.user.complete_name %></h2>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div><!-- /.tee-times-panel-content -->

          <div class="add-record-container">

            <div class="input-container">
              <input type="text" placeholder="Add tee time...">
              <%= link_to "Save", "", class: 'btn btn__ezgl-secondary-outline' %>
              <p class="close">X</p>
            </div>
          </div>
        </div>
    </div>
</div>  

<script>
  $('.add-team').click(function(){
    $('.input-container').css('display','flex');
  });

  $('.close').click(function(){
    $('.input-container').css('display','none');
  });
</script>