<div class="tab-pane tab-pane-2 tee-times-panel active" id="tee-time-tab">
  <hr class="tee-times-panel-divider">
  <div class="tee-times-panel-content">
    <% tournament_day.tournament_groups.each_with_index do |group, i| %>
      <div class="heading-style">
        <h2 class="text-uppercase">group <%= i + 1 %>: <%= group.tee_time_at.to_s(:time_only) %></h2>
      </div>

      <% slices = group.golf_outings.each_slice(2) %>
      <% tee_times_count = 0 %>

      <% slices.each do |slice| %>
        <div class="row drag-player-row <%= 'row-last' if slice == slice.last %>">
          <% slice.each do |outing| %>
            <% tee_times_count += 1 %>
            <div class="col-md-6 tee-time-widget">
              <div class="media">
                <%= user_avatar(outing.user) %>
                <div class="media-body">
                  <h2><%= outing.user.complete_name %></h2>

                  <button class="btn dropdown-toggle edit-golfer-btn" type="button" id="dropdownMenuButton">
                    <a href='#' v-on:click="showGolferDetails" data-golfer-id="<%= outing.user.id %>" class='edit-golfer-icon'><%= image_tag('edit.png', style: "width: 24px !important; height:24px;") %></a>
                  </button>
                </div>
              </div>
            </div>
          <% end %>

          <% if tee_times_count == 3 || tee_times_count == 1 %>
            <div class="drag-player-box">
              <div class="drag-player add-player-tee-time">
                <a href="#" class="add-player-here" v-on:click="showTeeTimeEditor" >Player 2</a>
              </div>
            </div>
          <% end %> 
        </div>
      <% end %>

      <% if tee_times_count == 1 || tee_times_count == 2 %>
        <div class="row sortable drag-player-row">
          <div class="drag-player-box">
            <div class="drag-player add-player-tee-time">
              <a href="#" class="add-player-here" v-on:click="showTeeTimeEditor" >Player 3</a>
            </div>
          </div>

          <div class="drag-player-box">
            <div class="drag-player add-player-tee-time">
              <a href="#" class="add-player-here" v-on:click="showTeeTimeEditor" >Player 4</a>
            </div>
          </div>
        </div>
      <% end %>

      <% if tee_times_count == 0 %>
        <div class="row drag-player-row">
          <div class="drag-player-box">
            <div class="drag-player add-player-tee-time">
              <a href="#" class="add-player-here" v-on:click="showTeeTimeEditor">Player 1</a>
            </div>
          </div>

          <div class="drag-player-box">
            <div class="drag-player add-player-tee-time">
              <a href="#" class="add-player-here" v-on:click="showTeeTimeEditor">Player 2</a>
            </div>
          </div>
        </div>

        <div class="row drag-player-row">
          <div class="drag-player-box">
            <div class="drag-player add-player-tee-time">
              <a href="#" class="add-player-here" v-on:click="showTeeTimeEditor">Player 3</a>
            </div>
          </div>

          <div class="drag-player-box">
            <div class="drag-player add-player-tee-time">
              <a href="#" class="add-player-here" v-on:click="showTeeTimeEditor">Player 4</a>
            </div>
          </div>
        </div>
      <% end %>

      <% tee_times_count = 0 %>

    <% end %>
  </div>
  <!-- /.tee-times-panel-content -->                      
</div>