<div class="container p-0 mb-5">
  <div class="row">
    <div class="col-md-12">

      <div class="tournament-card">
        <div class="tournament-card__header">
          <h3 class="p-4">Tournament Details</h3>
          <% if @tournament.tournament_state == TournamentState::REGISTRATION %>
            <a href='#' class='btn btn__ezgl-secondary' v-on:click="showTournamentDetails">Edit</a>
          <% end %>
        </div>

        <div class="tournament-card__body">
          <div class="row">
            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Course:</p>
                </div>
                <div class="right">
                  <p><%= @tournament.first_day.course.name %></p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Sign Up Start:</p>
                </div>
                <div class="right">
                  <p><%= @tournament.signup_opens_at.to_s(:short) %></p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Dues?</p>
                </div>
                <div class="right">
                  <p><%= human_boolean(@tournament.mandatory_dues_amount.positive?) %></p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>show $ payouts?</p>
                </div>
                <div class="right">
                  <p>-</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Date:</p>
                </div>
                <div class="right">
                  <p><%= @tournament.tournament_starts_at.to_s(:date_and_time) %></p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Sign Up End:</p>
                </div>
                <div class="right">
                  <p><%= @tournament.signup_closes_at.to_s(:short) %></p>
                </div>
              </div>
            </div>
            
            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>tee time splits:</p>
                </div>
                <div class="right">
                  <p>8 min</p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="tournament-card__content p-4">
                <div class="left">
                  <p>Scoring Until Finalized?</p>
                </div>
                <div class="right">
                  <p><%= human_boolean(@tournament.first_day.enter_scores_until_finalized) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
