<div class="row">
  <div class="col-md-12">
    <% @tournament.tournament_days.each do |d| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @tournament.name %> / <%= d.tournament_at %> / <%= @tournament.league.name %></h3>
        </div>
        <div class="panel-body">
          <p>Day Last Modified: <%= d.updated_at %></p>
          <p>Groups API Cache Key: <%= d.groups_api_cache_key %></p>
          <p>Leaderyboard API Cache Key: <%= d.tournament_day_results_cache_key("leaderboard-json") %></p>

          <p><strong>Players</strong></p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Outing Handicap</th>
                <th>DQ</th>
                <th>Registered</th>
              </tr>
            </thead>
            <% d.tournament_groups.each do |g| %>
              <% g.golf_outings.each do |o| %>
                <tr>
                  <td><%= o.user.complete_name %></td>
                  <td><%= o.course_handicap %></td>
                  <td><%= o.disqualified %></td>
                  <td><%= o.registered_by %> <%= o.created_at %></td>
                </tr>
              <% end %>
            <% end %>
          </table>

          <p><strong>Computed Results</strong></p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Flight</th>
                <th>Gross</th>
                <th>Net</th>
                <th>FNNS</th>
                <th>BNNS</th>
                <th>Par Gross</th>
                <th>Par Net</th>
              </tr>
            </thead>
            <% d.tournament_day_results.each do |r| %>
            <tr>
              <td><%= r.user.complete_name %></td>
              <td><%= r.rank %></td>
              <td><%= r.flight.display_name %></td>
              <td><%= r.gross_score %></td>
              <td><%= r.net_score %></td>
              <td><%= r.front_nine_net_score %></td>
              <td><%= r.back_nine_net_score %></td>
              <td><%= r.par_related_gross_score %></td>
              <td><%= r.par_related_net_score %></td>
            </tr>
            <% end %>
          </table>
          <% if d.tournament_day_results.count != @tournament.players_for_day(d).count %>
            <p style="color:red">RESULTS COUNT <%= d.tournament_day_results.count %> DOES NOT MATCH PLAYER COUNT <%= @tournament.players_for_day(d).count %></p>
          <% end %>
        </div>
      </div>

      <p>
       groups_api_cache_key: <%= Rails.cache.fetch(d.groups_api_cache_key) %>
      </p>

      <p>
        leaderboard-json: <%= Rails.cache.fetch(d.tournament_day_results_cache_key("leaderboard-json")) %>
      </p>
    <% end %>
  </div>
</div>