<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Finalize Tournament</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<% if @tournament.players.count == 0 -%>
<p><strong>This tournament does not yet have any players and cannot be finalized.</strong></p>
<% else -%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Calculated Payouts</h3>
      </div>
      <table class="table table-striped">
      	<thead>
      		<tr>
            <th>Day</th>
            <th>Flight</th>
            <th>Player</th>
            <th>Gross</th>
            <th>Course Handicap</th>
      			<th>Amount</th>
            <th>Points</th>
      		</tr>
      	</thead>
      	<tbody>
          <% @tournament_days.each do |day| -%>
            <% day.payout_results.order("flight_id").each do |payout_result| -%>
          		<tr>
                <td><%= day.tournament_at.to_s(:short) %></td>
                <td><%= payout_result.flight.flight_number %></td>
                <td><%= payout_result.user.complete_name unless payout_result.user.blank? %></td>
                <td><%= day.player_score(payout_result.user) unless payout_result.user.blank? %></td>
                <td><%= day.golf_outing_for_player(payout_result.user).course_handicap.to_i unless payout_result.user.blank? || day.golf_outing_for_player(payout_result.user).blank? %></td>
          			<td><%= number_to_currency(payout_result.amount) %></td>
          			<td><%= payout_result.points.to_i %></td>
          		</tr>
            <% end -%>
          <% end -%>
      	</tbody>
        <tfoot>
      		<tr>
            <th>&nbsp;</th>
      			<th>&nbsp;</th>
            <th>&nbsp;</th>
      			<th>&nbsp;</th>
            <th>&nbsp;</th>
      			<th>&nbsp;</th>
            <th><%= link_to 'Confirm & Finalize', league_tournament_confirm_finalization_path(@tournament.league, @tournament), :method => :patch, :class => 'btn btn-danger' %></th>
      		</tr>
        </tfoot>
      </table>
    </div>
  </div>
    
  <% @tournament_days.each do |day| -%>
    <div class="col-md-12">
      <h3><%= day.pretty_day(true) %>Results</h3>
      <table class="table table-striped">
      	<thead>
      		<tr>
            <th>Player</th>
            <th>Gross</th>
            <th>Net</th>
      			<th>&nbsp;</th>
      		</tr>
      	</thead>
      	<tbody>
          <% day.tournament_day_results.each do |result| %>
            <tr>
              <td><%= result.user.complete_name %><% if result.primary_scorecard != nil && !result.primary_scorecard.is_confirmed? -%> (Unconfirmed by Player)<% end -%></td>
              <td><%= result.gross_score %></td>
              <td><%= result.net_score %></td>
              <td><%= link_to "Edit Scorecard", edit_scorecard_path(result.primary_scorecard) unless result.primary_scorecard.blank? %></td>
            </tr>
          <% end -%>
      	</tbody>
      </table>
    </div>
  <% end -%>
</div>
<% end -%>