<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Finalize Tournament</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<% if @tournament.players.count == 0 -%>
  <p><strong>This tournament does not yet have any players and cannot be finalized.</strong></p>
<% else -%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tournament Payouts</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Day</th>
            <th><%= flight_or_group(@tournament) %></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Points</th>
            <th>Score</th>
            <th>Course Handicap</th>
          </tr>
        </thead>
        <tbody>
          <% @tournament_days.each do |day| -%>
            <% day.payout_results.order(:flight_id).order(amount: :desc).each do |payout_result| -%>
              <tr>
                <td><%= day.tournament_at.to_s(:short) %></td>
                <td><%= payout_result.flight.display_name %></td>
                <td><%= payout_result.user.complete_name unless payout_result.user.blank? %></td>
                <td><%= number_to_currency(payout_result.amount) %></td>
                <td><%= payout_result.points.to_i %></td>
                <td><%= day.player_score(payout_result.user) unless payout_result.user.blank? %></td>
                <td><%= day.golf_outing_for_player(payout_result.user).course_handicap.to_i unless payout_result.user.blank? || day.golf_outing_for_player(payout_result.user).blank? %></td>
              </tr>
            <% end -%>
          <% end -%>
        </tbody>
        <tfoot>
          <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th><%= link_to 'Post Results', league_tournament_confirm_finalization_path(@tournament.league, @tournament), :method => :patch, :class => 'btn btn-danger' %></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contest Results</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Day</th>
            <th>Contest</th>
            <th>Winner(s)</th>
            <th>Amount</th>
            <th>Points</th>
            <th>Details</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @tournament_days.each do |day| %>
            <% day.contests.each do |c| %>
            <tr>
              <td><%= day.tournament_at.to_s(:short) %></td>
              <td><%= c.name %></td>
              <td><%= format_winners(c.winners) %></td>
              <td><%= format_payout(c.winners) %></td>
              <td><%= format_points(c.winners) %></td>
              <td><%= format_results(c.winners) %></td>
              <td><% if c.manual_results_entry? -%><%= link_to "Edit Results", league_tournament_contest_contest_results_path(@tournament.league, @tournament, c, tournament_day: day), target: :new %><% else %>&nbsp;<% end -%></td>
            </tr>
            <% end %>
          <% end =%>
        </tbody>
      </table>
    </div>
  </div>

  <% @tournament_days.each do |day| -%>
    <div class="col-md-12">
      <h3><%= day.pretty_day(true) %>Results</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= flight_or_group(@tournament) %></th>
            <th>Player</th>
            <th>Net</th>
            <th>Gross</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% day.tournament_day_results.each do |result| %>
            <tr>
              <td><%= result.flight&.display_name %></td>
              <td><%= result.user&.complete_name %><% if result.primary_scorecard != nil && !result.primary_scorecard&.is_confirmed? -%> (Unconfirmed by Player)<% end -%><%- if result.primary_scorecard&.golf_outing&.disqualified %> (Disqualified)<%- end %></td>
              <td><%= result.net_score %></td>
              <td><%= result.gross_score %></td>
              <td><%= link_to "Edit Scorecard", edit_scorecard_path(result.primary_scorecard) unless result.primary_scorecard.blank? %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  <% end -%>
</div>
<% end -%>
