<script>
  mixpanel.identify();
  mixpanel.track("Admin: Display Tournament List");

  amplitude.getInstance().setUserId('<%= current_user.id %>');
  amplitude.getInstance().logEvent("Admin: Display Tournament List");
</script>

<div class="row">
  <% if current_user.selected_league.alert_missing_next_season? || !current_user.selected_league.exempt_from_subscription %>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Important Information</h3>
        </div>
        <div class="panel-body">
          <% if current_user.selected_league.alert_missing_next_season? %>
            <p>Please be sure to create your next season so that your golfers can pay dues and you can create your tournaments.</p>
            <p><%= link_to "Manage Your Seasons", league_league_seasons_path(current_user.selected_league), :class => 'btn btn-primary' %></p>
            <br/>
          <% end %>

          <% if !current_user.selected_league.exempt_from_subscription && current_user.is_any_league_admin? %>
            <% if !current_user.selected_league.has_active_subscription? %>
              <p>You currently have <%= current_user.selected_league.free_tournaments_remaining %> free tournaments remaining.</p>
            <% end %>

            <p><%= link_to "View Your Subscription", current_league_subscription_credits_path(current_user.selected_league), :class => 'btn btn-primary' %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% unless @unconfigured_tournaments.blank? -%>
    <%= render partial: 'index_table', locals: {tournaments: @unconfigured_tournaments, title: "Setup In Process", show_create: false} %>
  <% end -%>

  <% unless @upcoming_tournaments.blank? -%>
    <%= render partial: 'index_table', locals: {tournaments: @upcoming_tournaments, title: "Upcoming Tournaments", show_create: @can_create_tournaments} %>
  <% end -%>

  <% unless @past_tournaments.blank? -%>
    <%= render partial: 'index_table', locals: {tournaments: @past_tournaments, title: "Past Tournaments", show_create: @can_create_tournaments} %>
  <% end -%>

  <% if @can_create_tournaments && @upcoming_tournaments.blank? -%>
    <% if @past_tournaments.blank? -%>
      <h4>You don't have any tournaments yet.</h4>
      <%= link_to 'Create Tournament', new_league_tournament_path(current_user.selected_league), :class => 'btn btn-primary' %>
    <% end -%>
  <% end -%>

  <%= link_to_prev_page @past_tournaments, '← Previous Page', :class => 'btn btn-default' %>
  <%= link_to_next_page @past_tournaments, 'Next Page →', :class => 'btn btn-default' %>
</div>
