<div class="banner-img tournaments-banner-img"></div>
<!-- /.banner-img -->
<div class="container pt-110">
  <div class="dashboard-header ttt-header">
    <div class="row">
      <div class="col-md-8">
        <h2>Tournaments</h2>
<!--         <p class="mid-ttt-para text-uppercase"><strong>17</strong>tournaments</p>
        <p class="text-uppercase"><strong>9</strong>tournaments this season</p> -->
      </div>
      <!-- /.col-md-8 --> 
      <div class="col-md-4 text-right">
        <%= link_to "Create Tournament", new_league_tournament_path(current_user.selected_league), class: 'btn btn-primary' %>
      </div>
      <!-- /.col-md-6 --> 
    </div>
    <!-- /.row -->         
  </div>
  <!-- /.dashboard-header --> 
  <div class="container">
    <% if @upcoming_tournaments.count > 0 %>
    <section class="upcoming pt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-style">
            <h2 class="text-uppercase">upcoming</h2>
          </div>
        </div>
      </div>
      <div class="tournaments-card-slider-list">
        <% @upcoming_tournaments.each_slice(3).each do |slice| %>
          <div class="row mb-5">
            <% slice.each do |tournament| %>
              <% cache [slice] do %>
                <%= render partial: 'tournament_card', locals: { tournament: tournament } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- /.tournaments-card-slider-list -->
    </section>
    <% end %>

    <% if @past_tournaments.count > 0 %>
    <section class="upcoming">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-style">
            <h2 class="text-uppercase">completed</h2>
          </div>
        </div>
      </div>
      <div class="tournaments-card-slider-list">
        <% @past_tournaments.each_slice(3).each do |slice| %>
          <div class="row mb-5">
            <% slice.each do |tournament| %>
              <% cache [slice] do %>
                <%= render partial: 'tournament_card', locals: { tournament: tournament } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- /.tournaments-card-slider-list -->
    </section>
    <% end %>

    <div class="tournaments-page-nav">
      <%= link_to_prev_page @past_tournaments, '← Previous Page', class: 'btn btn-default' %>
      <%= link_to_next_page @past_tournaments, 'Next Page →', class: 'btn btn-default' %>
    </div>

    <!-- /.upcoming -->
  </div>
</div>

<script>
  mixpanel.identify();
  amplitude.getInstance().setUserId('<%= current_user.id %>');

  ezglTrackAnalyticsEvent("Viewed the list of tournaments");

  _dcq.push(["identify", {
    email: "<%= current_user.email %>",
    first_name: "<%= current_user.first_name %>",
    last_name: "<%= current_user.last_name %>",
    tags: <%= current_user.drip_tags.to_json.html_safe %>,
    success: function(response) {
    // Call a method with the response object
    // Success callback is optional
    }
  }]);
</script>