<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Manage Holes</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<%= simple_form_for @tournament, url: league_tournament_update_holes_path(@tournament.league, @tournament) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <%= f.simple_fields_for :tournament_days do |p| %>
    <%= render partial: 'holes_form', locals: {tournament_day: p.object, p: p} %>
  <% end -%>

  <div class="form-actions">
    <%= f.button :submit, "Save & Continue", :class => 'btn btn-default' %>
  </div>
<% end %>
