<link rel="stylesheet" href="https://unpkg.com/bs-stepper/dist/css/bs-stepper.min.css">
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">


<div class="create-tournament-page">
  <div class="container pt-150 pb-100">
    <div class="cat-card">
        <div id="stepper1" class="bs-stepper">
          <div class="bs-stepper-header" role="tablist">
            <div class="step" data-target="#test-l-1">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1">
                <span class="bs-stepper-circle">1</span>                  
              </button>
            </div>
            <div class="line"></div>
            <div class="step step-2-dot hidden" data-target="#test-l-2">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2">
                <span class="bs-stepper-circle">2</span>                 
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3">
                <span class="bs-stepper-circle">3</span>                 
              </button>
            </div>
          </div>

          <div class="bs-stepper-content">
            <form onSubmit="return false">
              <div id="test-l-1" role="tabpanel" class="content" aria-labelledby="stepper1trigger1">
                <div class="step-1-content">
                  <h2>Create a Tournament</h2>
                  <p>This is simple process to make your tournament.</p>
                  <div class="step-1-content-form">
                    <% if @tournament.new_record? || is_editable?(@tournament) -%>
                      <%= simple_form_for [current_user.selected_league, @tournament], :defaults => { :input_html => { :class => "form-control", :label => false }} do |f| %>
                        <% if notification = f.error_notification %>
                          <div class="alert alert-error fade in">
                            <%= notification %>
                          </div>
                        <% end %>
                        <div>
                          <div class="row">
                            <div class="col-md-4 text-right">
                              <label>Tournament Name</label>
                            </div>
                              <div class="col-md-5">
                                <%= f.input :name, placeholder: 'Choose a name...', required: true %>
                            </div>
                          </div>
                        </div> 
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-4 text-right">
															<label>Tournament Date</label>
                            </div>
                              <div class="col-md-5">
                                <div class="date-inputs" style="padding-right:24px;">
																	<div class="row">
																		<div class="col-12">
																			<%= f.input :tournament_starts_at, label: 'Tournament Date', as: :datetime_picker, required: true %>
																		</div>
																	</div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-4 text-right">
															<label>Registration Dates</label>
                            </div>
                              <div class="col-md-5">
                                <div class="date-inputs">
																	<div class="row">
																		<div class="col-md-6">
																			<%= f.input :signup_opens_at, label: 'Signup Opening Date', placeholder: 'Open', as: :datetime_picker, required: true, input_html: { value: @tournament.signup_opens_at&.to_s(:date_and_time) } %>
																		</div>
																		<div class="col-md-6">
																			<%= f.input :signup_closes_at, label: 'Signup Closing Date', placeholder: 'Close', as: :datetime_picker, required: true, input_html: { value: @tournament.signup_closes_at&.to_s(:date_and_time) } %>
																		</div>
																	</div>
                                </div>
                            </div>
                          </div>
                        </div> 
                        <div>
                        </div> 
                        <div class="form-group">
                            <div class="row">
                              <div class="col-md-4 text-right">
                                  <label>Golf Course</label>
                              </div>
                                <div class="col-md-5">
                                  <%= select_tag('course', options_from_collection_for_select(@courses, 'id', 'name'), {:include_blank => 'Choose a Course...'}) %>
                              </div>
                            </div>
                        </div> 
                        <div class="form-group">
                          <input type="checkbox" id="separate" name="separate">
                          <label for="separate" class="pl-2">Separate golfers into flights</label>
                        </div>
                      <% end %>
                    <% end %>
                  </div>            
                </div><!-- /.step-1-content -->
                <div class="cat-card-footer">                     
                    <button type="button" class="btn btn-outline-secondary">Cancel</button>
                    <button class="btn btn__ezgl-secondary" onclick="firstStep()">Next</button>
                </div>
              </div>

              <div id="test-l-2" role="tabpanel" class="content" aria-labelledby="stepper1trigger2">
                <div class="step-1-content">
                  <h2 class="text-center">Flights</h2>
                  <p>Manually add flights below.</p>
                  <div class="step-1-content-form">
                    <% if @tournament.new_record? || is_editable?(@tournament) -%>
                      <%= simple_form_for [current_user.selected_league, @tournament], :defaults => { :input_html => { :class => "form-control", :label => false }} do |f| %>
                        <% if notification = f.error_notification %>
                          <div class="alert alert-error fade in">
                            <%= notification %>
                          </div>
                        <% end %>

                        <div>
                          <div class="row">
                            <div class="col-md-4 text-right">
                              <label>Flight #1</label>
                            </div>
                            <div class="col-md-5 tee-times-inputs">
                              <div class="pr-4">
                                <%= f.input :name, placeholder: 'Lowest HCP', required: true %>
                              </div>
                              <div class="pr-4">
                                <%= f.input :name, placeholder: 'Highest HCP', required: true %>
                              </div>
                              <div>
                                <%= f.input :name, placeholder: 'Tee Box', required: true %>
                              </div>
                            </div>
                          </div>

                          <div class="btn btn__ezgl-secondary addMoreFlight1" onclick="addFlight2()">Add More</div>
                        </div> 

                        <div class="flight-2-row hidden">
                          <div class="row">
                            <div class="col-md-4 text-right">
                              <label>Flight #2</label>
                            </div>
                            <div class="col-md-5 tee-times-inputs">
                              <div class="pr-4">
                                <%= f.input :name, placeholder: 'Lowest HCP', required: true %>
                              </div>
                              <div class="pr-4">
                                <%= f.input :name, placeholder: 'Highest HCP', required: true %>
                              </div>
                              <div>
                                <%= f.input :name, placeholder: 'Tee Box', required: true %>
                              </div>
                            </div>
                          </div>

                          <div class="btn btn__ezgl-secondary addMoreFlight2" onclick="addFlight3()">Add More</div>
                        </div> 

                        <div class="flight-3-row hidden">
                          <div class="row">
                            <div class="col-md-4 text-right">
                              <label>Flight #3</label>
                            </div>
                            <div class="col-md-5 tee-times-inputs">
                              <div class="pr-4">
                                <%= f.input :name, placeholder: 'Lowest HCP', required: true %>
                              </div>
                              <div class="pr-4">
                                <%= f.input :name, placeholder: 'Highest HCP', required: true %>
                              </div>
                              <div>
                                <%= f.input :name, placeholder: 'Tee Box', required: true %>
                              </div>
                            </div>
                          </div>

                          <div class="btn btn__ezgl-secondary addMoreFlight3" onclick="addFlight4()">Add More</div>
                        </div> 

                        <div class="flight-4-row hidden">
                          <div class="row">
                            <div class="col-md-4 text-right">
                              <label>Flight #4</label>
                            </div>
                            <div class="col-md-5 tee-times-inputs">
                              <div class="pr-4">
                                <%= f.input :name, placeholder: 'Lowest HCP', required: true %>
                              </div>
                              <div class="pr-4">
                                <%= f.input :name, placeholder: 'Highest HCP', required: true %>
                              </div>
                              <div>
                                <%= f.input :name, placeholder: 'Tee Box', required: true %>
                              </div>
                            </div>
                          </div>
                        </div> 
                      <% end %>
                    <% end %>
                  </div> 
                </div>
                <div class="cat-card-footer">
                  <button class="btn btn-outline-secondary" onclick="stepper1.previous()">Previous</button>
                  <button class="btn btn__ezgl-secondary" onclick="stepper1.next()">Next</button>
                </div>                  
              </div>

              <div id="test-l-3" role="tabpanel" class="content text-center" aria-labelledby="stepper1trigger3">
                <div class="step-1-content">
                  <h2 class="text-center">Game Types</h2>
                  <p>Add different game types to your tournament.</p>
                  <div class="step-content-game-types">
                    <div class="row">
                      <div class="added-game-type">
                        <p>Skins</p>
                        <%= link_to "Add Payout", "", data: { toggle:"modal", target:"#addPayoutModal" }, class: "btn btn-primary" %>
                      </div>
                      <div class="add-game-type" data-toggle="modal" data-target="#addGameTypeModal">
                        <p>+ Add Game</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="add-game-type" data-toggle="modal" data-target="#addGameTypeModal">
                        <p>+ Add Game</p>
                      </div>
                      <div class="add-game-type" data-toggle="modal" data-target="#addGameTypeModal">
                        <p>+ Add Game</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="add-game-type" data-toggle="modal" data-target="#addGameTypeModal">
                        <p>+ Add Game</p>
                      </div>
                      <div class="add-game-type" data-toggle="modal" data-target="#addGameTypeModal"> 
                        <p>+ Add Game</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="add-game-type" data-toggle="modal" data-target="#addGameTypeModal">
                        <p>+ Add Game</p>
                      </div>
                      <div class="add-game-type" data-toggle="modal" data-target="#addGameTypeModal">
                        <p>+ Add Game</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cat-card-footer">
                  <button class="btn btn-outline-secondary" onclick="lastStep()">Previous</button>
                  <button type="submit" class="btn btn__ezgl-secondary">Submit</button>
                </div>                  
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addGameTypeModal" tabindex="-1" role="dialog" aria-labelledby="addGameTypeCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <% if @tournament.new_record? || is_editable?(@tournament) -%>
        <%= simple_form_for [current_user.selected_league, @tournament], :defaults => { :input_html => { :class => "form-control", :label => false }} do |f| %>    
          <div class="modal-body welcome p-5">
            <div class="p-3">
              <h2 style="font-size:30px;">Add Game</h2>
            </div>
            <% if notification = f.error_notification %>
              <div class="alert alert-error fade in">
                <%= notification %>
              </div>
            <% end %>
            <div class="step-1-content-form step-1-content">
              <div class="row">
                <div class="col-md-3 text-right">
                  <label>Game Type</label>
                </div>
                  <div class="col-md-8">
                    <%= select_tag('gameTypes', options_from_collection_for_select(@courses, 'id', 'name'), {:include_blank => 'Choose a Game Type...'}) %>
                </div>
              </div>
            </div>
            <div class="step-1-content-form step-1-content">
              <div class="row">
                <div class="col-md-3 text-right">
                  <label>Attributes</label>
                </div>
                <div class="col-md-8 tee-times-inputs">
                  <div class="pr-4">
                    <%= f.input :name, placeholder: 'Holes', required: true %>
                  </div>
                  <div>
                    <%= f.input :name, placeholder: 'Payout', required: true %>
                  </div>
                </div>
              </div>
            </div> 
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.button :submit, "Save", class: 'btn__ezgl-secondary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="addPayoutModal" tabindex="-1" role="dialog" aria-labelledby="addPayoutCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <% if @tournament.new_record? || is_editable?(@tournament) -%>
        <%= simple_form_for [current_user.selected_league, @tournament], :defaults => { :input_html => { :class => "form-control", :label => false }} do |f| %>    
          <div class="modal-body welcome p-5">
            <div class="p-3">
              <h2 style="font-size:30px;">Add Payout</h2>
            </div>
            <% if notification = f.error_notification %>
              <div class="alert alert-error fade in">
                <%= notification %>
              </div>
            <% end %>
            <div class="step-1-content-form step-1-content">
              <div class="row">
                <div class="col-md-3 text-right">
                  <label>Flight</label>
                </div>
                  <div class="col-md-8">
                    <%= select_tag('flight', options_from_collection_for_select(@courses, 'id', 'name'), {:include_blank => 'Choose a Flight...'}) %>
                </div>
              </div>
            </div>
            <div class="step-1-content-form step-1-content pt-0">
              <div class="row">
                <div class="col-md-3 text-right">
                  <label>Attributes</label>
                </div>
                <div class="col-md-8 tee-times-inputs">
                  <div class="pr-4">
                    <%= f.input :name, placeholder: 'Amount', required: true %>
                  </div>
                  <div>
                    <%= f.input :name, placeholder: 'Points', required: true %>
                  </div>
                </div>
              </div>
            </div> 
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.button :submit, "Save", class: 'btn__ezgl-secondary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">      

  document.addEventListener('DOMContentLoaded', function () {
    stepper1 = new Stepper(document.querySelector('#stepper1'))
  })

  $(function () {
    $('#tournament_tournament_starts_at, #tournament_signup_opens_at, #tournament_signup_closes_at').datetimepicker();
  });  

  $('input#separate').change(function() {
    $('.step-2-dot').toggleClass("hidden")
  })

  function firstStep () {
    if ($('input#separate').is(':checked')) {
      stepper1.next()
    } else {
      stepper1.to(3)
    }
  }

  function lastStep () {
    if ($('input#separate').is(':checked')) {
      stepper1.previous()
    } else {
      stepper1.to(1)
    }
  }

  function addFlight2() {
    $('.addMoreFlight1').addClass('hidden');
    $('.flight-2-row').removeClass('hidden');
  }

  function addFlight3() {
    $('.addMoreFlight2').addClass('hidden');
    $('.flight-3-row').removeClass('hidden');
  }

  function addFlight4() {
    $('.addMoreFlight3').addClass('hidden');
    $('.flight-4-row').removeClass('hidden');
  }

  $('.selectize-control').remove();

  var $course_selector = $('#course').selectize({
      valueField: 'id',
      labelField: 'name',
      searchField: 'name',
      maxItems: '1',
      placeholder: 'Search for a course...',
      create: false,
      render: {
            option: function (item, escape) {
                return '<div>' + escape(item.name) + '</div>';
            }
      }
  });

  var $gameType_selector = $('#gameTypes').selectize({
      valueField: 'id',
      labelField: 'name',
      searchField: 'name',
      maxItems: '1',
      placeholder: 'Choose a game type...',
      create: false,
      render: {
            option: function (item, escape) {
                return '<div>' + escape(item.name) + '</div>';
            }
      }
  });

  var $flight_selector = $('#flight').selectize({
      valueField: 'id',
      labelField: 'name',
      searchField: 'name',
      maxItems: '1',
      placeholder: 'Choose a flight...',
      create: false,
      render: {
            option: function (item, escape) {
                return '<div>' + escape(item.name) + '</div>';
            }
      }
  });
</script>