<% content_for :head do -%>
  <%= javascript_pack_tag 'tournament_wizard' %>
<% end -%>

<link rel="stylesheet" href="https://unpkg.com/bs-stepper/dist/css/bs-stepper.min.css">
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

<% props = {
    league: @league
  }.to_json
%>

<div id="tournament-wizard" data="<%= props %>" class="create-tournament-page">
  <div class="container pt-150 pb-100">
    <div class="cat-card">
        <div id="stepper1" class="bs-stepper">
          <div class="bs-stepper-header" role="tablist">
            <div class="step" data-target="#test-l-1">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1">
                <span class="bs-stepper-circle">1</span>                  
              </button>
            </div>
            <div class="line"></div>
            <div class="step step-2-dot hidden" data-target="#test-l-2">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2">
                <span class="bs-stepper-circle">2</span>                 
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
              <button type="button" class="btn btn-link step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3">
                <span class="bs-stepper-circle">3</span>                 
              </button>
            </div>
          </div>

          <div class="bs-stepper-content">
            <form onSubmit="return false">
              <div id="test-l-1" role="tabpanel" class="content" aria-labelledby="stepper1trigger1">
                <div class="step-1-content">
                  <h2>Create a Tournament</h2>
                  <p>This is simple process to make your tournament.</p>
                  <div class="step-1-content-form">
                    <div>
                      <div class="row">
                        <div class="col-md-4 text-right">
                          <label>Tournament Name</label>
                        </div>
                          <div class="col-md-5">
                            <div class="form-group string required tournament_name">
                              <input label="false" required="required" aria-required="true" placeholder="Choose a name..." type="text" id="tournament_name" class="form-control string required form-control" v-model="tournament_wizard.tournament_name">
                            </div>
                        </div>
                      </div>
                    </div> 
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4 text-right">
  												<label>Tournament Date</label>
                        </div>
                          <div class="col-md-5">
                            <div class="date-inputs" style="padding-right:24px;">
  														<div class="row">
  															<div class="col-12">
                                  <div class="form-group string required tournament_starts_at">
                                    <date-picker v-model="tournament_wizard.tournament_starts_at"></date-picker>
                                  </div>
  															</div>
  														</div>
                            </div>
                        </div>
                      </div>
                    </div> 
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4 text-right">
  												<label>Registration Dates</label>
                        </div>
                          <div class="col-md-5">
                            <div class="date-inputs">
  														<div class="row">
  															<div class="col-md-6">
                                  <date-picker v-model="tournament_wizard.tournament_opens_at"></date-picker>
  															</div>
  															<div class="col-md-6">
                                  <date-picker v-model="tournament_wizard.tournament_closes_at"></date-picker>
  															</div>
  														</div>
                            </div>
                        </div>
                      </div>
                    </div> 
                    <div>
                    </div> 
                    <div class="form-group">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            <label>Golf Course</label>
                          </div>
                          <div class="col-md-5">
                            <selectize v-model="tournament_wizard.course_id" :settings="courseSelectSettings"></selectize>
                          </div>
                        </div>
                    </div> 
                    <div class="form-group">
                      <input type="checkbox" id="show-flights" v-on:click="toggleFlights">
                      <label for="show-flights" class="pl-2">Separate golfers into flights</label>
                    </div>
                  </div>            
                </div><!-- /.step-1-content -->
                <div class="cat-card-footer">                     
                    <button type="button" class="btn btn-outline-secondary">Cancel</button>
                    <button class="btn btn__ezgl-secondary" onclick="firstStep()">Next</button>
                </div>
              </div>

              <div id="test-l-2" role="tabpanel" class="content" aria-labelledby="stepper1trigger2">
                <div class="step-1-content">
                  <h2 class="text-center">Flights</h2>
                  <p>Manually add flights below.</p>
                  <div class="step-1-content-form">

                    <div v-for="(flight, index) in tournament_wizard.flights" :key="flight.flight_number">
                      <div class="row">
                        <div class="col-md-4 text-right">
                          <label>Flight #{{ flight.flight_number }}</label>
                        </div>
                        <div class="col-md-5 tee-times-inputs">
                          <div class="pr-4">
                            <div class="form-group string required flight_lowest_handicap">
                              <input label="false" required="required" aria-required="true" placeholder="Lowest HDCP" type="text" id="flight-lowest-handicap" name="Low Handicap" class="form-control string required form-control" v-model="flight.low_handicap">
                            </div>
                          </div>
                          <div class="pr-4">
                            <div class="form-group string required flight_highest_handicap">
                              <input label="false" required="required" aria-required="true" placeholder="Highest HDCP" type="text" id="flight-highest-handicap" name="High Handicap" class="form-control string required form-control" v-model="flight.high_handicap">
                            </div>
                          </div>
                          <div class="pr-4">
                            <selectize v-model="flight.tee_box_id">
                              <option v-for="courseTeeBox in courseTeeBoxes" :key="courseTeeBox.id" v-bind:value="courseTeeBox.id">
                                {{ courseTeeBox.name }}
                              </option>
                            </selectize>
                          </div>
                        </div>
                      </div>
                    </div> 

                    <div class="btn btn__ezgl-secondary addMoreFlight1" v-on:click="newFlight">Add More</div>
                  </div> 
                </div>
                <div class="cat-card-footer">
                  <button class="btn btn-outline-secondary" onclick="stepper1.previous()">Previous</button>
                  <button class="btn btn__ezgl-secondary" onclick="stepper1.next()">Next</button>
                </div>                  
              </div>

              <div id="test-l-3" role="tabpanel" class="content text-center" aria-labelledby="stepper1trigger3">
                <div class="step-1-content">
                  <h2 class="text-center">Game Types</h2>
                  <p>Add different game types to your tournament.</p>
                  <div class="step-content-game-types">
                    <div class="row" v-for="(ruleGroup, index) in tournament_wizard.scoringRules">
                      <template v-for="rule in ruleGroup">
                        <div class="add-game-type" v-on:click="showGameTypeModal(rule)">
                          <template v-if="rule.name">
                            <p>{{ rule.name }}</p>
                            <%= link_to "Add Payout", "", data: { toggle:"modal", target:"#addPayoutModal" }, class: "btn btn-primary" %>
                          </template>
                          <template v-else>
                            <p>+ Add Game</p>
                          </template>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
                <div class="cat-card-footer">
                  <button class="btn btn-outline-secondary" onclick="lastStep()">Previous</button>
                  <button type="submit" class="btn btn__ezgl-secondary">Submit</button>
                </div>                  
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

  <vue-modal name="scoring-rule" height="auto" clickToClose="false">
    <div class="welcome p-5">
      <div class="p-3">
        <h2 style="font-size:30px;text-align:center;">Add Game</h2>
      </div>
      <div class="step-1-content-form step-1-content">
        <div class="row">
          <div class="col-md-3 text-right vue-label">
            <label>Game Type</label>
          </div>
          <div class="col-md-8">
            <multiselect v-model="selectedScoringRule" :options="scoringRules" :multiple="false" group-values="games" group-label="type" :group-select="false" @select="scoringRuleSelected($event)" placeholder="Choose a game type..." track-by="name" label="name"><span slot="noResult">Oops! No game type found...</span></multiselect> 
          </div>
        </div>
      </div>

      <div class="step-1-content-form step-1-content" v-if="selectedScoringRule.custom_name_allowed">
        <div class="row">
          <div class="col-md-3 text-right">
            <label>Name</label>
          </div>
          <div class="col-md-8 tee-times-inputs">
            <div>
              <input label="false" type="text" class="form-control string required form-control" v-model="selectedScoringRule.custom_name">
            </div>
          </div>
        </div>
      </div>

      <div class="step-1-content-form step-1-content pt-2" v-if="selectedScoringRule.show_course_holes">
        <div class="row">
          <div class="col-md-3 text-right vue-label">
            <label>Holes</label>
          </div>
          <div class="col-md-8 tee-times-inputs">
            <div class="col-md-8 p-0">
              <multiselect v-model="selectedScoringRule.hole_configuration" :options="selectedScoringRuleHolesOptions" track-by="value" label="name" placeholder="Choose holes..." :searchable="false">
                <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
              </multiselect>
            </div>
          </div>
        </div>
      </div> 

      <div class="step-1-content-form step-1-content holesCustomOptions" v-if="selectedScoringRule.hole_configuration == 'custom'">
        <div class="row">
          <div class="col-md-3 text-right">
            <label>Holes (Custom)</label>
          </div>
          <div class="col-md-8 pl-5">
            <div class="row pl-5">
              <div>
                <input type="checkbox" value="1" v-model="selectedScoringRule.custom_holes"> Hole 1<br>
                <input type="checkbox" value="2" v-model="selectedScoringRule.custom_holes"> Hole 2<br>
                <input type="checkbox" value="3" v-model="selectedScoringRule.custom_holes"> Hole 3<br>
                <input type="checkbox" value="4" v-model="selectedScoringRule.custom_holes"> Hole 4<br>
                <input type="checkbox" value="5" v-model="selectedScoringRule.custom_holes"> Hole 5<br>
                <input type="checkbox" value="6" v-model="selectedScoringRule.custom_holes"> Hole 6<br>
                <input type="checkbox" value="7" v-model="selectedScoringRule.custom_holes"> Hole 7<br>
                <input type="checkbox" value="8" v-model="selectedScoringRule.custom_holes"> Hole 8<br>
                <input type="checkbox" value="9" v-model="selectedScoringRule.custom_holes"> Hole 9<br>
              </div>
              <div class="pl-5">
                <input type="checkbox" value="10" v-model="selectedScoringRule.custom_holes"> Hole 10<br>
                <input type="checkbox" value="11" v-model="selectedScoringRule.custom_holes"> Hole 11<br>
                <input type="checkbox" value="12" v-model="selectedScoringRule.custom_holes"> Hole 12<br>
                <input type="checkbox" value="13" v-model="selectedScoringRule.custom_holes"> Hole 13<br>
                <input type="checkbox" value="14" v-model="selectedScoringRule.custom_holes"> Hole 14<br>
                <input type="checkbox" value="15" v-model="selectedScoringRule.custom_holes"> Hole 15<br>
                <input type="checkbox" value="16" v-model="selectedScoringRule.custom_holes"> Hole 16<br>
                <input type="checkbox" value="17" v-model="selectedScoringRule.custom_holes"> Hole 17<br>
                <input type="checkbox" value="18" v-model="selectedScoringRule.custom_holes"> Hole 18<br>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" v-on:click="hideGameTypeModal">Cancel</button>
      <button type="button" class="btn__ezgl-secondary" v-on:click="addCurrentScoringRule">Save</button>
    </div>
  </vue-modal>

  <div class="modal fade" id="addPayoutModal" tabindex="-1" role="dialog" aria-labelledby="addPayoutCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <% if @tournament.new_record? || is_editable?(@tournament) -%>
          <%= simple_form_for [current_user.selected_league, @tournament], :defaults => { :input_html => { :class => "form-control", :label => false }} do |f| %>    
            <div class="modal-body welcome p-5">
              <div class="p-3">
                <h2 style="font-size:30px;">Add Payout</h2>
              </div>
              <% if notification = f.error_notification %>
                <div class="alert alert-error fade in">
                  <%= notification %>
                </div>
              <% end %>
              <div class="step-1-content-form step-1-content">
                <div class="row">
                  <div class="col-md-3 text-right">
                    <label>Flight</label>
                  </div>
                    <div class="col-md-8">
                      <select></select>
                  </div>
                </div>
              </div>
              <div class="step-1-content-form step-1-content pt-0">
                <div class="row">
                  <div class="col-md-3 text-right">
                    <label>Attributes</label>
                  </div>
                  <div class="col-md-8 tee-times-inputs">
                    <div class="pr-4">
                      <%= f.input :name, placeholder: 'Amount', required: true %>
                    </div>
                    <div>
                      <%= f.input :name, placeholder: 'Points', required: true %>
                    </div>
                  </div>
                </div>
              </div> 
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <%= f.button :submit, "Save", class: 'btn__ezgl-secondary' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">      
  document.addEventListener('DOMContentLoaded', function () {
    stepper1 = new Stepper(document.querySelector('#stepper1'))
  })

  function firstStep () {
    if ($('input#show-flights').is(':checked')) {
      stepper1.next()
    } else {
      stepper1.to(3)
    }
  }

  function lastStep () {
    if ($('input#show-flights').is(':checked')) {
      stepper1.previous()
    } else {
      stepper1.to(1)
    }
  }
</script>