<div class="banner-img fall-classic-img"></div>
<!-- /.banner-img -->

<div class="container pt-130">
  <div class="dashboard-header ttt-header fall-classic-header">
    <div class="row">
      <div class="col-md-8">
        <h2><%= truncate(@tournament.name, length: 40) %></h2>
        <a href="#tornament-info-popup" class="popup-with-zoom-anim"><%= image_tag('information.svg') %></a>
        <ul class="header-list-para list-inline">
          <li class="list-inline-item"><%= @tournament.tournament_starts_at.to_s(:standard) %></li>
          <li class="list-inline-item"><%= truncate(@tournament.first_day.course.name, length: 35) %></li>
          <li class="list-inline-item"><%= @tournament.first_day.scorecard_base_scoring_rule.course_holes.count %> Holes</li>
        </ul>
      </div>
      <!-- /.col-md-8 --> 
      <div class="col-md-4 text-right">
        <div class="pm-list">
          <p class="text-uppercase">players</p>
          <h2><%= @tournament.players.count %></h2>
        </div>
      </div>
      <!-- /.col-md-6 --> 
    </div>
    <!-- /.row -->         
  </div>
  <!-- /.dashboard-header --> 

  <%= render partial: 'tournament_details' %>

  <div class="container p-0 mb-5">
    <div class="row">
      <%= render partial: 'flight_details' %>

      <%= render partial: 'game_types' %>
    </div>
  </div>

  <div class="container p-0 mb-5">
    <div class="row">
      <div class="col-md-9">
        <div class="raking-content-card teatime-content-card">
          <div class="raking-content-header-card">
            <ul class="nav nav-pills">
              <% if @tournament.tournament_state == TournamentState::REGISTRATION %>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#players-tab">Players</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#tee-time-tab">Tee Times</a>
                </li>
              <% elsif @tournament.tournament_state == TournamentState::REVIEW_SCORES %>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#rankings-tab">Rankings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#contests-tab">Contests</a>
                </li>
              <% elsif @tournament.tournament_state == TournamentState::POST_SCORES %>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#rankings-tab">Rankings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#contests-tab">Contests</a>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="tab-content">
            <% if @tournament.tournament_state == TournamentState::REGISTRATION %>
              <%= render partial: 'player_tab', locals: { tournament_day: @tournament.first_day } %>

              <%= render partial: 'tee_time_tab', locals: { tournament_day: @tournament.first_day } %>
            <% elsif @tournament.tournament_state == TournamentState::REVIEW_SCORES %>
              <%= render partial: 'rankings_tab', locals: { tournament_day: @tournament.first_day } %>

              <%= render partial: 'contests_tab', locals: { tournament_day: @tournament.first_day } %>
            <% elsif @tournament.tournament_state == TournamentState::POST_SCORES %>
              <%= render partial: 'rankings_tab', locals: { tournament_day: @tournament.first_day } %>

              <%= render partial: 'contests_tab', locals: { tournament_day: @tournament.first_day } %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- /.col-md-8 -->  
      <div class="col-md-3">
        <%= render partial: 'tournament_sidebar_card', locals: { tournament: @tournament } %>

        <div class="list-group sidebar-list-group">
          <a href="#" class="list-group-item list-group-item-action">
          <%= image_tag('settings.png') %>Settings
          </a>
          <a href="#" class="list-group-item list-group-item-action">
          <%= image_tag('print-button.png') %>Print Scrorecards
          </a>
          <%= link_to image_tag('message.png') + "Message Players", "", data: { toggle:"modal", target:"#sendMessageModal" }, class: "list-group-item list-group-item-action" %>
        </div>
      </div>
      <!-- /.col-md-4 -->         
    </div>
    <!-- /.row -->         
  </div>
  <!-- /.container -->
</div>
<!-- /.container --> 


<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
<div id="edit-tee-times" class="zoom-anim-dialog mfp-hide">
  <%= render partial: 'tee_time_editor', locals: { tournament_day: @tournament.first_day } %>   
</div>

<div id="add-players" class="zoom-anim-dialog mfp-hide">
  <%= render partial: 'add_players', locals: { tournament_day: @tournament.first_day } %>   
</div>

<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
<div id="tornament-info-popup" class="zoom-anim-dialog mfp-hide">
  <%= render partial: 'tournament_info', locals: { tournament: @tournament } %>
</div>

<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalCenterTitle" aria-hidden="true">
  <%= render partial: 'send_message' %>
</div>

<div class="modal fade" id="editGolferModal" tabindex="-1" role="dialog" aria-labelledby="editGolferModalCenterTitle" aria-hidden="true">
  <%= render partial: 'edit_golfer' %>
</div>