<h4><%= @page_title %></h4>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
      <th>Group / Tee Time</th>
      <th>Flight</th>
      <% if is_editable?(@tournament) -%>
      <th><%= link_to 'Signup for Tournament', play_tournament_signup_path(@tournament), :class => 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
	</thead>
	<tbody>
	<% @tournament_groups.each_with_index do |tournament_group, i| %>
    <% tournament_group.teams.each do |team| %>
      <% team.golf_outings.each do |golf_outing| %>
      <tr>
        <td><%= golf_outing.user.complete_name %></td>
        <td>#<%= i + 1 %> - <%= tournament_group.tee_time_at.to_s(:date_and_time) %></td>
        <td><%= @tournament.flight_for_player(golf_outing.user).flight_number %></td>
        <% if user_is_league_admin(current_user, @tournament.league) && is_editable?(@tournament) -%>
        <td><%= link_to "Delete Registration", league_tournament_delete_signup_path(@tournament.league, @tournament, group_id: tournament_group.id, user_id: golf_outing.user), :data => { :confirm => 'Are you sure you want to delete this registration?' }, :method => :delete %></td>
        <% else -%>
        <td>&nbsp;</td>
        <% end -%>
      </tr>
      <% end %>
    <% end %>
	<% end %>
	</tbody>
  <tfoot>
		<tr>
      <th>&nbsp;</th>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
		</tr>
  </tfoot>
</table>

<%= paginate @tournament_groups %>