<h4><%= @page_title %></h4>

<% if @tournament.tournament_days.count > 1 -%>
  <p>
  <% @tournament.tournament_days.each do |day| -%>
    <%= link_to_unless day == @tournament_day, day.pretty_day, league_tournament_signups_path(@tournament.league, @tournament, tournament_day: day) %>
    <% if day != @tournament.tournament_days.last -%>
      | 
    <% end -%>
  <% end -%>
  </p>
<% end -%>

<% if @tournament.tournament_days.count > 1 -%>
<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for :tournament, url: league_tournament_update_auto_schedule_path(@tournament.league, @tournament, tournament_day: @tournament_day), method: :patch do |f| %>  
      <h3>Configure Post-Day 1 Scheduling</h3>
      <div class="well">        
        <%= f.input :auto_schedule_for_multi_day, collection: @schedule_options.sort.map {|k,v| [v,k]}, :label => 'How Should Later Days Be Scheduled?' %>
      </div>
  
      <div class="form-actions">
        <%= f.button :submit, "Save", :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
<% end -%>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
      <th>Group / Tee Time</th>
      <th>Flight</th>
      <% if is_editable?(@tournament) -%>
      <th><button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#GroupSignup">Signup for Tournament</button></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
	</thead>
	<tbody>
	<% @tournament_groups.each_with_index do |tournament_group, i| %>
    <% tournament_group.golf_outings.each do |golf_outing| %>
    <tr>
      <td><%= golf_outing.user.complete_name %></td>
      <td>#<%= i + 1 %> - <%= tournament_group.tee_time_at.to_s(:date_and_time) %></td>
      <td><%= @tournament_day.flight_for_player(golf_outing.user).flight_number %></td>
      <% if user_is_league_admin(current_user, @tournament.league) && is_editable?(@tournament) -%>
      
      <td>
        <div class="btn-group">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            Details <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Change Tee Group", "#ModifyTeeGroup#{golf_outing.user.id}", data: { toggle: 'modal'} %></li>
            <li><%= link_to "Delete Registration", league_tournament_delete_signup_path(@tournament.league, @tournament, group_id: tournament_group.id, user_id: golf_outing.user), :data => { :confirm => 'Are you sure you want to delete this registration? This will delete all scorecard information for this golfer for this tournament.' }, :method => :delete %></li>
          </ul>
        </div>
      </td>
      <% else -%>
      <td>&nbsp;</td>
      <% end -%>
    </tr>
    <% end %>
	<% end %>
	</tbody>
  <tfoot>
		<tr>
      <th>&nbsp;</th>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
		</tr>
  </tfoot>
</table>

<%= paginate @tournament_groups %>

<% @tournament_groups.each_with_index do |tournament_group, i| %>
  <% tournament_group.golf_outings.each do |golf_outing| %>
    <%= simple_form_for :tournament_group_move, url: league_tournament_move_signup_path(@tournament.league, @tournament, tournament_day: @tournament_day, user: golf_outing.user), method: :patch do |f| %>
    <div class="modal fade" id="ModifyTeeGroup<%= golf_outing.user.id %>" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel">Change Tee Group</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="well">
                    <p>Move this user to a new tee group:</p>
                    <%= f.input :tee_group, label: "Tee Groups", collection: @tournament_day.tournament_groups, label_method: :formatted_tee_time, value_method: :id %>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <%= f.button :button, "Move Player", :class => "btn btn-default", :value => true %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <% end %>
  <% end -%>
<% end -%>

<%= simple_form_for :tournament_group_signup, url: league_tournament_add_signup_path(@tournament.league, @tournament, tournament_day: @tournament_day), method: :post do |f| %>
<div class="modal fade" id="GroupSignup" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Register for Tournament</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="well">
                <p>Add a user to this tournament:</p>
                <%= f.input :tee_group, label: "Available Tee Groups", collection: @available_tournament_groups, label_method: :formatted_tee_time, value_method: :id %>
                <%= f.input :another_member_id, label: "Unregistered League Members", collection: @unregistered_users, label_method: :complete_name, value_method: :id %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button :button, "Register", :class => "btn btn-default", :value => true %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>