<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li>Transaction History</li>
</ol>

<h3>User Transactions</h3>
<table class="table table-striped">
	<thead>
		<tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Method</th>
      <th>Details</th>
		</tr>
	</thead>
	<tbody>
	<% current_user.payments_for_league(current_user.selected_league).each do |payment| %>
		<tr>
      <td><%= payment.created_at.to_s(:short) %></td>
      <td><%= number_to_currency(payment.payment_amount) %></td>
      <td><%= payment.payment_source %></td>
      <td><%= payment.generated_description %></td>
		</tr>
	<% end %>
	</tbody>
</table>
