<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Configure Game Type</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<%= simple_form_for @scoring_rule.form_class, url: league_tournament_tournament_day_scoring_rule_path(@tournament.league, @tournament, @tournament_day, @scoring_rule) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend><%= @tournament_day.pretty_day(true) %>Game Type Details</legend>

  <div class="well">
  	<% if @scoring_rule.allows_custom_name? %>
  		<%= f.input :custom_name, label: 'Custom Game Type Name (i.e. Closest to the Pin)' %>
  	<% end %>

    <%= f.input :dues_amount, label: 'Dues Amount ($)' %>

    <%= f.input :is_opt_in, label: 'Game type is optional?', as: :boolean %>

    <p>If this option is checked, users will be able to opt-out of this game type when they register. <strong>At least one game type must be marked as required.</strong></p>
  </div>

  <% if @scoring_rule.setup_partial %>
  <div class="well">
    <%= render partial: @scoring_rule.setup_partial, locals: {scoring_rule: @scoring_rule, tournament_day: @scoring_rule.tournament_day} %>
  </div>
  <% end %>

  <div class="form-actions">
  	<% if @scoring_rule.payout_type == ScoringRulePayoutType::PREDETERMINED %>
			<%= f.button :submit, "Save & Setup Points/Payouts", class: 'btn btn-default' %>
		<% end %>
		<%= f.button :submit, "Save & Create Another Game Type", class: 'btn btn-default' %>
		<%= f.button :submit, "Save & Continue", class: 'btn btn-primary' %>

		<p>Note that if you're playing fewer than all the holes on this course, you need to edit the course holes on the game types page.</p>
  </div>
<% end %>