<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Configure Scoring Rule</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<%= simple_form_for @scoring_rule, url: league_tournament_tournament_day_scoring_rule_path(@tournament.league, @tournament, @tournament_day, @scoring_rule) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend><%= @tournament_day.pretty_day(true) %>Competition Details</legend>

  <div class="well">
    <%= f.input :dues_amount, label: 'Dues Amount ($)' %>

    <%= f.input :is_opt_in, label: 'Users can choose whether or not to enter this competition?', as: :boolean %>

    <p>If this item is checked, users will be able to opt-out of this competition when they register.</p>
  </div>

  <% if @scoring_rule.setup_partial %>
  <div class="well">
    <%= render partial: @scoring_rule.setup_partial, locals: {scoring_rule: @scoring_rule, tournament_day: @scoring_rule.tournament_day} %>
  </div>
  <% end %>

  <div class="form-actions">
     <%= f.button :submit, "Save", class: 'btn btn-default' %>
  </div>
<% end %>

