<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Manage Competitions <%= @tournament_day.pretty_day(true) %></li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<h4><%= @page_title %></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Add Competition', new_league_tournament_tournament_day_scoring_rule_path(@tournament.league, @tournament, @tournament_day), class: 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
  <% @scoring_rules.each do |scoring_rule| %>
    <tr>
      <td><%= link_to scoring_rule.name, edit_league_tournament_tournament_day_scoring_rule_path(@tournament.league, @tournament, @tournament_day, scoring_rule) %></td>
      <% if user_is_league_admin(current_user, @tournament.league) %>
      <td><%= link_to "Edit", edit_league_tournament_tournament_day_scoring_rule_path(@tournament.league, @tournament, @tournament_day, scoring_rule) %> | <%= link_to 'Delete', league_tournament_tournament_day_scoring_rule_path(@tournament.league, @tournament, @tournament_day, scoring_rule), :data => { :confirm => 'Are you sure you want to delete this competition?' }, method: :delete %></td>
      <% else -%>
      <td>&nbsp;</td>
      <% end -%>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>&nbsp;</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Add Competition', new_league_tournament_tournament_day_scoring_rule_path(@tournament.league, @tournament, @tournament_day), class: 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
    </tr>
  </tfoot>
</table>