<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active">Finalize Tournament</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<% if @tournament.players.count == 0 -%>
  <p>
  	<strong>This tournament does not yet have any players and cannot be finalized.</strong>
  </p>
<% else -%>

<div class="row">
  <% @tournament_days.each do |day| %>
    <% day.displayable_scoring_rules.each do |rule| %>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= day.pretty_day(true) %> <%= rule.name %></h3>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Day</th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Points</th>
                <th>Score</th>
                <th>Par Net</th>
                <th>Course Handicap</th>
                <th><%= rule.results_description_column_name %></th>
              </tr>
            </thead>
            <tbody>
              <% rule.payout_results.each do |payout_result| %>
                <tr>
                  <td><%= payout_result.scoring_rule.tournament_day.tournament_at.to_s(:short) %></td>
                  <td><%= payout_result.display_name %></td>
                  <td><% if payout_result.team_matchup_designator %><span class="badge badge-secondary"><%= payout_result.team_matchup_designator %></span>&nbsp;<% end %><%= payout_result.name %></td>
                  <td><%= number_to_currency(payout_result.amount) %></td>
                  <td><%= payout_result.points.to_i %></td>
                  <td><%= payout_result.net_score %></td>
                  <td><%= payout_result.par_related_net_score %></td>
                  <td><%= payout_result.scoring_rule.tournament_day.golf_outing_for_player(payout_result.user).course_handicap.to_i unless payout_result.user.blank? %></td>
                  <td><%= payout_result.detail %></td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>

  <% @tournament_days.each do |day| -%>
    <div class="col-md-12">
      <h3><%= day.pretty_day(true) %> Individual Results</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= flight_or_group(@tournament) %></th>
            <th>Player</th>
            <th>Net</th>
            <th>Par Net</th>
            <th>Gross</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% day.stroke_play_scoring_rule.individual_tournament_day_results.each do |result| %>
            <tr>
              <td><%= result.flight&.display_name %></td>
              <td><%= result.name %><% if result.primary_scorecard != nil && !result.primary_scorecard&.is_confirmed? -%> (Unconfirmed by Player)<% end -%><%- if result.primary_scorecard&.golf_outing&.disqualified %> (Disqualified)<%- end %></td>
              <td><%= result.net_score %></td>
              <td><%= result.par_related_net_score %></td>
              <td><%= result.gross_score %></td>
              <td><%= link_to "Edit Scorecard", edit_league_tournament_tournament_day_scorecard_path(day.tournament.league, day.tournament, day, result.primary_scorecard) unless result.primary_scorecard.blank? %></td>
            </tr>
        	<% end %>
        </tbody>
      </table>
    </div>
  <% end -%>
</div>

<br/><br/>
<%= link_to 'Post Results', league_tournament_finalization_path(@tournament.league, @tournament), method: :patch, class: 'btn btn-danger' %>
<% end -%>
