<script>
  ezglTrackAnalyticsEvent("Viewed their user profile");
</script>

<div class="onboarding">
  <div id="container">
    <div class="row">
      <div class="onboarding__panel registration user-account-edit">
        <div class="onboarding__panel-side white">
          <div class="panel-side-text">
            <div class="nav flex-column" id="v-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-edit-profile-tab" data-toggle="pill" href="#v-edit-profile" role="tab" aria-controls="v-edit-profile" aria-selected="true">Edit Profile</a>
              <a class="nav-link" id="v-edit-contact-info-tab" data-toggle="pill" href="#v-edit-contact-info" role="tab" aria-controls="v-edit-contact-info" aria-selected="false">Edit Contact Info</a>
              <a class="nav-link" id="v-edit-password-tab" data-toggle="pill" href="#v-edit-password" role="tab" aria-controls="v-edit-password" aria-selected="false">Edit Password</a>
              <a class="nav-link" id="v-my-account-tab" data-toggle="pill" href="#v-my-account" role="tab" aria-controls="v-my-account" aria-selected="false">My Account</a>
              <a class="nav-link" id="v-settings-tab" data-toggle="pill" href="#v-settings" role="tab" aria-controls="v-settings" aria-selected="false">Settings</a>
            </div>
          </div>
          <%= link_to "Exit to Dashboard", play_dashboard_index_path, class: 'btn btn-outline-secondary' %>
        </div>
        <div class="panel panel-default panel-user p-5">
          <div class="panel-body registration">
            <div class="tab-content" id="v-tabContent">
              <div class="tab-pane fade show pb-5 active" id="v-edit-profile" role="tabpanel" aria-labelledby="v-edit-profile-tab">
                <%= render 'edit_profile' %>
              </div>
              <div class="tab-pane fade pb-5" id="v-edit-contact-info" role="tabpanel" aria-labelledby="v-edit-contact-info-tab">
                <%= render 'edit_contact_info' %>
              </div>
              <div class="tab-pane fade" id="v-edit-password" role="tabpanel" aria-labelledby="v-edit-password-tab">
                <%= render 'edit_password' %>
              </div>
              <div class="tab-pane fade" id="v-my-account" role="tabpanel" aria-labelledby="v-my-account-tab">
                <%= render 'my_account' %>
              </div>
              <div class="tab-pane fade" id="v-settings" role="tabpanel" aria-labelledby="v-settings-tab">
                <%= render 'settings' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
