<script>
  ezglTrackAnalyticsEvent("Changed their password");
</script>

 <%= simple_form_for @user_account, url: change_password_play_user_account_path, multipart: true do |f| %>
    <% if notification = f.error_notification %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notification %>
      </div>
    <% end %>

    <h3>Password</h3>
    <div class="well">
  	  <%= f.input :password, :label => 'Password' %>

  	  <%= f.input :password_confirmation, :label => 'Password Confirmation' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-default' %>
    </div>
  <% end %>
