<%= simple_form_for [@tournament.league, @tournament, @tournament_day, @scoring_rule.form_class, @payout_result] do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>Payout Result Details</legend>

  <h3>Basic Details</h3>
  <div class="well">  
    <p><strong>Winner</strong></p>
    <%= f.association :user, collection: @tournament.league.users, label_method: :complete_name, label: false, include_blank: true, input_html: { class: 'chosen-select' } %>

    <%= f.association :scoring_rule_course_hole, collection: @scoring_rule.course_holes, label_method: :hole_number %>

    <%= f.input :detail, label: 'Result (i.e. 300 yards, hole number)' %>

    <%= f.input :amount, label: "Payout Amount ($)" %>

    <%= f.input :points, label: "Points" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", class: 'btn btn-default' %>
  </div>
<% end %>