<script>
  mixpanel.track("Admin: Payout Result Index");
  amplitude.getInstance().logEvent("Admin: Payout Result Index");
</script>

<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li><%= link_to @scoring_rule.name, league_tournament_tournament_day_scoring_rules_path(current_user.selected_league, @tournament, @tournament_day) %></li>
  <li class="active">Manage Results</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: { tournament: @tournament, stage: @stage_name } %>

<h4><%= @page_title %></h4>

<table class="table table-striped">
	<thead>
		<tr>
      <th>Winner</th>
      <th>Amount</th>
      <th>Points</th>
      <th>&nbsp;</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Add Result', new_league_tournament_tournament_day_scoring_rule_payout_result_path(@tournament.league, @tournament, @tournament_day, @scoring_rule), class: 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
	</thead>
	<tbody>
	<% @payout_results.each do |result| %>
		<tr>
			<td><%= link_to result.user.complete_name, edit_league_tournament_tournament_day_scoring_rule_payout_result_path(@tournament.league, @tournament, @tournament_day, @scoring_rule, result) %></td>
			<td><%= number_to_currency(result.amount) %></td>
      <td><%= result.points.to_i %></td>
      <td><%= result.detail %></td>
      <td><%= link_to "Edit", edit_league_tournament_tournament_day_scoring_rule_payout_result_path(@tournament.league, @tournament, @tournament_day, @scoring_rule, result) %> | <%= link_to 'Delete', league_tournament_tournament_day_scoring_rule_payout_result_path(@tournament.league, @tournament, @tournament_day, @scoring_rule, result), data: { confirm: 'Are you sure you want to delete this result?' }, method: :delete %></td>
		</tr>
	<% end %>
	</tbody>
  <tfoot>
		<tr>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
			<th>&nbsp;</th>
      <th>&nbsp;</th>
      <% if user_is_league_admin(current_user, @tournament.league) -%>
      <th><%= link_to 'Add Result', new_league_tournament_tournament_day_scoring_rule_payout_result_path(@tournament.league, @tournament, @tournament_day, @scoring_rule), class: 'btn btn-primary' %></th>
      <% else -%>
      <th>&nbsp;</th>
      <% end -%>
		</tr>
  </tfoot>
</table>