<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<%= simple_form_for @tournament, url: league_tournament_game_types_path(current_user.selected_league, @tournament), :method => :patch do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>Select a Game Type</legend>

  <%= f.simple_fields_for :tournament_days do |p| %>
    <h3><%= p.object.pretty_day(true) %> Details</h3>
    <div class="well">
      <%= p.input :game_type_id, collection: @game_types, label: 'Game Type', :label_method => :display_name, :value_method => :game_type_id, :include_blank => false, :input_html => {:onchange => "loadGameTypeOptions(#{current_user.selected_league.id}, #{@tournament.id}, #{p.object.id}, this)"} %>

      <div id="gameTypeOptions<%= p.object.id %>">
        <% if p.object.game_type.blank? == false && p.object.game_type.setup_partial.blank? == false -%>
          <%= render partial: p.object.game_type.setup_partial, locals: {tournament_day: p.object} %>
        <% else -%>
          <p>No configurable options for this game type.</p>
        <% end -%>
      </div>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.button :submit, "Save & Continue", :class => 'btn btn-default' %>
  </div>

<% end %>
