<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<%= simple_form_for @tournament, url: league_tournament_game_types_path(current_user.selected_league, @tournament), :method => :patch do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>Select a Game Type</legend>

  <h3>Basic Details</h3>
  <div class="well">  
    <%= f.input :game_type_id, collection: @game_types, :label => 'Game Type', :label_method => :display_name, :value_method => :game_type_id, :include_blank => false, :input_html => {:onchange => "loadGameTypeOptions(#{current_user.selected_league.id}, #{@tournament.id}, this)"} %>
  </div>

  <h3>Game Type Options</h3>
  <div class="well">
    <div id="gameTypeOptions">
      <% if @tournament.game_type.blank? == false && @tournament.game_type.setup_partial.blank? == false -%>
        <%= render partial: @tournament.game_type.setup_partial, locals: {tournament: @tournament} %>
      <% else -%>
        <p>No configurable options for this game type.</p>
      <% end -%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class => 'btn btn-default' %>
  </div>

<% end %>