<script>
  ezglTrackAnalyticsEvent('viewed a page', { name: 'Login Screen' });
</script>

<div id="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 onboarding__panel">
      <div class="onboarding__panel-header">
        <%= image_tag("ezgl-icon-white.png", height: 25) %>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="panel panel-default p-5">
        <div class="panel-heading">
          <h3 class="panel-title pb-3">Log In</h3>
        </div>
        <div class="panel-body">
          <div class="field pb-3">
            <%= f.email_field :email, placeholder: "Enter your email address...", autofocus: true, class: 'onboarding__input' %>
          </div>

          <div class="field pb-2">
            <%= f.password_field :password, placeholder: "Enter your password", autocomplete: "off", class: 'onboarding__input' %>
          </div>

          <%= render "devise/shared/links" %>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn__ezgl-secondary' %>
          </div>

        </div>
      </div>
      <% end %>
      <div class="onboarding__bottom-text">
        <p>Don't have an account? <%= link_to "Sign up", new_play_registration_path, class: '' %></p>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>