<%= simple_form_for :tournament, url: play_tournament_complete_signup_path(tournament, group_id: group.id), method: :put do |f| %>
<div class="modal fade" id="Group<%= group.id %>" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Register for Tournament</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <% if tournament.mandatory_dues_amount.zero? -%>
                <p>Click below to register.</p>
              <% else %>
                <% if tournament.allow_credit_card_payment == true -%>
                  <p>You can choose to register and also if you'd like to pay your registration dues (<%= number_to_currency(tournament.mandatory_dues_amount) %>) now. Please note that dues are non-refundable.</p>
                <% else -%>
                  <p>Payment for this tournament will be handled by the league at the course.</p>
                <% end -%>
              <% end %>

              <% if (group.players_signed_up.count + 2) < group.max_number_of_players  %><!-- For admin,created team play, this may have unintended results as groups are not visible. -->
              <div class="well">
                <p><em>Would you like to register another member to play with you? Their registration will be added but not confirmed. You will not be charged for their registration.</em></p>
                <%= f.input :another_member_id, collection: tournament.league.users_not_signed_up_for_tournament(tournament, nil, [current_user.id]), label_method: :complete_name, value_method: :id %>
              </div>
              <% end -%>

							<% if tournament.optional_scoring_rules_with_dues.count > 0 -%>
								<div class="well">
									<p><em>Would you like to participate in any additional game types? This will increase your dues.</em></p>
									<%= f.input :optional_game_types, collection: tournament.optional_scoring_rules_with_dues, label_method: :name_with_cost, value_method: :id, as: :check_boxes %>
								</div>
							<% end -%>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <% if !@tournament.league.stripe_is_setup? || !@tournament.mandatory_dues_amount.zero? -%>
            <%= f.button :button, "Register", class: "btn btn-default", name: "pay_later", :value => true %>
          <% else -%>
            <%= f.button :button, "Register & Pay Later", class: "btn btn-default", name: "pay_later", :value => true %>
            <% if tournament.allow_credit_card_payment == true && !tournament.league.stripe_publishable_key.blank? -%>
              <%= f.button :button, "Register & Pay Now", class: "btn btn-primary", name: "pay_now", :value => true %>
            <% end -%>
          <% end -%>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
