<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= tournament_day.pretty_day(true) %> Tournament Rankings</h3>
      </div>
      <% if tournament_day.has_scores? -%>
      <table class="table table-striped">
      	<thead>
      		<tr>
            <th>Flight</th>
      			<th>Rank</th>
            <th>Player</th>
            <th>Net</th>
            <th>Gross</th>
            <th>Par Net</th>
            <th>Par Net Total</th>
            <th>Total</th>
      		</tr>
      	</thead>
        <tbody>
          <% combined_flights_with_rankings.each_with_index do |flight, x| %>
            <% current_day_flight = day_flights_with_rankings[x] -%>
            <% flight.scorecard_base_scoring_rule_tournament_day_results.each_with_index do |result, i| -%>
            <% current_day_player = current_day_flight.tournament_day_results[i] %>
            <tr>
              <td><strong><%= flight[:flight_number] %></strong></td>
              <td><strong><%= result.rank %></strong></td>
              <td><%= result.name %></td>
              <td><%= current_day_player.net_score %></td>
              <td><%= current_day_player.gross_score %></td>
              <td><%= par_helper(current_day_player.par_related_net_score) %></td>
              <td><%= par_helper(result.par_related_net_score) %></td>
              <td><%= result.net_score %></td>
            </tr>
            <% end -%>
            <% if x < tournament_day.flights_with_rankings.count - 1 -%>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <% end -%>
          <% end -%>
        </tbody>
      </table>
      <% else -%>
      <div class="panel-body">
        Rankings will be available once the tournament is underway.
      </div>
      <% end -%>
    </div>
  </div>
</div>