<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= tournament_day.pretty_day(true) %>Tournament Rankings</h3>
      </div>
      <% if tournament_day.has_scores? -%>
      <table class="table table-striped">
      	<thead>
      		<tr>
            <th>Flight</th>
      			<th>Rank</th>
            <th>Player</th>
            <th>Total</th>
      		</tr>
      	</thead>
        <tbody>
          <% cache(cache_key_for_tournament_day_leaderboard_with_prefix(tournament_day, "tournament-leaderboard")) do %>
            <% combined_flights_with_rankings.each_with_index do |flight, x| %>
              <% current_day_flight = day_flights_with_rankings[x] -%>
              <% flight[:players].each_with_index do |player, i| -%>
              <% current_day_player = current_day_flight[:players][i] %>
              <tr>
                <td><strong><%= flight[:flight_number] %></strong></td>
                <td><strong><%= player[:ranking] %></strong></td>
                <td><%= player[:name] %></td>
                <td><%= player[:net_score] %></td>
              </tr>
              <% end -%>
              <% if x < tournament_day.flights_with_rankings.count - 1 -%>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <% end -%>
            <% end -%>
          <% end -%>
        </tbody>
      </table>
      <% else -%>
      <div class="panel-body">
        Rankings will be available once the tournament is underway.
      </div>
      <% end -%>
    </div>
  </div>
</div>