<div class="col-md-6">
  <div class="panel panel-default panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= name %> Tournament Players <span class="badge"><%= count %></span></h3>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Name</th>
          <th>Course Handicap</th>
          <th>Flight</th>
          <th>Group</th>
          <th>Tee Time</th>
    		</tr>
    	</thead>
    	<tbody>
        <% players.each_with_index do |group, i|  %>
          <% group.each do |outing| %>
            <tr>
              <td><%= outing[:name] %></td>
              <td><%= outing[:handicap] %></td>
              <% if outing[:flight].blank? -%>
                <td>&nbsp;</td>
              <% else -%>
                <td><strong><%= (outing[:flight].flight_number) %></strong></td>
              <% end -%>
              <td><strong><%= i + 1 %></strong></td>
              <td><%= display_tee_time_or_position(outing[:group]) %></td>
            </tr>
          <% end %>
        <% end %>
    	</tbody>
    </table>
  </div>
</div>
