<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li><%= link_to @tournament.name, play_tournament_path(@tournament) %></li>
  <li class="active"><%= @tournament_day.pretty_day(true) %>Tournament Rankings</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @tournament_day.pretty_day(true) %>Tournament Rankings</h3>
      </div>
      <% if @tournament_day.has_scores? -%>
      <table class="table table-striped">
      	<thead>
      		<tr>
            <th>Flight</th>
      			<th>Rank</th>
            <th>Player</th>
            <th>Net</th>
            <th>Gross</th>
            <th>Par</th>
            <th>Total</th>
      		</tr>
      	</thead>
        <tbody>
          <% @combined_flights_with_rankings.each_with_index do |flight, x| %>
            <% @current_day_flight = @day_flights_with_rankings[x] -%>
            <% flight[:players].each_with_index do |player, i| -%>
            <% current_day_player = @current_day_flight[:players][i] %>
            <tr>
              <td><strong><%= flight[:flight_number] %></strong></td>
              <td><strong><%= i + 1 %></strong></td>
              <td><%= player[:name] %></td>
              <td><%= current_day_player[:net_score] %></td>
              <td><%= current_day_player[:gross_score] %></td>
              <td><%= par_helper(current_day_player[:par_related_gross_score]) %> (<%= par_helper(current_day_player[:par_related_net_score]) %>)</td>
              <td><%= player[:net_score] %></td>
            </tr>
            <% end -%>
            <% if x < @tournament_day.flights_with_rankings.count - 1 -%>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <% end -%>
          <% end -%>
        </tbody>
      </table>
      <% else -%>
      <div class="panel-body">
        Rankings will be available once the tournament is underway.
      </div>
      <% end -%>
    </div>
  </div>
</div>

<% unless @user_scorecard.blank? -%>
<div class="row">
  <div class="col-md-12">
    <p><%= link_to "<< Go back to scorecard", play_scorecard_path(@user_scorecard) %></p>
  </div>
</div>
<% end -%>