<script>
  mixpanel.track("Display Tournament Details");
  amplitude.getInstance().logEvent("Display Tournament Details");
</script>

<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li class="active"><%= @tournament_presenter.name %></li>
</ol>

<% if @tournament_presenter.day_is_playable? && @tournament_presenter.includes_user? && !@tournament_presenter.user_confirmed? -%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">You Are Not Confirmed For This Tournament</h3>
      </div>
      <div class="panel-body">
        <p>When you confirm, that's how we know you're coming.</p>
        <p><%= link_to "Click here to confirm you'll be playing.", play_tournament_confirm_path(@tournament_presenter.tournament), method: :put %></p>
      </div>
    </div>
  </div>
</div>
<% end -%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Tournament Info</h3>
      </div>
      <div class="panel-body">
        <span class="label label-default">When</span>
        <h4>
          <%= @tournament_presenter.date_and_times %>
        </h4>
        <span class="label label-default">Where</span>
        <h4>
          <%= @tournament_presenter.course_names %>
        </h4>
        <%= @tournament_presenter.course_locations %>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>Sign Ups:</strong> <%= @tournament_presenter.signup_open %> - <%= @tournament_presenter.signup_close %></li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to "View Leaderboard", @tournament_presenter.leaderboard_link %>
          <% if @tournament_presenter.day_is_playable? && @tournament_presenter.includes_user? -%>
             | <%= link_to "Your #{@tournament_presenter.day_name} Scorecard", @tournament_presenter.scorecard_link unless @tournament_presenter.scorecard_link.blank? %>
          <% else -%>
            <% if @tournament_presenter.showing_final? %>
            <% elsif @tournament_presenter.includes_user? %>
              Your scorecard will be available once the league admin has completed entering the required information.
            <% else -%>
            DNP
            <% end -%>
          <% end -%>
          <% if @tournament_presenter.tournament.dues_amount > 0 && @tournament_presenter.includes_user? && !@tournament_presenter.user_paid? -%>
           | <%= link_to "Pay for Registration", new_play_payment_path(:payment_type => "tournament_dues", :tournament_id => @tournament_presenter.tournament.id) %>
          <% end -%>
        </li>
      </ul>
    </div>
  </div>
</div>

<% if @tournament_presenter.number_of_days > 1 -%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Switch Tournament Days</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <% @tournament_presenter.day_links.each do |link| %>
            <li role="presentation" <% if link[:highlighted] %>class='active'<% end %>>
              <%= link_to link[:name], link[:link] %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end -%>

<div class="row">
  <% if @tournament_presenter.selected_day_has_payouts? %>
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @tournament_presenter.day_name %> Tournament Payouts</h3>
      </div>
      <% if @tournament_presenter.finalized? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= @tournament_presenter.flight_or_group_name %></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <% cache(@tournament_presenter.day_cache_key("tournament-payouts")) do %>
            <% @tournament_presenter.payouts.each_with_index do |f, x| %>
              <% f[:payouts].each do |p| %>
                <tr>
                  <td><strong><%= p[:flight_name] %></strong></td>
                  <td><%= p[:name] %></td>
                  <td><%= number_to_currency(p[:amount]) %></td>
                  <td><%= p[:points] %></td>
                </tr>
              <% end %>
              <% if x < @tournament_presenter.payouts.count - 1 -%>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% else -%>
      <div class="panel-body">
        Payout information will be available once the tournament has been finalized by the league administrator.
      </div>
      <% end -%>
    </div>
  </div>
  <% end -%>

  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @tournament_presenter.day_name %> Tournament Contests</h3>
      </div>
      <% cache(@tournament_presenter.day_cache_key("tournament-contests")) do %>
        <% if @tournament_presenter.contests.count > 0 -%>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Contest</th>
              <th>Winner(s)</th>
              <th>Amount</th>
              <th>Points</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <% @tournament_presenter.contests.each do |contest| %>
            <tr>
              <td width="20%"><%= contest[:name] %></td>
              <td width="25%"><%= format_winners(contest[:winners]) %></td>
              <td><%= format_payout(contest[:winners]) %></td>
              <td><%= format_points(contest[:winners]) %></td>
              <td><%= format_results(contest[:winners]) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else -%>
          <div class="panel-body">
            No contests setup.
          </div>
        <% end -%>
      <% end -%>
      <% if @tournament_presenter.user_can_register_for_contests? -%>
      <div class="panel-footer">
        <%= link_to "Sign Up For Contests", @tournament_presenter.contest_signup_link %>
      </div>
      <% end -%>
    </div>
  </div>
</div>

<div class="row">
  <% unless @tournament_presenter.tournament_players.blank? %>
    <% cache(@tournament_presenter.day_cache_key("tournament-players")) do %>
      <% if @tournament_presenter.day_has_tournament_teams? %>
        <%= render partial: 'tournament_players_teams', locals: {name: @tournament_presenter.day_name, teams: @tournament_presenter.tournament_players } %>
      <% else %>
        <%= render partial: 'tournament_players_individual', locals: {name: @tournament_presenter.day_name, players: @tournament_presenter.tournament_players, count: @tournament_presenter.player_count, flight_or_group_name: @tournament_presenter.flight_or_group_name } %>
      <% end %>
    <% end %>
  <% end %>

  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @tournament_presenter.day_name %> Tournament Rankings</h3>
      </div>
      <% if @tournament_presenter.day_has_scores? %>
        <table class="table table-striped">
        	<thead>
        		<tr>
              <th><%= @tournament_presenter.flight_or_group_name %></th>
        			<th>Rank</th>
              <th>Player</th>
              <th>Net</th>
              <th>Gross</th>
              <th>Points</th>
              <th>&nbsp;</th>
        		</tr>
        	</thead>
          <tbody>
            <% cache(@tournament_presenter.day_cache_key("tournament-rankings")) do %>
              <% @tournament_presenter.flights_with_rankings.each_with_index do |flight, x| %>
                <% flight.tournament_day_results.each_with_index do |result, i| -%>
                <tr>
                  <td><strong><%= result.flight.display_name %> <!-- <%= flight.id %> --></strong></td>
                  <td><strong><%= result.rank %></strong></td>
                  <td><%= result.name %> <!-- <%= result.id %> --></td>
                  <td><%= result.net_score %></td>
                  <td><%= result.gross_score %></td>
                  <td><%= result.points.to_i %></td>
                  <td><%= link_to "Scorecard", result.scorecard_url %></td>
                </tr>
                <% end -%>
                <% if x < @tournament_presenter.flights_with_rankings.count - 1 -%>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <% end -%>
              <% end -%>
            <% end -%>
          </tbody>
        </table>
      <% else %>
        <div class="panel-body">
          Rankings will be available once the tournament is underway.
        </div>
      <% end %>
    </div>
  </div>
</div>
