<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li class="active"><%= @tournament.name %></li>
</ol>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Tournament Info</h3>
      </div>
      <div class="panel-body">
        <span class="label label-default">When</span>
        <h4>
          <% @tournament.tournament_days.each do |day| -%>
            <%= day.tournament_at.to_s(:date_and_time) %><br/>
          <% end -%>
        </h4>
        <span class="label label-default">Where</span>
        <h4>
          <% @tournament.courses.each do |course| -%>
            <%= course.name %><br/>
          <% end -%>
        </h4>
        <% @tournament.courses.each do |course| -%>
          <% unless course.street_address_1.blank? -%>
            <p>
              <%= course.street_address_1 %><br/>
              <%= course.city %>, <%= course.us_state %> <%= course.postal_code %><br/>
              <%= link_to "View on Map", "https://www.google.com/maps/place/#{course.street_address_1}+#{course.city}+#{course.us_state}+#{course.postal_code}" %>
            </p>
          <% end -%>
        <% end -%>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>Sign Ups:</strong> <%= @tournament.signup_opens_at.to_s(:date_and_time) %> - <%= @tournament.signup_closes_at.to_s(:date_and_time) %></li>
      </ul>
      <% if @tournament.includes_player?(current_user, @tournament_day) -%>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"><%= @tournament_day.player_score(current_user) %></span><%= link_to "Your #{@tournament_day.pretty_day(false)} Scorecard", play_scorecard_path(@tournament_day.primary_scorecard_for_user(current_user)) %>
        </li>
      </ul>
      <% end -%>
    </div>
  </div>
</div>

<% if @tournament.tournament_days.count > 1 -%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">View Tournament Days</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <% @tournament.tournament_days.each do |day| -%>
            <li role="presentation" <% if day == @tournament_day -%>class='active'<% end -%>>
              <%= link_to day.pretty_day, play_tournament_path(@tournament, tournament_day: day) %>
            </li>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end -%>

<div class="row">
  <% if @tournament_day.has_payouts? -%>
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @tournament_day.pretty_day(true) %>Tournament Payouts</h3>
      </div>
      <% if @tournament.is_finalized -%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Flight</th>
            <th>Name</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% cache(cache_key_for_tournament_with_prefix(@tournament_day, "tournament-payouts")) do %>
            <% @tournament_day.flights.each_with_index do |f, x| %>
              <% f.payouts.each do |p| %>
              <tr>
                <td><strong><%= f.flight_number %></strong></td>
                <td><%= p.user.complete_name unless p.user.blank? %></td>
                <td><%= number_to_currency(p.amount) %></td>
              </tr>
              <% end %>
              <% if x < @tournament_day.flights_with_rankings.count - 1 -%>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% else -%>
      <div class="panel-body">
      Payout information will be available once the tournament has been finalized by the league administrator.
      </div>
      <% end -%>
    </div>
  </div>
  <% end -%>
  
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @tournament_day.pretty_day(true) %>Tournament Contests</h3>
      </div>
      <% cache(cache_key_for_tournament_with_prefix(@tournament_day, "tournament-contests")) do %>
        <% if @tournament_day.contests.order("name").count > 0 -%>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Contest</th>
              <th>Winner(s)</th>
              <th>Amount</th>
              <th>Points</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <% @tournament_day.contests.each do |contest| %>
            <tr>
              <td><%= contest.name %></td>
              <td><%= format_winners(contest.winners) %></td>
              <td><%= format_payout(contest.winners) %></td>
              <td><%= format_points(contest.winners) %></td>
              <td><%= format_results(contest.winners) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else -%>
        <div class="panel-body">
        No contests setup.
        </div>
        <% end -%>
      <% end -%>
      
      <% if @tournament_day.contests.count > 0 -%>
      <div class="panel-footer">
        <%= link_to "Sign Up For Contests", play_tournament_tournament_day_contests_path(@tournament_day.tournament, @tournament_day) %>
      </div>
      <% end -%>
    </div>
  </div>
</div>

<div class="row">
  <% cache(cache_key_for_tournament_with_prefix(@tournament_day, "tournament-players")) do %>
    <% if @tournament_day.golfer_teams.count == 0 -%>
      <%= render partial: 'tournament_players_individual', locals: {tournament_day: @tournament_day} %>
    <% else -%>
      <%= render partial: 'tournament_players_teams', locals: {tournament_day: @tournament_day} %>
    <% end -%>
  <% end -%>
  
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @tournament_day.pretty_day(true) %>Tournament Rankings</h3>
      </div>
      <% if @tournament_day.has_scores? -%>
      <table class="table table-striped">
      	<thead>
      		<tr>
            <th>Flight</th>
      			<th>Rank</th>
            <th>Player</th>
            <th>Net</th>
            <th>Gross</th>
            <th>Points</th>
            <th>&nbsp;</th>
      		</tr>
      	</thead>
        <tbody>
          <% cache(cache_key_for_tournament_with_prefix(@tournament_day, "tournament-rankings")) do %>
            <% @flights_with_rankings.each_with_index do |flight, x| %>
              <% flight[:players].each_with_index do |player, i| -%>
              <tr>
                <td><strong><%= flight[:flight_number] %></strong></td>
                <td><strong><%= i + 1 %></strong></td>
                <td><%= player[:name] %></td>
                <td><%= player[:net_score] %></td>
                <td><%= player[:gross_score] %></td>
                <td><%= player[:points].to_i %></td>
                <td><%= link_to "Scorecard", player[:scorecard_url] %></td>
              </tr>
              <% end -%>
              <% if x < @tournament_day.flights_with_rankings.count - 1 -%>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <% end -%>
            <% end -%>
          <% end -%>
        </tbody>
      </table>
      <% else -%>
      <div class="panel-body">
        Rankings will be available once the tournament is underway.
      </div>
      <% end -%>
    </div>
  </div>
</div>