<ol class="breadcrumb">
  <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
  <li><%= link_to @tournament.name, play_tournament_path(@tournament) %></li>
  <li class="active">Pick a Tee Time</li>
</ol>

<h4>Tee Times for <%= @tournament.name %></h4>

<% @tournament.tournament_groups.each do |group| %>

<span class="label label-default"><%= group.tee_time_at.to_s(:time_only) %></span>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th width="60%">Players</th>
      <th width="20%">Pay Now (<%= number_to_currency(@tournament.dues_amount) %>)</th>
      <th width="20%">Pay On Site</th>
		</tr>
	</thead>
  <tbody>
    <% group.players_signed_up.each do |player| -%>
    <tr>
      <td><%= player.complete_name %></td>
      <% if player == current_user -%>
      <td><%= link_to "Cancel Registration", play_tournament_remove_signup_path(@tournament), :data => { :confirm => 'Are you sure you want to cancel this registration?' }, :method => :delete %></td>
      <% else -%>
      <td>&nbsp;</td>
      <% end -%>
    </tr>
    <% end %>
    <% (group.max_number_of_players - group.players_signed_up.count).abs.times do -%>
    <tr>
      <td>Time Available</td>
      <% if @tournament.includes_player?(current_user) == false -%>
      <td><%= link_to "Register & Pay", play_tournament_complete_signup_path(@tournament, group_id: group.id, pay_now: true), :method => :put, :role => "button", :class => "btn btn-default" %></td>
      <td><%= link_to "Register", play_tournament_complete_signup_path(@tournament, group_id: group.id, pay_now: false), :method => :put, :role => "button", :class => "btn btn-default" %>
      </td>
      <% else -%>
      <td>&nbsp;</td>
      <% end -%>
    </tr>
    <% end -%>
  </tbody>
</table>

<% end %>