<%= simple_form_for [@payment] do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <legend>Payment Details</legend>
  
  <h3>Basic Details</h3>
  <div class="well">      
    <%= f.input :user_id, collection: @users, :label => 'User', :label_method => :complete_name %>
    
	  <%= f.input :payment_amount, :label => 'Amount ($)', required: true, :hint => "Positive amounts for player payments, negative amounts for wins / cash outs." %>
  </div>
  
  <h3>Pick One of These Options</h3>
  <div class="well">
    <%= f.input :league_id, collection: @leagues, :label => 'League', :label_method => :name, :hint => "Specify a league if this payment is for dues." %>
      
    <%= f.input :tournament_id, collection: @tournaments, :label => 'Tournament', :label_method => :name, :hint => "Specify a tournament if this payment is for play." %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-default' %>
  </div>
<% end %>