<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @page_title %></h3>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Name</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Method</th>
          <th>Notes</th>
          <th>Details</th>
          <th><%= link_to 'Create Payment', new_payment_path, class: 'btn btn-primary' %></th>
    		</tr>
    	</thead>
    	<tbody>
    	<% @payments.each do |payment| %>
    		<tr>
    			<td><%= link_to payment.user.complete_name, payment_path(payment) unless payment.user.blank? %></td>
          <td><%= payment.created_at.to_s(:short) %></td>
          <td><%= number_to_currency(payment.payment_amount) %></td>
          <td><%= payment.payment_source %></td>
          <td><%= payment.payment_details %></td>
          <td><%= payment.generated_description %></td>
          <% if payment.modifiable? -%>
            <td><%= link_to "Edit", edit_payment_path(payment) %> | <%= link_to 'Delete', payment_path(payment), :data => { confirm: 'Are you sure you want to delete this payment?' }, method: :delete %></td>
          <% else -%>
            <td>&nbsp;</td>
          <% end -%>
    		</tr>
    	<% end %>
    	</tbody>
    </table>
  </div>
</div>

<%= paginate @payments %>
