<ol class="breadcrumb">
  <li><%= link_to "Payments", payments_path %></li>
  <li class="active">Details</li>
</ol>

<h3>Transaction <%= @payment.id %></h3>
<div class="well">  
  <h4><%= @payment.user.complete_name %></h4>
  <h4><%= @payment.created_at.to_s %></h4>
  <h4><%= number_to_currency(@payment.payment_amount) %></h4>
  <h4><%= @payment.payment_source %></h4>
  <h4><%= @payment.payment_details %></h4>
  <h4><%= @payment.transaction_id %></h4>
</div>

<h3>User Balance</h3>
<div class="well">
  <% @payment.user.leagues.each do |l| -%>
    <%= l.name %>: <%= number_to_currency(@payment.user.payments_for_league(l).map(&:payment_amount).sum) %><br/>
  <% end -%>
</div>

<h3>User Transactions</h3>
<table class="table table-striped">
	<thead>
		<tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Method</th>
      <th>Details</th>
      <th>Description</th>
		</tr>
	</thead>
	<tbody>
	<% @payment.user.payments.each do |payment| %>
		<tr>
      <td><%= link_to payment.created_at.to_s(:short), payment_path(payment) %></td>
      <td><%= number_to_currency(payment.payment_amount) %></td>
      <td><%= payment.payment_source %></td>
      <td><%= payment.payment_details %></td>
      <td><%= payment.generated_description %></td>
		</tr>
	<% end %>
	</tbody>
</table>