<% if is_editable?(@tournament) -%>
  <%= simple_form_for [@tournament.league, @tournament, @tournament_day] do |f| %>
    <% if notification = f.error_notification %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notification %>
      </div>
    <% end %>
  
    <legend>Tournament Day Details</legend>
    
    <h3>Basic Details</h3>
    <div class="well">  
      <%= f.input :course_id, collection: @courses, :label => 'Course', :label_method => :name %>
      
      <%= f.input :tournament_at, :label => 'Tournament Date', required: true, :as => :datetime_picker %>
    </div>

    <div class="form-actions">
      <% if @tournament_day.new_record? -%>
        <%= f.button :submit, "Save & Create Another Day", :class => 'btn btn-default' %>
        <%= f.button :submit, "Save & Continue", :class => 'btn btn-primary' %>
      <% else -%>
        <%= f.button :submit, "Save", :class => 'btn btn-default' %>
      <% end -%>
    </div>
  <% end %>
<% else -%>
  <div class="well">
    This tournament day cannot be edited because the tournament is underway.
  </div>
<% end %>