<% if is_editable?(@tournament) -%>
  <%= simple_form_for [@tournament.league, @tournament, @tournament_day] do |f| %>
    <% if notification = f.error_notification %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notification %>
      </div>
    <% end %>

    <legend>Tournament Day Details</legend>

    <h3>Basic Details</h3>
    <div class="well">
      <% if @tournament.players_for_day(@tournament_day).count > 0 %>
        <p><strong><%= @tournament_day.course.name %></strong></p>
        <p><em>A tournament day's course cannot be changed after players have signed up - remove the players or create a new tournament day to select a different course.</em></p>
      <% else %>
        <p><strong>Select a course:</strong></p>
        <%= f.input :course_id, collection: @courses, label: false, label_method: :complete_name, input_html: { class: 'chosen-select' } %>

        <p>Don't see your course? We're adding courses all the time. <a href='mailto:support@ezgolfleague.com?subject=New%20Course'>Drop us a line</a> to let us know what you're missing.</p>
      <% end %>

      <%= f.input :tournament_at, label: 'Tournament Date', required: true, as: :datetime_picker %>

      <%= f.input :enter_scores_until_finalized, label: 'Allow Players to Enter Scores Until Finalized?', required: true, as: :boolean %>
      <p>If you leave this un-checked, players are only able to score on the day of the tournament. Selecting this option allows scoring until you finalize the tournament.</p>
    </div>

    <div class="form-actions">
      <% if @tournament_day.new_record? -%>
        <%= f.button :submit, "Save & Create Another Day", class: 'btn btn-default' %>
        <%= f.button :submit, "Save & Continue", class: 'btn btn-primary' %>
      <% else -%>
        <%= f.button :submit, "Save", class: 'btn btn-default' %>
      <% end -%>
    </div>
  <% end %>
<% else -%>
  <div class="well">
    This tournament day cannot be edited because the tournament is underway.
  </div>
<% end %>
