<%= simple_form_for [@course, @course_hole], remote: @remote_form do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <h3>Hole Details</h3>
  <div class="well">  
	  <%= f.input :hole_number, :label => 'Number', required: true %>
  
    <%= f.input :par, :label => 'Par', required: true %>
    
    <%= f.input :mens_handicap, :label => "Men's Handicap" %>
    
    <%= f.input :womens_handicap, :label => "Women's Handicap" %>
  </div>

  <h3>Tee Box Info</h3>  
  <%= f.simple_fields_for :course_hole_tee_boxes do |b| %>
    <div class="well">
      <%= b.input :name, :label => 'Name (i.e. Black)', required: true %>

      <%= b.input :yardage, :label => 'Yards', required: true %>
      
      <%= b.input :description, :label => "Optional Description (i.e. Men's)" %>
      
      <% if !@course_hole.new_record? -%>
        <%= link_to 'Delete Tee Box', course_course_hole_course_hole_tee_box_path(@course, @course_hole, b.object), :data => { :confirm => 'Are you sure you want to delete this tee box?' }, :method => :delete %>
      <% end -%>
    </div>
  <% end %>
  
  <div class="form-actions">
    <% if !@course_hole.new_record? -%>
        <%= link_to 'Add Tee Box', new_course_course_hole_course_hole_tee_box_path(@course, @course_hole), :class => 'btn btn-primary' %>
    <% end -%>
    
    <br/><br/>
    
    <%= f.button :submit, :class => 'btn btn-default' %>
  </div>
<% end %>