<ol class="breadcrumb">
  <li><%= link_to "Courses", courses_path %></li>
  <li><%= link_to @course.name, edit_course_path(@course) %></li>
  <li class="active">Holes</li>
</ol>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Course Holes</h3>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Hole Number</th>
          <th>Par</th>
          <th>Yards</th>
          <th>Handicap (Men / Women)</th>
          <th><%= link_to 'Create Hole', new_course_course_hole_path(@course), class: 'btn btn-primary' %></th>
    		</tr>
    	</thead>
    	<tbody>
    	<% @course_holes.each do |course_hole| %>
        <tr>
          <td><%= link_to course_hole.hole_number, edit_course_course_hole_path(@course, course_hole) %></td>
          <td><%= course_hole.par %></td>
          <td>
            <% course_hole.yardage_strings.each do |y| %>
              <%= y %><br/>
            <% end -%>
          </td>
          <td><%= course_hole.mens_handicap %> / <%= course_hole.womens_handicap %></td>
          <td><%= link_to "Edit", edit_course_course_hole_path(@course, course_hole) %> | <%= link_to 'Delete', course_course_hole_path(@course, course_hole), :data => { confirm: 'Are you sure you want to delete this hole?' }, method: :delete %></td>
        </tr>
    	<% end %>
    	</tbody>
      <tfoot>
    		<tr>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
          <th><%= link_to 'Create Hole', new_course_course_hole_path(@course), class: 'btn btn-primary' %></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>