<%= simple_form_for @course do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <legend>Course Details</legend>
  
  <h3>Basic Details</h3>
  <div class="well">  
	  <%= f.input :name, :label => 'Name', required: true %>
  </div>

  <h3>Location</h3>
  <div class="well">
    <%= f.input :street_address_1, :label => 'Street Address 1', placeholder: '123 Main Street' %>
  
    <%= f.input :street_address_2, :label => 'Street Address 2', placeholder: 'Suite 200' %>
  
    <%= f.input :city, :label => 'City' %>
    
	  <%= f.input :us_state, :label => 'State', collection: @us_states %>

	  <%= f.input :postal_code, :label => 'Zip Code' %>
    
    <%= f.input :phone_number, :label => 'Phone Number' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-default' %>
  </div>
<% end %>

<h3>Holes</h3>
<div class="well">
  <table class="table table-striped" id="course-holes-table">
    <thead>
      <tr>
        <th>Hole Number</th>
        <th>Par</th>
        <th>Yardage</th>
        <th><%= link_to 'New Hole', new_course_course_hole_path(@course), remote: true, :class => 'btn btn-primary' %></th>
      </tr>
    </thead>
    <tbody>
    <% @course.course_holes.each do |hole| %>
      <%= render partial: 'course_holes/table_row', locals: {course_hole: hole, course: @course} %>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th><%= link_to 'New Hole', new_course_course_hole_path(@course), remote: true, :class => 'btn btn-primary' %></th>
      </tr>
    </tfoot>
  </table>
  
  <div id="course-hole-form" style="display:none;"></div>
</div>