<div class="col-md-12">
  <div class="input-group">
  <%= simple_form_for :user_search, url: user_accounts_path, method: :get do |f| %>
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
  <% end %>
  </div>
  <div>&nbsp;</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Courses</h3>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Name</th>
          <th width="10%">Tee Boxes</th>
          <th width="10%">Holes</th>
          <th>Date Added</th>
          <th><%= link_to 'Create Course', new_course_path, :class => 'btn btn-primary' %></th>
    		</tr>
    	</thead>
    	<tbody>
    	<% @courses.each do |course| %>
    		<tr>
    			<td><%= link_to "#{course.name} (#{course.city}, #{course.us_state})", edit_course_path(course) %></td>
          <td><div style="float: right;"><%= course.course_tee_boxes.count %> <%= link_to "Edit", course_course_tee_boxes_path(course) %></div></td>
          <td><div style="float: right;"><%= course.course_holes.count %> <%= link_to "Edit", course_course_holes_path(course) %></div></td>
    			<td><%= course.created_at.to_s(:date_and_time) %></td>
          <td><%= link_to "Edit", edit_course_path(course) %></td>
    		</tr>
    	<% end %>
    	</tbody>
      <tfoot>
    		<tr>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
    			<th>&nbsp;</th>
          <th><%= link_to 'Create Course', new_course_path, :class => 'btn btn-primary' %></th>
    		</tr>
      </tfoot>
    </table>
  </div>
</div>

<%= paginate @courses %>
