<%= simple_form_for @notification_template do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>Notification Details</legend>

  <h3>Basic Details</h3>
  <div class="well">
    <%= f.input :title, :label => 'Title (Mobile + Email)', required: true %>

    <%= f.input :body, :label => 'Body Text (Email Only)' %>

    <% if @notification_template.tournament_notification_action.blank? %>
      <%= f.input :deliver_at, :label => 'Delivery Date', required: true, :as => :datetime_picker %>
    <% else %>
      <p>This notification will be sent: <%= @notification_template.tournament_notification_action %></p>
    <% end %>
  </div>

  <h3>Who Should This Go To?</h3>
  <div class="well">
    <% if @notification_template.tournament_notification_action.blank? %>
      <%= f.input :league_id, collection: @leagues, :label => 'All League Members', :label_method => :name %>

      <%= f.input :tournament_id, collection: @tournaments, :label => 'Just These Tournament Players', :label_method => :name %>

      <p>
        <em>Note that child users with parents will also be notified even if they are not members of the league.</em>
      </p>
    <% else %>
      <p>This will be sent to all players in the tournament: <%= @notification_template.tournament.name %></p>
    <% end %>
  </div>

  <% if @notification_template.has_been_delivered == true -%>
    <h4>This notification has already been sent - changes will not be re-delivered.</h4>
  <% end -%>

  <div class="form-actions">
    <%= f.button :submit, "Save Notification", :class => 'btn btn-default' %>
  </div>

<% end %>
