<div class="well">
  <h4>Manage Your Tournament</h4>
  <nav>
    <ul class="pagination">
      <% if @tournament.new_record? -%>
        <li class='active'><%= link_to '1. Basic Details', "#" %></li>
        <li class='disabled'><%= link_to '2. Hole Information', "#" %></li>
        <li class='disabled'><%= link_to '3. Game Types', "#" %></li>
        <li class='disabled'><%= link_to '4. Tee Times', "#" %></li>
        <li class='disabled'><%= link_to '5. Flights & Payouts', "#" %></li>
        <li class='disabled'><%= link_to '6. Contests & Results', "#" %></li>
        <li class='disabled'><%= link_to '7. Finalize Scores & Payouts', "#" %></li>
      <% else -%>
        <li <%= tournament_class_for_stage(stage, "basic_details") %> ><%= link_to '1. Basic Details', edit_league_tournament_path(tournament.league, tournament) %></li>
        <li <%= tournament_class_for_stage(stage, "hole_information") %> ><%= link_to '2. Hole Information', league_tournament_manage_holes_path(tournament.league, tournament) %></li>
        <li <%= tournament_class_for_stage(stage, "game_types") %>><%= link_to '3. Game Types', league_tournament_game_types_path(tournament.league, tournament) %></li>
        <li <%= tournament_class_for_stage(stage, "tee_times") %>><%= link_to '4. Tee Times', league_tournament_tournament_groups_path(tournament.league, tournament) %></li>
        <li <%= tournament_class_for_stage(stage, "flights") %>><%= link_to '5. Flights & Payouts', league_tournament_flights_path(tournament.league, tournament) %></li>
        <li <%= tournament_class_for_stage(stage, "contests") %>><%= link_to '6. Contests & Results', league_tournament_contests_path(tournament.league, tournament) %></li>
      <% end -%>
    
      <% if tournament.can_be_finalized? -%>
        <li <% if @tournament.new_record? -%>class='disabled'<% end -%>><%= link_to '6. Finalize Scores & Payouts', league_tournament_finalize_path(tournament.league, tournament) %></li>
      <% end -%>
    </ul>
  </nav>
  
  <% if !tournament.can_be_finalized? -%>
  <p><em>This tournament is missing data required for it to be finalized. Please check that flights and payouts are in place first.</em></p>
  <% end -%>
</div>