<div class="well">
  <h4>Manage Your Tournament</h4>
  <nav>
    <ul class="pagination">
      <% if @tournament.new_record? -%>
        <li class='active'><%= link_to 'Basic Details', "#" %></li>
        <li class='disabled'><%= link_to 'Days', "#" %></li>
        <li class='disabled'><%= link_to 'Holes', "#" %></li>
        <li class='disabled'><%= link_to 'Game Type', "#" %></li>
        <li class='disabled'><%= link_to 'Tee Times', "#" %></li>
        <li class='disabled'><%= link_to 'Flights', "#" %></li>
        <li class='disabled'><%= link_to 'Payouts', "#" %></li>
        <li class='disabled'><%= link_to 'Contests', "#" %></li>
        <li class='disabled'><%= link_to 'Notifications', "#" %></li>
        <li class='disabled'><%= link_to 'Players', "#" %></li>
        <li class='disabled'><%= link_to 'Finalize', "#" %></li>
      <% else -%>
        <% if @tournament.tournament_days.count == 1 -%>
          <li <%= tournament_class_for_stage(stage, "basic_details") %> ><%= link_to 'Basic Details', edit_league_tournament_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "days") %> ><%= link_to 'Days', league_tournament_tournament_days_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "hole_information") %> ><%= link_to 'Holes', league_tournament_manage_holes_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "game_types") %>><%= link_to 'Game Type', edit_league_tournament_game_types_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "tee_times") %>><%= link_to 'Tee Times', league_tournament_tournament_groups_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "flights") %>><%= link_to 'Flights', league_tournament_flights_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "payouts") %>><%= link_to 'Payouts', league_tournament_payouts_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "contests") %>><%= link_to 'Contests', league_tournament_contests_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "notifications") %>><%= link_to 'Notifications', league_tournament_tournament_notifications_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "players#{tournament.tournament_days.first.id}") %>><%= link_to 'Players', league_tournament_day_players_path(tournament.league, tournament, tournament.tournament_days.first) %></li>
          <% if !@tournament.new_record? -%>
            <li <%= tournament_class_for_stage(stage, "finalize") %>><%= link_to 'Finalize', league_tournament_finalize_path(tournament.league, tournament) %></li>
          <% end -%>
        <% else -%>
          <li <%= tournament_class_for_stage(stage, "basic_details") %> ><%= link_to 'Basic Details', edit_league_tournament_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "days") %> ><%= link_to 'Days', league_tournament_tournament_days_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "hole_information") %> ><%= link_to 'Holes', league_tournament_manage_holes_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "game_types") %>><%= link_to 'Game Type', edit_league_tournament_game_types_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "notifications") %>><%= link_to 'Notifications', league_tournament_tournament_notifications_path(tournament.league, tournament) %></li>
        <% end -%>
      <% end -%>
    </ul>
  </nav>

  <% if @tournament.tournament_days.count > 1 -%>
    <% @tournament.tournament_days.each do |day| -%>
      <nav>
        <h4><%= day.pretty_day %></h4>
        <ul class="pagination">
          <li <%= tournament_class_for_stage(stage, "tee_times#{day.id}") %>><%= link_to 'Tee Times', league_tournament_tournament_groups_path(tournament.league, tournament, tournament_day: day) %></li>
          <li <%= tournament_class_for_stage(stage, "flights#{day.id}") %>><%= link_to 'Flights', league_tournament_flights_path(tournament.league, tournament, tournament_day: day) %></li>
          <li <%= tournament_class_for_stage(stage, "payouts#{day.id}") %>><%= link_to 'Payouts', league_tournament_payouts_path(tournament.league, tournament, tournament_day: day) %></li>
          <li <%= tournament_class_for_stage(stage, "contests#{day.id}") %>><%= link_to 'Contests', league_tournament_contests_path(tournament.league, tournament, tournament_day: day) %></li>
          <li <%= tournament_class_for_stage(stage, "players#{day.id}") %>><%= link_to 'Players', league_tournament_day_players_path(tournament.league, tournament, day) %></li>
        </ul>
      </nav>
    <% end -%>

    <nav>
      <ul class="pagination">
        <li <%= tournament_class_for_stage(stage, "finalize") %>><%= link_to 'Finalize Tournament', league_tournament_finalize_path(tournament.league, tournament) %></li>
      </ul>
    </nav>
  <% end -%>
</div>

<% if !@tournament.league.blank? && !@tournament.league.has_active_subscription? %>
  <div class="alert alert-warning" role="alert">
    <p>You don't currently have an active subscription. While you can setup your tournament, your golfers will not be able to register or score.</p>
    <p>To active your subscription, please <%= link_to "click here", "#", class: "alert-link" %>.</p>
  </div>
<% end %>
