<div class="well">
  <h4>Manage Your Tournament</h4>
  <nav>
    <ul class="pagination">
      <% if @tournament.new_record? -%>
        <li class='active'><%= link_to 'Basic Details', "#" %></li>
        <li class='disabled'><%= link_to 'Days', "#" %></li>
        <li class='disabled'><%= link_to 'Game Types', "#" %></li>
        <li class='disabled'><%= link_to 'Tee Times', "#" %></li>
        <li class='disabled'><%= link_to 'Flights', "#" %></li>
        <li class='disabled'><%= link_to 'Notifications', "#" %></li>
        <% if @tournament.league_season.is_teams? %>
          <li class='disabled'><%= link_to 'Teams', "#" %></li>
          <% if @tournament.tournament_days.first.optional_scoring_rules_with_dues.count > 0 %>
            <li class='disabled'><%= link_to 'Players', "#" %></li>
          <% end %>
        <% else %>
          <li class='disabled'><%= link_to 'Players', "#" %></li>
        <% end %>
        <li class='disabled'><%= link_to 'Calculate Results', "#" %></li>
      <% else -%>
        <% if @tournament.tournament_days.count == 1 -%>
          <li <%= tournament_class_for_stage(stage, "basic_details") %> ><%= link_to 'Basic Details', edit_league_tournament_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "days") %> ><%= link_to 'Days', league_tournament_tournament_days_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "scoring_rules") %>><%= link_to 'Game Types', league_tournament_tournament_day_scoring_rules_path(tournament.league, tournament, tournament.tournament_days.first) %></li>
          <li <%= tournament_class_for_stage(stage, "tee_times") %>><%= link_to 'Tee Times', league_tournament_tournament_day_tournament_groups_path(tournament.league, tournament, tournament.tournament_days.first) %></li>
          <li <%= tournament_class_for_stage(stage, "flights") %>><%= link_to 'Flights', league_tournament_tournament_day_flights_path(tournament.league, tournament, tournament.tournament_days.first) %></li>
          <li <%= tournament_class_for_stage(stage, "notifications") %>><%= link_to 'Notifications', league_tournament_tournament_day_tournament_notifications_path(tournament.league, tournament, tournament.tournament_days.first) %></li>
          
          <% if @tournament.league_season.is_teams? %>
            <li <%= tournament_class_for_stage(stage, "teams#{tournament.tournament_days.first.id}") %>><%= link_to 'Teams', league_tournament_day_teams_path(tournament.league, tournament, tournament.tournament_days.first) %></li>
            <% if @tournament.tournament_days.first.optional_scoring_rules_with_dues.count > 0 %>
              <li <%= tournament_class_for_stage(stage, "players#{tournament.tournament_days.first.id}") %>><%= link_to 'Players', league_tournament_day_players_path(tournament.league, tournament, tournament.tournament_days.first) %></li>
            <% end %>
          <% else %>
            <li <%= tournament_class_for_stage(stage, "players#{tournament.tournament_days.first.id}") %>><%= link_to 'Players', league_tournament_day_players_path(tournament.league, tournament, tournament.tournament_days.first) %></li>
          <% end %>

          <% if !@tournament.new_record? -%>
            <li <%= tournament_class_for_stage(stage, "finalize") %>><%= link_to 'Calculate Results', league_tournament_finalization_path(tournament.league, tournament) %></li>
          <% end -%>
        <% else -%>
          <li <%= tournament_class_for_stage(stage, "basic_details") %> ><%= link_to 'Basic Details', edit_league_tournament_path(tournament.league, tournament) %></li>
          <li <%= tournament_class_for_stage(stage, "days") %> ><%= link_to 'Days', league_tournament_tournament_days_path(tournament.league, tournament) %></li>
        <% end -%>
      <% end -%>
    </ul>
  </nav>

  <% if @tournament.tournament_days.count > 1 -%>
    <% @tournament.tournament_days.each do |day| -%>
      <nav>
        <h4><%= day.pretty_day %></h4>
        <ul class="pagination">
          <li <%= tournament_class_for_stage(stage, "scoring_rules") %>><%= link_to 'Game Types', league_tournament_tournament_day_scoring_rules_path(tournament.league, tournament, day) %></li>
          <li <%= tournament_class_for_stage(stage, "tee_times#{day.id}") %>><%= link_to 'Tee Times', league_tournament_tournament_day_tournament_groups_path(tournament.league, tournament, day) %></li>
          <li <%= tournament_class_for_stage(stage, "flights#{day.id}") %>><%= link_to 'Flights', league_tournament_tournament_day_flights_path(tournament.league, tournament, day) %></li>

          <% if @tournament.league_season.is_teams? %>
            <li <%= tournament_class_for_stage(stage, "teams#{day.id}") %>><%= link_to 'Teams', league_tournament_day_teams_path(tournament.league, tournament, day) %></li>
            <% if @tournament.tournament_days.first.optional_scoring_rules_with_dues.count > 0 %>
              <li <%= tournament_class_for_stage(stage, "players#{day.id}") %>><%= link_to 'Players', league_tournament_day_players_path(tournament.league, tournament, day) %></li>
            <% end %>
          <% else %>
            <li <%= tournament_class_for_stage(stage, "players#{day.id}") %>><%= link_to 'Players', league_tournament_day_players_path(tournament.league, tournament, day) %></li>
          <% end %>
        </ul>
      </nav>
    <% end -%>

    <nav>
      <ul class="pagination">
        <li <%= tournament_class_for_stage(stage, "finalize") %>><%= link_to 'Calculate Results', league_tournament_finalization_path(tournament.league, tournament) %></li>
      </ul>
    </nav>
  <% end -%>
</div>
