<tr>
  <td>
    <strong><%= ranking.rank %></strong>
  </td>
  <% if ranking.user.present? && current_user.id == ranking.user.id -%>
    <td>
      <strong><%= ranking.name %></strong>
    </td>
  <% else -%>
  <td><%= ranking.name %></td>
  <% end -%>
  <td><%= ranking.average_score %></td>
  <td><%= ranking.user.handicap_index %></td>
</tr>