<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= current_user.selected_league.name %></h3>
      </div>
      <div class="panel-body">
        <% if current_user.selected_league.display_balances_to_players %>
          <p><em>Your current league balance is <%= number_to_currency(current_user.payments_for_league(current_user.selected_league).map(&:payment_amount).sum) %>. You can use positive balances to pay league dues and tournament fees.</em></p>
        <% end %>

        <p><%= link_to "View your complete transaction history.", play_payments_path %></p>
        <% if has_paid_dues == false -%>
          <p><%= link_to "Pay #{league_season.name} Dues Now", new_play_payment_path(:payment_type => "league_dues", :league_id => current_user.selected_league.id, :league_season_id => league_season), :class => 'btn btn-primary' %></p>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<% if current_user.requires_additional_profile_data?-%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Additional Profile Information is Required</h3>
      </div>
      <div class="panel-body">
        <p>Your profile is missing important information like a phone number and address. Please enter that information to help keep our records up to date.</p>
        <p><%= link_to "Update Profile", edit_play_user_account_path %></p>
      </div>
    </div>
  </div>
</div>
<% end -%>