<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
      <th>When</th>
      <% if is_previous == false -%>
      <th>Registered</th>
      <% else -%>
      <th>Played</th>
      <th>Score</th>
      <% end -%>
		</tr>
	</thead>
  <tbody>
    <% tournaments.each do |t| %>
    <tr>
      <td><%= link_to t.name, play_tournament_path(t) %></td>
      <td><%= t.tournament_at.to_s(:date_and_time) %></td>
      <td><%= human_boolean(t.includes_player?(current_user)) %>
        <% if !t.includes_player?(current_user) -%>
         | <%= link_to "Register", play_tournament_signup_path(t) %>
        <% else %>
         | <%= link_to "Edit", play_tournament_signup_path(t) %>
        <% end -%>
      </td>
      <% unless is_previous == false -%>
      <td><%= t.player_score(current_user) %></td>
      <% end -%>
    </tr>
    <% end %>
  </tbody>
</table>