<script>
  mixpanel.identify();
  amplitude.getInstance().setUserId('<%= current_user.id %>');

  _dcq.push(["identify", {
    email: "<%= current_user.email %>",
    first_name: "<%= current_user.first_name %>",
    last_name: "<%= current_user.last_name %>",
    tags: <%= current_user.drip_tags.to_json.html_safe %>,
    success: function(response) {
    // Call a method with the response object
    // Success callback is optional
    }
  }]);
</script>

<script>
  ezglTrackAnalyticsEvent("Viewed the player dashboard");
</script>

<div class="banner-img"></div><!-- /.banner-img -->
<div class="container">
  <div class="dashboard-header">
    <div class="row">
      <div class="col-md-6">
        <h2>Dashboard</h2>
      </div><!-- /.col-md-6 --> 
      <div class="col-md-6 text-uppercase text-right">
        <p>scorpion golf league</p>
      </div><!-- /.col-md-6 --> 
    </div><!-- /.row -->         
  </div><!-- /.dashboard-header --> 
  <div class="dashboard-content">
        <div class="row equal">
            <div class="col-lg-4">
              <div class="view-league-card h-100">
                  <div class="vlc-header">
                      <h2>2018 Season</h2>
                      <p class="text-uppercase">scorpion golf league</p>
                  </div><!-- /.vlc-header -->
                  <div class="gt-number">
                    <div class="row no-gutters">
                      <div class="col-6 border-right">
                        <div class="gt-content text-center">
                          <p class="text-uppercase">golfers</p>
                          <h2>28</h2>
                        </div>                            
                      </div>
                      <div class="col-6">
                        <div class="gt-content text-center">
                          <p class="text-uppercase">tourneys</p>
                          <h2>9</h2>
                        </div>
                      </div>
                    </div>
                  </div><!-- /.gt-number -->
                  <div class="ppp-header">
                    <div class="row">
                      <div class="col-2">
                          <p class="text-uppercase">pos</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p class="text-uppercase">player</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p class="text-uppercase">pts</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                  </div><!-- /.ppp-header -->
                  <div class="ppp-content">
                    <div class="row">
                      <div class="col-2">
                          <p>1</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p>Jeremy Smith</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p>200</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-2">
                          <p>2</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p>Mike Austin</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p>180</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-2">
                          <p>3</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p>Kevin Johnson</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p>160</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-2">
                          <p>4</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p>Craig Inesta</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p>150</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-2">
                          <p>5</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p>Jack Rembrandt</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p>145</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-2">
                          <p>6</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p>Peter McBride</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p>130</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-2">
                          <p>7</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p>Vince Demora</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p>100</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-2">
                          <p>8</p>
                      </div><!-- /.col-3 -->
                      <div class="col-8">
                          <p>Tito Rodriguez</p>
                      </div><!-- /.col-3 -->
                      <div class="col-2">
                          <p>80</p>
                      </div><!-- /.col-3 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-md-12">
                        <a href="#" class="view-league-btn">View League</a>
                      </div>
                    </div>
                  </div><!-- /.ppp-content -->
              </div><!-- /.view-league-card -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <div class="view-tournament-card h-100">
                    <div class="view-tournament-card-header">
                      <div class="row">
                        <div class="col-md-8 vtch-left-content">
                            <h2>Fall Classic Tournament</h2>
                            <p class="text-uppercase">december 18th, 2018 <a href="#">registration open</a></p>
                        </div><!-- /.col-md-8 -->
                        <div class="col-md-4 text-right">
                            <a href="#" class="btn btn-primary">View Tournament</a>
                        </div><!-- /.col-md-8 -->
                      </div><!-- /.row -->
                    </div><!-- /.view-tournament-card-header -->
                    <div class="player-box">
                        <div class="row">
                          <div class="col-md-6">
                            <h2>Players</h2>
                          </div><!-- /.col-md-6 -->
                          <div class="col-md-6">
                            <ul class="list-inline player-list text-uppercase">
                              <li class="list-inline-item">12<span>registered</span></li>
                              <li class="list-inline-item">7<span>paid</span></li>
                            </ul>
                          </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.player-box -->
                    <div class="player-list-header">
                        <div class="row text-uppercase">
                          <div class="col-md-6">
                            player
                          </div>
                          <div class="col">
                            tee time
                          </div>
                          <div class="col">
                            dues paid
                          </div>
                          <div class="col">
                            contests
                          </div>
                        </div>
                    </div>
                    <div class="player-list-content mCustomScrollbar" data-mcs-theme="dark">
                      <div class="player-list-col">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="media">
                              <img src="images/players/1.png" alt="">
                              <div class="media-body">
                                <h2>Craig Inesta</h2>
                              </div>
                            </div>                              
                          </div>
                          <div class="col time-col">
                            8:00AM
                          </div>
                          <div class="col paid-col">
                            <span class="color-1"></span>Paid
                          </div>
                          <div class="col contests-co">
                            Yes
                          </div>
                        </div><!-- /.row -->
                      </div><!-- /.player-list-col --> 
                      <div class="player-list-col">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="media">
                              <img src="images/players/2.png" alt="">
                              <div class="media-body">
                                <h2>Peter McBride</h2>
                              </div>
                            </div>                              
                          </div>
                          <div class="col time-col">
                            8:00AM
                          </div>
                          <div class="col paid-col">
                            <span class="color-1"></span>Paid
                          </div>
                          <div class="col contests-co">
                            Yes
                          </div>
                        </div><!-- /.row -->
                      </div><!-- /.player-list-col -->  
                      <div class="player-list-col">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="media">
                              <img src="images/players/3.png" alt="">
                              <div class="media-body">
                                <h2>Kevin Johnson</h2>
                              </div>
                            </div>                              
                          </div>
                          <div class="col time-col">
                            8:00AM
                          </div>
                          <div class="col paid-col">
                            <span class="color-2"></span>Paid
                          </div>
                          <div class="col contests-co">
                            No
                          </div>
                        </div><!-- /.row -->
                      </div><!-- /.player-list-col -->  
                      <div class="player-list-col">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="media">
                              <img src="images/players/4.png" alt="">
                              <div class="media-body">
                                <h2>Mike Austin</h2>
                              </div>
                            </div>                              
                          </div>
                          <div class="col time-col">
                            8:00AM
                          </div>
                          <div class="col paid-col">
                            <span class="color-1"></span>Paid
                          </div>
                          <div class="col contests-co">
                            Yes
                          </div>
                        </div><!-- /.row -->
                      </div><!-- /.player-list-col -->  
                      <div class="player-list-col">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="media">
                              <img src="images/players/5.png" alt="">
                              <div class="media-body">
                                <h2>Jeremy Smith</h2>
                              </div>
                            </div>                              
                          </div>
                          <div class="col time-col">
                            8:00AM
                          </div>
                          <div class="col paid-col">
                            <span class="color-1"></span>Paid
                          </div>
                          <div class="col contests-co">
                            Yes
                          </div>
                        </div><!-- /.row -->
                      </div><!-- /.player-list-col -->  
                      <div class="player-list-col">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="media">
                              <img src="images/players/6.png" alt="">
                              <div class="media-body">
                                <h2>Jack Rembrandt</h2>
                              </div>
                            </div>                              
                          </div>
                          <div class="col time-col">
                            8:00AM
                          </div>
                          <div class="col paid-col">
                            <span class="color-1"></span>Paid
                          </div>
                          <div class="col contests-co">
                            Yes
                          </div>
                        </div><!-- /.row -->
                      </div><!-- /.player-list-col --> 
                      <div class="player-list-col">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="media">
                              <img src="images/players/7.png" alt="">
                              <div class="media-body">
                                <h2>Vince Demora</h2>
                              </div>
                            </div>                              
                          </div>
                          <div class="col time-col">
                            8:00AM
                          </div>
                          <div class="col paid-col">
                            <span class="color-1"></span>Paid
                          </div>
                          <div class="col contests-co">
                            Yes
                          </div>
                        </div><!-- /.row -->
                      </div><!-- /.player-list-col -->  
                      <div class="player-list-col">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="media">
                              <img src="images/players/8.png" alt="">
                              <div class="media-body">
                                <h2>Tito Rodriguez</h2>
                              </div>
                            </div>                              
                          </div>
                          <div class="col time-col">
                            8:00AM
                          </div>
                          <div class="col paid-col">
                            <span class="color-2"></span>Paid
                          </div>
                          <div class="col contests-co">
                            No
                          </div>
                        </div><!-- /.row -->
                      </div><!-- /.player-list-col -->  
                      
                    </div><!-- /.player-list-content -->                  
                </div><!-- /.view-tournament-card -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.dashboard-content -->
</div><!-- /.container --> 
</div>


<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body welcome p-5">
        <div class="p-3">
          <h2>Welcome to EZ Golf League</h2>
          <p>Have a look around, and then:</p>
        </div>

        <div class="p-4">
          <h5 class="pb-2">1. Add Golfers to your League</h5>
          <button type="button" class="btn btn-primary">Add Golfers to League</button>
        </div>

        <div class="p-5">
          <h5 class="pb-2">2. Create your first Tournament</h5>
          <button type="button" class="btn btn-primary">Create a Tournament</button>
        </div>
      </div>
      <div class="modal-footer welcome">
        <div class="input-container pr-4">
          <input type="checkbox" class="form-check-input" id="welcome-modal"></input>
          <label class="form-check-label welcome" for="welcome-modal">Don't show this again.</label>
        </div>
        <button type="button" class="btn__ezgl-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#welcomeModal').modal('show');
</script>