<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= current_user.selected_league.name %></h3>
      </div>
      <% if current_user.has_paid == false -%>
      <table class="table">
        <tbody>
          <tr>
            <td><em>Your annual league dues are unpaid. Please pay them now to remain in good standing.</em></td>
            <td><a href="#">Pay Now</a></td>
          </tr>
        </tbody>
      </table>
      <% end -%>
    </div>
  </div>
</div>

<% unless @todays_tournament.blank? -%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Today's League Tournament</h3>
      </div>
      <%= render partial: 'tournament_table', locals: {tournaments: [@todays_tournament], is_previous: false, is_current: true} %>
    </div>
  </div>
</div>
<% end -%>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">League Rankings</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <% @rankings.each_with_index do |player, i| %>
          <tr>
            <td><strong><%= i + 1 %></strong></td>
            <% if current_user.id == player[:id] -%>
            <td><strong><%= player[:name] %></strong></td>
            <% else -%>
            <td><%= player[:name] %></td>
            <% end -%>
            <td><%= player[:points] %></td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming League Tournaments</h3>
      </div>
      <% if @upcoming_tournaments.count > 0 -%>
      <%= render partial: 'tournament_table', locals: {tournaments: @upcoming_tournaments, is_previous: false, is_current: false} %>
      <% else -%>
      <div class="panel-body">
        No upcoming tournaments in this league.
      </div>
      <% end -%>
    </div>
  </div>
  
  <% if @past_tournaments.count > 0 -%>
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Previous League Tournaments</h3>
      </div>
      <%= render partial: 'tournament_table', locals: {tournaments: @past_tournaments, is_previous: true, is_current: false} %>
    </div>
  </div>
  <% end -%>
</div>