<script>
  mixpanel.identify();
  amplitude.getInstance().setUserId('<%= current_user.id %>');

  _dcq.push(["identify", {
    email: "<%= current_user.email %>",
    first_name: "<%= current_user.first_name %>",
    last_name: "<%= current_user.last_name %>",
    tags: <%= current_user.drip_tags.to_json.html_safe %>,
    success: function(response) {
    // Call a method with the response object
    // Success callback is optional
    }
  }]);
</script>

<script>
  ezglTrackAnalyticsEvent("Viewed the player dashboard");
</script>

<% unless @league_season.blank? && @league_season.dues_amount != 0.0 -%>
  <%= render partial: 'league_info', locals: {has_paid_dues: @league_season.user_has_paid?(current_user), league_season: @league_season} %>
<% end -%>

<% if current_user.selected_league.league_seasons.count > 1 -%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Select Season</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <% current_user.selected_league.league_seasons.each do |season| -%>
            <li role="presentation" <% if season == @league_season -%>class='active'<% end -%>>
              <%= link_to season.name, play_dashboard_switch_seasons_path(current_user.selected_league, season_id: season.id), method: :put %>
            </li>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end -%>

<% unless @todays_tournaments.blank? -%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Today's League Tournament</h3>
      </div>
      <%= render partial: 'tournament_table', locals: {tournaments: @todays_tournaments, is_previous: false, is_current: true} %>

      <% if @has_unpaid_upcoming_tournaments == true -%>
      <div class="panel-footer">
        <div class="alert alert-danger" role="alert">
          You have not yet paid the fees for this tournament. Be sure to pay before play begins.
        </div>
      </div>
      <% end -%>
    </div>
  </div>
</div>
<% end -%>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @league_season.name unless @league_season.blank? %> League Rankings</h3>
      </div>
      <% if @league_season.rankings_by_scoring_average %>
        <%= render partial: 'by_average_score_ranking_table', locals: {league_season: @league_season, rankings: @rankings} %>
      <% else %>
        <%= render partial: 'by_points_ranking_table', locals: {league_season: @league_season, rankings: @rankings} %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming League Tournaments</h3>
      </div>
      <% if @upcoming_tournaments.count > 0 -%>
        <%= render partial: 'tournament_table', locals: {tournaments: @upcoming_tournaments, is_previous: false, is_current: false} %>
      <% else -%>
      <div class="panel-body">
        No upcoming tournaments in this league.
      </div>
      <% end -%>
    </div>
  </div>

  <% if @past_tournaments.count > 0 -%>
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Previous League Tournaments</h3>
      </div>
      <%= render partial: 'tournament_table', locals: {tournaments: @past_tournaments, is_previous: true, is_current: false} %>
    </div>
  </div>
  <% end -%>
</div>
