<%= render partial: 'league_info', locals: {has_paid_dues: current_user.selected_league.user_has_paid?(current_user)} %>

<% unless @todays_tournaments.blank? -%>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Today's League Tournament</h3>
      </div>
      <%= render partial: 'tournament_table', locals: {tournaments: @todays_tournaments, is_previous: false, is_current: true} %>
      
      <% if @has_unpaid_upcoming_tournaments == true -%>
      <div class="panel-footer">
        <div class="alert alert-danger" role="alert">
          You have not yet paid the fees for this tournament. Be sure to pay before play begins.
        </div>
      </div>
      <% end -%>
    </div>
  </div>
</div>
<% end -%>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">League Rankings</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <% @rankings.each do |player| %>
          <tr>
            <td><strong><%= player[:ranking] %></strong></td>
            <% if current_user.id == player[:id] -%>
            <td><strong><%= player[:name] %></strong></td>
            <% else -%>
            <td><%= player[:name] %></td>
            <% end -%>
            <td><%= player[:points].to_i %></td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming League Tournaments</h3>
      </div>
      <% if @upcoming_tournaments.count > 0 -%>
      <%= render partial: 'tournament_table', locals: {tournaments: @upcoming_tournaments, is_previous: false, is_current: false} %>
      <% else -%>
      <div class="panel-body">
        No upcoming tournaments in this league.
      </div>
      <% end -%>
    </div>
  </div>
  
  <% if @past_tournaments.count > 0 -%>
  <div class="col-md-6">
    <div class="panel panel-default panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Previous League Tournaments</h3>
      </div>
      <%= render partial: 'tournament_table', locals: {tournaments: @past_tournaments, is_previous: true, is_current: false} %>
    </div>
  </div>
  <% end -%>
</div>

<div class="modal fade" id="PayModal" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Pay Your Annual Dues</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <p>Your annual dues can be paid now: <%= number_to_currency(current_user.selected_league.dues_amount) %>.</p>
              <p><em>Please note that dues are non-refundable.</em></p>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>First Name</td>
                    <td><input type="text" name=""></td>
                  </tr>
                  <tr>
                    <td>Last Name</td>
                    <td><input type="text" name=""></td>
                  </tr>
                  <tr>
                    <td>Address Line One</td>
                    <td><input type="text" name=""></td>
                  </tr>
                  <tr>
                    <td>Address Line Two (Optional)</td>
                    <td><input type="text" name=""></td>
                  </tr>
                  <tr>
                    <td>City</td>
                    <td><input type="text" name=""></td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td>
                      <select>
                        <option>Select a State</option>
                        <option>CA</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Zip Code</td>
                    <td><input type="text" name=""></td>
                  </tr>
                  <tr>
                    <td>Card Number</td>
                    <td><input type="text" name=""></td>
                  </tr>
                  <tr>
                    <td>Expiration Date</td>
                    <td>
                      <select>
                        <option>Month</option>
                      </select>
                      <select>
                        <option>Year</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>CVV</td>
                    <td><input type="text" name=""></td>
                  </tr>
                </tbody>
              </table>
              
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn">Pay Now</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->