<tr>
  <td id="user-select" class="user-select">
    <% if team.present? %>
	      <% if tournament_day.scorecard_base_scoring_rule.teams_are_player_vs_player? %>
	      	<% matchup.users_with_matchup_indicator(team).each do |u| %>
	      		<span class="badge badge-secondary"><%= u[:matchup_indicator] %></span>&nbsp;<%= u[:user].short_name %>
	      	<% end %>
	      <% else %>
	      	<%= team.name %>
	      <% end %>
      <%= f.input "team_id[#{team_index}]", as: :hidden, input_html: { value: team.id, class: "member-id" } %>
    <% else %>
      <span id="user-select-container">
        <%= f.input "team_id[#{team_index}]", label: false, collection: all_teams, label_method: :name, value_method: :id, include_blank: true, multiple: true, input_html: { class: 'chosen-select' } %>
      </span>
      <span id="user-hidden"></span>
    <% end %>
    <%= f.input "matchup_id", as: :hidden, input_html: { value: matchup.id } %>
  </td>
  <td id="action-buttons">
    <% if team.present? %>
    	<% if tournament_day.scorecard_base_scoring_rule.teams_are_player_vs_player? %>
		    <%= link_to "Specify Players", league_tournament_day_team_path(tournament.league, tournament, tournament_day, team), role: "button", class: "btn btn-info btn-xs" %>
	    <% end %>
      <%= link_to "Remove", league_tournament_delete_day_teams_path(tournament.league, tournament, tournament_day, matchup_id: matchup.id, team_id: team.id), data: { confirm: 'Are you sure you want to remove this team? This will delete all scores related to the users on this team.' }, method: :delete, role: "button", class: "btn btn-danger btn-xs" %>
    <% else %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
  </td>
</tr>