<script>
  ezglTrackAnalyticsEvent("Viewed team tournament signup", { tournament_id: "<%= @tournament.id %>", tournament: "<%= @tournament.name %>" });
</script>

<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active"><%= @tournament_day.pretty_day(true) %>Teams</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @tournament_day.pretty_day(true) %> Setup Teams</h3>
  </div>
  <div class="panel-body">
    <p>Specify which teams will be playing each other.</p>

    <p>Players will be added to the following team game types automatically:</p>
    <ul>
      <% @tournament.mandatory_team_scoring_rules.each do |rule| %>
        <li><%= rule.name %></li>
      <% end %> 
    </ul>

    <% if @tournament_day.scorecard_base_scoring_rule.teams_are_player_vs_player? %>
    	<p><em>Some of the game types for this tournament are player vs. player so you will see the matchup between players designated by a letter, i.e. 'A'. The matchups are based on the player handicaps.</em></p>
    <% end %>

    <p>After configuring your team matchups and who is playing, proceed to the Players tab to register the players from these teams.</p>
  </div>
</div>

<% @tournament_day.league_season_team_tournament_day_matchups.each_with_index do |matchup, i| %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Team Matchup <%= i + 1 %></h3>
	  </div>	  
    <%= simple_form_for :team_submit, url: league_tournament_update_day_teams_path(@tournament.league, @tournament, @tournament_day, matchup), remote: true, html: { class: '.form-inline' } do |f| %>
    <table class="table table-striped" id="<%= matchup.id %>">
      <tbody>
        <%= render partial: 'league_season_team', locals: { f: f, team_index: 0, tournament: @tournament, tournament_day: @tournament_day, matchup: matchup, all_teams: @all_teams, team: matchup.team_a } %>
        <%= render partial: 'league_season_team', locals: { f: f, team_index: 1, tournament: @tournament, tournament_day: @tournament_day, matchup: matchup, all_teams: @all_teams, team: matchup.team_b } %>
      </tbody>
    </table>
    <% end %>
	</div>
<% end %>

<style>
  .save-indicator {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-color: #00D400;
    border-radius: 8px;
  }
</style>

<div class="save-indicator" id="save-indicator">
  <p style="text-align: center; line-height: 50px; color: white;"><strong>Saving...</strong></p>
</div>

<script>
  function submitOptionalScoringRules(form) {
    form.trigger('submit.rails');

    $("#save-indicator").fadeIn(400).delay(1600).fadeOut(400);
  }

  $(document).ready(function() {
    $("#save-indicator").fadeOut(0);

    //Player
    $("#user-select .chosen-select").chosen().change(function() {
      $(this.form).trigger('submit.rails');

      $("#save-indicator").fadeIn(400).delay(1600).fadeOut(400);
    });

    var selectedTeams = [];
    <% @registered_teams.each do |p| %>
      selectedTeams.push({name: "<%= p.name %>", id: "<%= p.id %>"});
    <% end %>
    removeSelectedGolfersFromDropdowns(selectedTeams);

    $("#user-select .chosen-container").css({"width": "200px"});
    $("#team-select .chosen-container").css({"width": "200px"});
    $(".search-choice-close").remove();
  });
</script>