<%= simple_form_for [@tournament.league, @tournament, @tournament_day, @scoring_rule.form_class, @payout] do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>Payout Details</legend>

  <h3>Basic Details</h3>
  <div class="well">
    <% if @scoring_rule.flight_based_payouts? %>
      <%= f.input :flight_id, collection: @tournament_day.flights, label: flight_or_group(@tournament), label_method: :display_name %>
    <% end %>

	  <%= f.input :amount, label: 'Amount ($)', required: true %>

    <%= f.input :points, label: 'Points', required: true %>
  
    <% if @tournament.is_league_teams? %>
      <p><em>For team tournaments, if a payout has just dollars or dollars AND points, it is awarded once based on the rank of each team in the final results. If a payout ONLY has points, the winning team or player in each matchup will receive that number of points.</em></p>
    <% end %>
  </div>

  <div class="form-actions">
    <% if @payout.new_record? -%>
      <%= f.button :submit, "Save & Create Another Payout", class: 'btn btn-default' %>
      <%= f.button :submit, "Save & Continue", class: 'btn btn-primary' %>
    <% else -%>
      <%= f.button :submit, "Save", class: 'btn btn-default' %>
    <% end -%>
  </div>
<% end %>
