<ol class="breadcrumb">
  <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
  <li><%= link_to @tournament.name, edit_league_tournament_path(current_user.selected_league, @tournament) %></li>
  <li class="active"><%= @tournament_day.pretty_day(true) %>Payouts</li>
</ol>

<%= render partial: '/shared/tournaments/manage', locals: {tournament: @tournament, stage: @stage_name} %>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @tournament_day.pretty_day(true) %>Payouts</h3>
    </div>
    <div class="panel-body">
      Payouts are assigned to players sorted by the amount/points won - higher values going to higher placing players.
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Amount</th>
          <th>Points</th>
          <th><%= link_to 'Create Payout', new_league_tournament_payout_path(current_user.selected_league, @tournament, tournament_day: @tournament_day), :class => 'btn btn-primary', :id => "payout_button_1" %></th>
    		</tr>
    	</thead>
    	<tbody>
    	<% @payouts.each do |payout| %>
    		<tr>
    			<td><%= link_to number_to_currency(payout.amount), edit_league_tournament_tournament_day_flight_payout_path(@tournament.league, @tournament, @tournament_day, payout.flight, payout) %></td>
    			<td><%= payout.points.to_i %></td>
          <td><%= link_to "Edit", edit_league_tournament_payout_path(@tournament.league, @tournament, payout) %> | <%= link_to 'Delete', league_tournament_payout_path(@tournament.league, @tournament, payout), :data => { :confirm => 'Are you sure you want to delete this payout?' }, :method => :delete %></td>
    		</tr>
    	<% end %>
    	</tbody>
      <tfoot>
    		<tr>
    			<th>&nbsp;</th>
          <th>&nbsp;</th>
          <th><%= link_to 'Create Payout', new_league_tournament_payout_path(current_user.selected_league, @tournament, tournament_day: @tournament_day), :class => 'btn btn-primary' %></th>
    		</tr>
      </tfoot>
    </table>
  </div>
</div>