<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Tournaments</h3>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
          <th>Name</th>
    			<th>League</th>
          <th>Course</th>
          <th>Date</th>
          <th>&nbsp;</th>
    		</tr>
    	</thead>
    	<tbody>
    	<% tournaments.each do |tournament| %>
    		<tr>
          <td><%= tournament.name %></td>
          <td><%= tournament.league.name %><br/><%= tournament.season_name %></td>
          <td>
            <% tournament.tournament_days.each do |day| -%>
              <%= day.course.name %><br/>
            <% end -%>
          </td>
          <td>
            <% tournament.tournament_days.each do |day| -%>
              <%= day.tournament_at.to_s(:short) %><br/>
            <% end -%>
          </td>
          <td>
          <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              Run Report <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Confirmations and Payments", league_tournament_confirmed_players_path(tournament.league, tournament) %></li>
              <li><%= link_to "Adjusted Scores", adjusted_scores_league_reports_path(tournament: tournament) %></li>
            </ul>
          </div>
          </td>
    		</tr>
    	<% end %>
    	</tbody>
    </table>
  </div>
</div>

<%= paginate tournaments %>