<h4><%= @page_title %></h4>

<% if @tournament.tournament_days.count > 1 -%>
  <p>
  <% @tournament.tournament_days.each do |day| -%>
    <%= link_to_unless day == @tournament_day, day.pretty_day, adjusted_scores_league_reports_path(tournament: @tournament, tournament_day: day) %>
    <% if day != @tournament.tournament_days.last -%>
      | 
    <% end -%>
  <% end -%>
  </p>
<% end -%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table table-striped">
      	<thead>
      		<tr>
            <th>Flight</th>
            <th>Name</th>
      			<th>Adjusted</th>
            <th>Gross</th>
      		</tr>
      	</thead>
        <tbody>
          <% @report.results.each do |result| %>
            <tr>
              <td><%= result.flight.flight_number %></td>
              <td><%= result.user.complete_name %></td>
              <td><%= result.adjusted_score %></td>
              <td><%= result.gross_score %></td>
            </tr>
          <% end-%>
        </tbody>
      </table>
    </div>
  </div>
</div>