<!DOCTYPE html>
<html>
<head>
  <% if @page_title.blank? -%>
    <% if @tournament.blank? -%>
      <title>EZ Golf League</title>
    <% else -%>
      <title>Tournament: <%= @tournament.name %> || EZ Golf League</title>
    <% end -%>
  <% else -%>
  <title><%= @page_title %> || EZ Golf League</title>
  <% end -%>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('<%= STRIPE_PUBLISHABLE_KEY %>');
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87742013-1', 'auto');
    ga('require', 'ec');
    ga('send', 'pageview');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '469419466725681'); // Insert your pixel ID here.
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=469419466725681&ev=PageView&noscript=1"
  /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->
</head>
<body "data-no-turbolink">

<% if user_signed_in? -%>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        EZ Golf League
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Tournaments", league_tournaments_path(current_user.selected_league) %></li>
        <li><%= link_to "Reports", league_reports_path(current_user.selected_league) %></li>
        <li><%= link_to "Leagues", leagues_path %></li>
        <% if current_user.is_super_user %>
        <li><%= link_to "Courses", courses_path %></li>
        <% end -%>
        <li><%= link_to "Notifications", notification_templates_path %></li>
        <li><%= link_to "Payments", payments_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User Accounts <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "All User Accounts", user_accounts_path %></li>
            <% if current_user.is_super_user %>
            <li><%= link_to "Invite League Admin", setup_league_admin_invite_user_accounts_path %></li>
            <% end -%>
            <li><%= link_to "Invite Golfer", setup_golfer_invite_user_accounts_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.complete_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if !current_user.has_all_exempt_leagues? %>
            <li><%= link_to "Your Subscription", current_league_subscription_credits_path(current_user.selected_league) %></li>
            <% end %>
            <li><%= link_to "User Profile", edit_current_user_accounts_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% end -%>

<div class="container master-container">
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>

  <% if !current_user.selected_league.has_active_subscription? %>
    <div class="alert alert-warning fade in">
      You do not have an active subscription. Please <%= link_to "visit the subscription page", current_league_subscription_credits_path(current_user.selected_league) %> to setup billing and purchase tournament credits.
    </div>
  <% end %>

  <%= yield %>
</div>

<footer class="container">
  <br/>
  Copyright © EZ Golf League | <%= link_to "Privacy Policy", "/privacy_policy.html" %> | <%= link_to "Terms of Service", "/terms_of_service.html" %>

  <br/><br/>
  <div>
    <a href='https://itunes.apple.com/us/app/ez-golf-league/id1088689756?mt=8'><%= image_tag 'app_store.svg', width: "180" %></a>
    &nbsp;&nbsp;
    <a href='https://play.google.com/store/apps/details?id=com.ezgolfleague.golfapp&hl=en'><%= image_tag 'google-play-badge.png', width: "200" %></a>
  </div>

  <% if current_user != true_user && true_user.is_super_user %>
    <br/><br/>
    <strong>You (<%= true_user.complete_name %>) are signed in as <%= current_user.complete_name %>
    <br/>
    <%= link_to "Stop Impersonating", stop_impersonating_user_accounts_path %></strong>
<% end %>
</footer>

</body>
</html>
