<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% if @page_title.blank? -%>
      <% if @tournament.blank? -%>
        <title>EZ Golf League</title>
      <% else -%>
        <title>Tournament: <%= @tournament.name %> || EZ Golf League</title>
      <% end -%>
    <% else -%>
      <title><%= @page_title %> || EZ Golf League</title>
    <% end -%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">

    <%= render partial: 'shared/stripe' %> 
    <%= render partial: 'shared/analytics' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase" href="/">ezgl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= 'active' if request.path.include?('/dashboard') %>">
                  <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item <%= 'active' if request.path.include?('/leagues') %>">
                  <%= link_to "League", league_path(current_user.selected_league), class: 'nav-link' %>
                </li>
                <li class="nav-item <%= 'active' if request.path.include?('/tournaments') %>">
                  <%= link_to "Tournaments", league_tournaments_path(current_user.selected_league), class: 'nav-link' %>
                </li>
                <li class="nav-item <%= 'active' if request.path.include?('/golfers') %>">
                  <%= link_to "Golfers", user_accounts_path, class: 'nav-link' %>
                </li>
              </ul>     
              <ul class="ml-auto list-inline  profile-dropdown">
                <li class="list-inline-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= image_tag current_user.avatar.url(:thumb), class: 'img-circle' %></a>
                  <div class="dropdown-menu" aria-labelledby="dropdown08">
                    <%= link_to "My Profile", edit_user_account_path(current_user.id), class: 'dropdown-item' %>
                    <% if !current_user.has_all_exempt_leagues? && current_user.is_any_league_admin? %>
                     <%= link_to "Billing", current_league_subscription_credits_path(current_user.selected_league), class: 'dropdown-item' %>
                    <% end %>
                    <% if current_user.leagues.count > 1 -%>
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-divider-text">Switch League</p>
                      <% current_user.leagues.each do |l| -%>
                        <%= link_to l.name, switch_leagues_dashboard_index_path(league_id: l.id), method: :put, class: 'dropdown-item' %>
                     <% end -%>
                    <% end -%>
                    <% if current_user.present? && current_user.is_super_user %>
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-divider-text">Super Admin</p>
                      <%= link_to "Courses Admin", courses_path, class: 'dropdown-item' %>
                      <%= link_to "Reports", league_reports_path(current_user.selected_league), class: 'dropdown-item' %>
                      <%= link_to "Leagues Admin", leagues_path, class: 'dropdown-item' %>
                      <%= link_to "User Accounts Admin", user_accounts_path, class: 'dropdown-item' %>
                      <%= link_to "Invite League Admin", setup_league_admin_invite_user_accounts_path, class: 'dropdown-item' %>
                      <% if user_signed_in? && current_user != true_user && true_user.is_super_user %>
                      <%= link_to "Stop #{current_user.complete_name}", stop_impersonating_user_accounts_path, class: 'dropdown-item' %>
                      <% end %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                  </div>
                </li>
              </ul>     
            </div>
        </div><!-- /.container -->        
    </nav><!-- /.navbar -->    
    
    <%= yield %>

    <!-- <%= Rails.env %> -->

    <footer class="container pt-5 pb-4">
      <div class="pb-3">
        <a href='https://itunes.apple.com/us/app/ez-golf-league/id1088689756?mt=8'><%= image_tag 'app_store.svg', width: "150" %></a>
        <a href='https://play.google.com/store/apps/details?id=com.ezgolfleague.golfapp&hl=en'><%= image_tag 'google-play-badge.png', width: "170" %></a>
      </div>
      Copyright © EZ Golf League | <%= link_to "Privacy Policy", "/privacy_policy.html" %> | <%= link_to "Terms of Service", "/terms_of_service.html" %> | <a href='mailto:support@ezgolfleague.com?subject=I%20Need%20Help%20With%20EZ%20Golf%20League'>Email Support</a> <% if user_signed_in? && current_user.is_super_user %>| <%= link_to "Jobs Queue", "/jobs" %><% end %>
    </footer>

    <% if user_signed_in? -%>
      <script>
        $(function() {
          mixpanel.people.set({
            "$user_id": "<%= current_user.id %>",
            "$first_name": "<%= current_user.first_name %>",
            "$last_name": "<%= current_user.last_name %>",
            "$email": "<%= current_user.email %>",
            "$selected_league": "<%= current_user.selected_league.name %>"
          });
        });
      </script>
    <% end %>

    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script>
      $(window).on("load",function(){
          $(".content").mCustomScrollbar();
      });
    </script>
  </body>
</html>