<!DOCTYPE html>
<html>
<head>
  <% if @page_title.blank? -%>
  <title>EZ Golf League</title>
  <% else -%>
  <title><%= @page_title %> || EZ Golf League</title>
  <% end -%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('<%= current_user.selected_league.stripe_publishable_key unless current_user.blank? %>');
  </script>
</head>
<body "data-no-turbolink">

<% if user_signed_in? -%>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "ezgolf-logo.png" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "My Dashboard", play_dashboard_index_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.is_any_league_admin? %>
        <li><%= link_to "Admin Console", root_path %></li>
        <% end -%>

        <% if current_user.leagues.count > 1 -%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Switch Leagues <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% current_user.leagues.each do |l| -%>
            <li><%= link_to l.name, play_dashboard_switch_leagues_path(l, league_id: l.id), :method => :put %></li>
            <% end -%>
          </ul>
        </li>
        <% end -%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "User Profile", edit_play_user_account_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% else -%>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "ezgolf-logo.png" %>
      </a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<% end -%>

<div class="container master-container">
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
</div>

<footer class="container">
  <br/>
  Copyright © EZ Golf League, 2016
</footer>

</body>
</html>
