<!DOCTYPE html>
<html>
<head>
  <title>EZ Golf League</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body "data-no-turbolink">
	
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "ezgolf-logo.png" %>
      </a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container master-container">
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
</div>

<footer class="container">
  <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=harKf0XUqFGg22HrfecoXRz2baJkXjcPkRvFQ0zBMFSMERPq8jyizy8R1fOi"></script></span>
  <br/><br/>
  Copyright © EZ Golf League
</footer>

</body>
</html>